<div class="qa_box">
  <div class="qa_vip_class">
    <div class="qa_nav">
      <%= link_to questions_path do %>
        <span style="color: #999;"><%=VipClass.model_name.human%></span>
      <% end %>
    </div>
  </div>
</div>

<div class="qa_box">
  <div class="qa_question">
    <%= render @questions %>
  </div>
  <div class="qa_cell">
    <%= will_paginate @questions,renderer: BootstrapPagination::Rails %>
  </div>
</div>