<div class="modal fade" id="acceptModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-download">
    <div class="modal-content">
      <div class="modal-body">
        <p><%= t('wap.live_studio/courses.show.modal_content') %></p>
        <center>
          <%= link_to t('wap.live_studio/courses.show.modal_download'), download_wap_live_studio_courses_path, class: 'app_download', target: '_blank' %>
        </center>
      </div>
    </div>
  </div>
</div>