<%= render layout: "#{@message_board.model_name.singular_route_key}",locals: {message_board: @message_board} do %>
    <div class="qa_box">
        <%= render partial: "message_boards/index_header" %>
    </div>
<% end %>