  <div class="pull-left">
    <span class="label label-primary">
      交了<%=examination.solutions_count%>次<%=Solution.model_name.human%>
    </span>
  </div>
  <div class="pull-right">
    <% if allow? :solutions,:new,examination %>
        <%=link_to  send("new_#{examination.model_name.singular_route_key.downcase}_#{examination.model_name.singular_route_key.downcase}_solution_path",examination) do%>
            <span class="label label-success">提交<%=examination.model_name.human%></span>
        <% end %>
    <% end %>
  </div>
  <div style="clear: both"></div>
