<%= simple_form_for [:wap, :live_studio, @course, @order] do |f| %>
  <div>
    <%= f.collection_radio_buttons :pay_type, Payment::Order.pay_type.options, :last, :first %>
  </div>
  <%= f.button :submit %>
<% end %>
