<div class="row-list-img">
  <figure>
    <%= image_tag @transaction.remote_order.payment_url, size: "180x180" %>
    <figcaption><p><%= raw t("view.payment/recharge.weixin_tips") %></p></figcaption>
  </figure>
  <figure>
    <%= image_tag "pay_tips.png", size: "240x240" %>
  </figure>
   
</div>
    