<div class="wechat-pay">
  <div class="row">
    <div class="col-md-6">
      <div class="wechat-pay-left">
        <%= image_tag @transaction.remote_order.payment_url, size: "226x226" if @transaction.remote_order %>
        <center>
          <p><%= raw t("view.payment_show.weixin_tips1") %></p>
          <p><%= raw t("view.payment_show.weixin_tips2") %></p>
        </center>
      </div>
    </div>
    <div class="col-md-6">
      <div class="wechat-pay-right">
        <%= image_tag "scan.png" %>
      </div>
    </div>
  </div>
</div>
