<div class="common-space">
  <div class="container">
    <%= render @transaction.model_name.singular_route_key %>
  </div>
</div>




<%= content_for :javascript do %>
<script>
$(function() {
  setInterval(function() {
    $.getScript("<%= payment.result_transaction_path(@transaction.transaction_no) %>");
  }, 2000);
});
</script>
<% end %>