<li role="presentation" class=<%= get_active_from_params("state",state) %>>
  <%=link_to "#{Lesson.human_state_name(state)}的#{Lesson.model_name.human}",
             state_teachers_lessons_path(teacher_id: teacher_id, state: state)%>
</li>