<div class="row">
  <div class="col-md-6">
    <%=recharge_record.recharge_code.code %>
  </div>
  <div class="col-md-3">
    <%=recharge_record.recharge_code.money %>
  </div>
  <div class="col-md-3">
    <%=recharge_record.created_at %>
  </div>
</div>
