<div class="card card-big card-blue">
  <div style="padding: 10px;">
    <span style="font-size: 35px;color: white;font-weight: 300"><%= subject %></span>
        <span style="font-size: 18px;color: #ffc40d">
          <%=APP_CONSTANT["english"][subject].capitalize %>
        </span>
  </div>
</div>