<!DOCTYPE html>
<html>
<head>
  <title>Media</title>
  <%= stylesheet_link_tag    "media/application", media: "all" %>
  <%= javascript_include_tag "media/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
