<div class="live-player">
  <div class="live-head playback">
    <div class="container live-big">
      <%= render 'player' %>
    </div>
  </div>
</div>

<div class="live-content">
  <div class="container">
    <div class="row">
      <%= render 'play_course_info' %>
      <%= render 'live_studio/courses/play_teacher_info' %>
      <%= render 'replay_lesson_plan' %>
    </div>
  </div>
</div>
