<%= render layout: "layout" do %>
    <% content_for :brief_header do %>
    <% end %>
    <%= render partial: "messages/messages",locals: {messages: @messages} %>

    <div class="qa_sep_15"></div>
    <%= render partial: 'messages/form' %>
<% end %>
