<div class="qa_box">
  <div class="qa_cell box_head">
    <%= render partial: 'shared/messages/nav',locals: {message: @message} %>
  </div>
</div>

<div class="qa_box">
  <div class="qa_cell">
    <%= simple_form_for(@message,url: create_or_update_url(@message)) do |f|%>
        <%= render partial: 'shared/qa_objects/form',locals: {f: f,no_file: true} %>
    <% end %>
  </div>

</div>