<div class="qa_box">
  <div class="qa_big_cell">
    <h2>
      登录
    </h2>
  </div>
  <div class="qa_big_cell">
    <%= simple_form_for @user,url: sessions_path,method: :post do |f| %>
        <%= f.input :email, :required => false, :autofocus => true %>
        <%= f.input :password ,:required => false%>
        <div class="form-actions">
          <%= f.submit "登录", class: "btn btn-default" %>
        </div>
    <% end %>
  </div>
</div>