<!DOCTYPE html>
<html>
<head>
  <title>Exam</title>
  <%= stylesheet_link_tag    "exam/application", media: "all" %>
  <%= javascript_include_tag "exam/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
