<div class="side-nav">
  <div class="user-portrait">
    <img src="../img/teacher-title.png">
    fff
    <p>
      <span>田浩然</span>
      <img src="../img/gender-men.png">
    </p>
  </div>
  <ul class="nav-menu">
    <li>
      <a href="javascript:void(0);">
        <i class="icon-user"></i>
        <span>用户设置</span>
      </a>
    </li>
    <li>
      <a href="javascript:void(0);">
        
        <i class="icon-wallet"></i>
        <span>财产管理</span>
      </a>
    </li>
    <li>
      <a href="javascript:void(0);">
        
        <i class="icon-msg"></i>
        <span>消息中心</span>
      </a>
    </li>
    <li>
      <a href="javascript:void(0);">
        
        <i class="icon-class"></i>
        <span>课程表</span>
      </a>
    </li>
    <li>
      <a href="javascript:void(0);">
        
        <i class="icon-live"></i>
        <span>我的直播课</span>
      </a>
    </li>
    <li>
      <a href="javascript:void(0);">
        
        <i class="icon-face"></i>
        <span>我的一对一</span>
      </a>
    </li>
    <li class="active">
      <a href="javascript:void(0);">
        
        <i class="icon-video"></i>
        <span>我的视频课</span>
      </a>
    </li>
    <li>
      <a href="javascript:void(0);">
        <i class="icon-homework"></i>
        <span>作业管理</span>
      </a>
    </li>
    <li>
      <a href="javascript:void(0);">
        
        <i class="icon-manage"></i>
        <span>学生管理</span>
      </a>
    </li>
    <li>
      <a href="javascript:void(0);">
        
        <i class="icon-lesson"></i>
        <span>备课中心</span>
      </a>
    </li>
    <li>
      <a href="javascript:void(0);">
        
        <i class="icon-setup"></i>
        <span>课程设置</span>
      </a>
    </li>
    <li>
      <a href="javascript:void(0);">
        
        <i class="icon-state"></i>
        <span>课程状态</span>
      </a>
    </li>

    <li>
      <a href="javascript:void(0);">
        
        <i class="icon-course"></i>
        <span>专属课程</span>
      </a>
    </li>

  </ul>
</div>