<li class="">
  <div class="row">
    <div class="col-md-10 col-sm-10 col-xs-8 problem-title">
    <% binding.pry %>
      <p><%= student_homework.title %></p>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-4 reply-status">
      <span class="no-reply">未交</span>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 problem-name">
      <span>田浩然</span>
      <span>2017-06-12 01:33:42</span>
    </div>
  </div>
  <div class="ask-info">
    <p>
      <span class="ordinal-number">01</span> 我们知道不管是手机端还是电脑端的 键盘输入容易出错，在登录时候需要输入密码，由于密码需要保证安全一般都会设置成点状隐藏形式我们知道不管是手机端还是电脑端的 键盘输入容易出错，在登录时候需要输入密码，由于密码需要保证安全一般都会设置成点状隐藏形式
    </p>
    <div class="image-box">
      <p>
        <span class="ordinal-number">02</span>
        <a class="fancybox-effects-a" href="../img/ask-img.png">
          <img src="../img/course-img.png" alt="">
        </a>
      </p>
    </div>
    <p class="weixinAudio">
      <span class="ordinal-number">03</span>
      <audio src="sound.mp3" class="media"></audio>
      <span class="db audio_area">
                                    <span class="audio_wrp db" style="width: 90px;">
                                        <span class="audio_play_area">
                                          <i class="icon_audio_default"></i>
                                          <i class="icon_audio_playing"></i>
                                        </span>
      </span>
      <span class="audio_length tips_global">30"</span>
      </span>
    </p>

    <div class="edit-box">
      <p>
        <a href="javascript:void(0);" class="btn-addcorrect active">取消</a>
      </p>
      <div class="problems-edit" style="display: block;">
        <form action="" method="">
          <div>
            <p class="ordinal-number">01
            </p>
            <div class="form-group form-textarea">
              <textarea name="" rows="" cols="" class="form-control" placeholder="在此输入文字"></textarea>
              <span class="help-block has-error"></span>
            </div>
            <div class="form-file">
              <div class="file-img">
                <img src="">
                <div class="upload-progress">
                  <span>50%</span>
                  <a href="">删除</a>
                </div>
              </div>
              <div class="file-img">
                <img src="../img/pic-error.png">
                <div class="upload-progress error">
                  <span>失败</span>
                  <a href="">重选</a>
                </div>
              </div>
              <div class="file-img">
                <img src="../img/add-file.png">
                <input type="file">
                <a></a>
              </div>
              <div class="file-num">
                <span>图片已添加<i>0/5</i></span>
              </div>
              <span class="help-block has-error"></span>
            </div>
            <a href="" class="delete">删除</a>
          </div>
          <div>
            <p class="ordinal-number">02</p>
            <div class="form-group form-textarea">
              <textarea name="" rows="" cols="" class="form-control" placeholder="在此输入文字"></textarea>
              <span class="help-block has-error"></span>
            </div>
            <div class="form-file">
              <div class="file-img">
                <img src="">
                <div class="upload-progress">
                  <span>50%</span>
                  <a href="">删除</a>
                </div>
              </div>
              <div class="file-img">
                <img src="../img/pic-error.png">
                <div class="upload-progress error">
                  <span>失败</span>
                  <a href="">重选</a>
                </div>
              </div>
              <div class="file-img">
                <img src="../img/add-file.png">
                <input type="file">
                <a></a>
              </div>
              <div class="file-num">
                <span>图片已添加<i>0/5</i></span>
              </div>
              <span class="help-block has-error"></span>
            </div>
            <a href="" class="delete">删除</a>
          </div>
          <div>
            <p class="ordinal-number">03</p>
            <div class="form-group form-textarea">
              <textarea name="" rows="" cols="" class="form-control" placeholder="在此输入文字"></textarea>
              <span class="help-block has-error"></span>
            </div>
            <div class="form-file">
              <div class="file-img">
                <img src="">
                <div class="upload-progress">
                  <span>50%</span>
                  <a href="">删除</a>
                </div>
              </div>
              <div class="file-img">
                <img src="../img/pic-error.png">
                <div class="upload-progress error">
                  <span>失败</span>
                  <a href="">重选</a>
                </div>
              </div>
              <div class="file-img">
                <img src="../img/add-file.png">
                <input type="file">
                <a></a>
              </div>
              <div class="file-num">
                <span>图片已添加<i>0/5</i></span>
              </div>
              <span class="help-block has-error"></span>
            </div>
            <a href="" class="delete">删除</a>
          </div>
          <div class="form-submit">
            <span>友情提醒：使用手机app进行回答还可以发送语音哦</span>
            <input type="submit" name="" id="" value="提交">
          </div>
        </form>
      </div>
    </div>
  </div>
</li>