<li>
  <div class="row">
    <div class="col-md-12 problem-title">
      <p><%= homework.title %></p>
    </div>
    <div class="col-md-12 .col-sm-12 col-xs-12 problem-name">
      <span><i><%= homework.tasks_count %></i>人已提交</span>
      <span><%= homework.created_at %></span>
    </div>
  </div>
  <div class="ask-info">
    <%= render homework.task_items %>
  </div>
</li>