<% if current_user.bought?(@taskable) %>
  <% if @student_homeworks.blank? %>
    <%= render 'shared/blank' %>
  <% else %>
    <ul class="ask-list">
      <%= render @student_homeworks %>
    </ul>

    <center>
      <div class="pagination-fix homework-link">
        <%= remote_will_paginate @student_homeworks, class: 'paging', param_name: 'student_page' %>
      </div>
    </center>
  <% end %>
<% else %>
  <%= render 'live_studio/shared/guest' %>
<% end %>