<div class="qa_box">
  <div class="qa_big_cell">
    <h3>
      <%= link_to Recommend::Position.model_name.human, recommend.admin_positions_path %> &gt;
      <%= link_to @position.name, recommend.admin_position_path(@position) %> &gt;
      增加推荐
    </h3>
  </div>
  <div class="qa_big_cell">
    <%= render 'form' %>
  </div>
</div>