/*manager导航*/
body {
  background-image: none !important;
  padding-top: 75px  !important;
}
@media (min-width: 1200px){
  .container {
    width: 1190px !important;
  }
}
.nav-manager.navbar {
  min-height: 75px !important;
  background-color: #ff5842 !important;
  margin-bottom: 0px !important;
}
.nav-manager.navbar-fixed-top {
  position: absolute !important;
  top: 0px !important;
}
.nav-manager.navbar-default {
  border-bottom: 0px !important;
}
.nav-manager .nav,.nav-manager .navbar-header {
  min-height: 75px;
}
.nav-manager .nav > .switchcity {
  line-height: 75px;
  color: #FFFFFF;
}
.nav-manager .nav > .switchcity > a {
  display: inline-block;
  padding: 0px;
  color: #FFFFFF;
}
.nav-manager .nav > .switchcity > a:hover {
  color: #7f2618 !important;
}
.nav-manager .navbar-brand {
  height: 75px;
  padding: 15px 25px 15px 15px;
}
.nav-manager .navbar-right {
  margin-right: 0px;
}
.nav-manager .navbar-right > .user-name {
  line-height: 75px;
  color: #fff;
}
.nav-manager .navbar-right > .user-name > img {
  width: 27px;
  height: 27px;
  border-radius: 50%;
}
.nav-manager .navbar-right > .exit {
  line-height: 75px;
  margin-left: 9px;
}
.nav-manager .navbar-right > .exit > a{
  display: inline-block;
  padding: 0px;
  color: #fff;
}
.nav-manager .navbar-right > .exit > span {
  color: #fff;
}


/*底部*/
footer {
  border-top: 1px solid rgb(208,214,217);
}
.nav-footer {
  padding-left: 0px;
  text-align: center;
}
.nav-footer li {
  border-right: 1px solid #999999;
  height: 16px;
  line-height: 16px;
  display: inline-block;
  padding: 0 10px;
}
.nav-footer li a {
  color: #999999;
}
.nav-footer li:last-child {
  border-right: 0px;
}
footer .copyright {
  color: #999999;
  text-align: center;
}
.qa_sep_15 {
  height: 15px;
}

/*分页*/
.pagination-fix {
  width: 100% !important;
  clear: both;
}
.paging {
  overflow: hidden !important;
}
.paging li {
  display: inline-block;
}
.paging > li > a, .paging > li > span {
  position: relative;
  padding: 5px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #919191;
  background-color: #f5f5f5 !important;
  border: 1px solid #dcdcdc !important;
  margin: 3px !important;
  border-radius: 4px;
  color: #666 !important;
}
.paging >li.active > span{
  background-color: #ff5842 !important;
  border: 1px solid #ff5842 !important;
  color: #FFFFFF !important;
}
.paging >li.disabled a,.paging >li.disabled span {
  background-color: #CCCCCC !important;
  border: 1px solid #CCCCCC !important;
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  border-color: #ff5842 !important;
}