<div class="panel panel-default">
  <div class="admin">
    <div class="admin-title">
      <%= render 'live_studio/station/tab' %>
    </div>

    <div>
      <%= render partial: 'form'%>
    </div>
  </div>
</div>
