<% @tutorials.in_groups_of(2,false) do |group| %>
    <div class="row">
      <% group.each do |tutorial| %>
          <%= render partial: "tutorials/tutorial",object:  tutorial %>
      <% end %>
    </div>
<% end %>
