<% if defined? object_state.state %>
    <div class="btn-group" id="<%="#{object_state.model_name.singular_route_key}-state-#{object_state.id}"%>">
      <button type="button" class="btn btn-<%=state_css_style(object_state)%> btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= object_state.human_state_name %>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <% object_state.state_events.each do |x| %>
            <% if (defined?(use_super_controller) and use_super_controller and allow? _get_super_model_name(object_state.class).route_key, x ,object_state) or
                    allow? object_state.model_name.route_key,x,object_state %>
                <li>
                  <%= link_to object_state.class.human_state_event_name(x) ,
                              send("#{x}_#{object_state.model_name.singular_route_key}_path",
                                   object_state,
                                   use_super_controller: "#{defined?(use_super_controller) ? use_super_controller : false}"),
                              method: :post ,
                              remote: defined?(remote_link).nil? ? true : remote_link %>
                </li>
            <% end %>
        <% end %>
      </ul>
    </div>
<% end %>

