<div class="col-md-6">
  <div class="tea-register-right">
    <div class="register-right-title">
      <center>
        <span>轻松扫码</span><span>快速注册</span>
      </center>
    </div>
    <img src="../img/weixin-code.png">
    <%= image_tag '' %>
    <div class="register-right-msg">
      <center>
        <span>使用微信扫描二维码进行注册只需三步</span>
      </center>
      <center>
        <span>(扫码&gt;绑定&gt;填写信息)</span>
      </center>
    </div>
  </div>
</div>