<div class="contains-title set-title">
  <%= link_to t("students.common.personal_information"), info_student_path(@student),
              class: "#{'active' if (action_name == 'info' or params[:cate].to_s.to_sym == :edit_profile or params[:cate].to_s.to_sym != :security_setting)}" %>
  <%= link_to t("students.common.security_setting"), edit_student_path(@student, cate: :security_setting),
              class: "#{'active' if params[:cate].to_s.to_sym == :security_setting}" %>
</div>