<%= content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><%= link_to t("students.common.personal_center"),info_student_path(@student) %></li>
  </ol>
<% end %>

<div class="qa_box row">
  <%= render "info_title" %>

  <%= render params[:cat] %>
</div>
