<%= content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><a href="#">首页</a></li>
    <li class="active">我的问题</li>
  </ol>
<% end %>

<%= render layout: "task" do %>
    <% if @homeworks.length > 0 %>
        <%= render partial: 'shared/qa_objects/index_brief_info',locals: {objects: @homeworks} %>

    <% else %>
        <%= render 'shared/customized_courses/introduce' %>
    <% end %>
<% end %>
