<div class="qa_box">
  <div class="qa_big_cell">
    <div class="row">
      <div class="col-md-4">
        <h2>
          我的老师

            <%= link_to new_learning_plan_path(student_id: @student.id) do %>
              <button type="button" class="btn btn-xs btn-success"><%=get_edit_or_create_model_string(LearningPlan.new) %></button>
            <% end if allow?('learning_plans', 'new') %>

        </h2>

      </div>

    </div>
  </div>
  <div class="qa_box">
    <%= render partial:'learning_plans/learning_plan',collection:@student.learning_plans %>
  </div>
</div>
