<div class="qa_box">
  <div class="qa_big_cell">
    <h3>
      <%= link_to Recommend::Position.model_name.human, admin_positions_path %> &gt;
      <%= "新增推荐位" %>
    </h3>
  </div>
  <div class="qa_big_cell">
    <%= render 'form' %>
  </div>
</div>