<div class="video-line">
  <div class="videobox">
    <video id="my-video" class="video-js" x-webkit-airplay="allow" webkit-playsinline controls poster="//nos.netease.com/vod163/poster.png" preload="auto" width="" height="" data-setup="{}">
      <source src="<%= @course_intro.video.try(:name_url) %>" type="video/mp4">
    </video>
  </div>
</div>