<div class="management-link">
  <%= simple_form_for @query, url: main_app.station_workstation_students_path(@workstation), html: {method: :get} do |f| %>
    <%= f.text_field :name_or_nick_name_or_login_mobile_cont, placeholder: t('view.station.students.placeholders.name') %>
    <%= f.submit t('common.search') %>
  <% end %>
</div>