<%=link_to "new topic",new_topic_path(node_id:@node.id) unless @node.blank?%>
<%=render_cell :section,:topics_head_nav ,:selected_section_id=>nil%>
<div class="qa_box qa_topics">
  <%= render @topics %>
</div>
<%=render_cell :section,:topics_bottom_nav %>


