<div class="site-nav">
  <div class="container">
    <div class="site-nav-left">
      <span><%= t('view.common_bars.welcome') %></span>
      <em>
        <i><%= @location_city.try(:name) || t('view.common_bars.nationwide') %></i>
        <%= link_to_unless_current "【#{t('view.common_bars.switch_city')}】", switch_city_home_index_path, class: 'switch-city' %>
      </em>
    </div>

    <div class="site-nav-right">
      <%= image_tag 'phonenum.png' %>
      <span><strong>400-838-8010</strong></span>
    </div>
  </div>
</div>