<div class="row" style="padding:10px 36px 10px 36px;border-bottom: 1px solid #e2e2e2">
  <div class="col-md-1">
    #
  </div>
  <div class="col-md-3">
    <strong><%= RegisterCode.model_name.human %></strong>
  </div>
  <div class="col-md-2">
    <strong><%= RegisterCode.model_name.human %>状态</strong>
  </div>
  <div class="col-md-2">
    <strong><%= RegisterCode.model_name.human %>使用者</strong>

  </div>
</div>