<span>
  <%= tutorial_issue.author.view_name %> • <%= localize(tutorial_issue.created_at,format: :long) %>创建 • <%=tutorial_issue.replies_count%>个回复 •
</span>
<%= link_to tutorial_issue.customized_tutorial.title,customized_tutorial_path(tutorial_issue.customized_tutorial_id) %>