<div class='col-md-9'>
  <div class="qa_box qa_topics">
    <div id="homepage_topics">
      <h3>
        老师FAQ主题
      </h3>
      <ul class="clearfix">
        <%= render partial: 'faq_topic', collection: @faq_topics %>
      </ul>
    </div>

    <div id="homepage_topics">
      <h3>
        学生FAQ主题
      </h3>
      <ul class="clearfix">
        <%= render partial: 'faq_topic', collection: @faq_topics %>
      </ul>
    </div>
  </div>
</div>