<% if defined?(collapse) and collapse %>
    <div class="qa_cell">

      <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#file_upload_form" aria-expanded="false" aria-controls="file_upload_form">
        添加文件
      </button>
      <div id="file_upload_form" class="collapse">
        <%= yield %>
      </div>
    </div>
<% else %>
    <%= yield %>
<% end %>