<div class="row qa_big_cell">
  <div class="col-md-3">
    <%=school.name%>

  </div>
  <div class="col-md-3">
    <%=school.city.name %>

  </div>
  <div class="col-md-3">
    <%=link_to 'edit',edit_admins_school_path(school)%>
  </div>
  <div class="col-md-3">
    <%=link_to 'destroy',admins_school_path(school),method: :delete,'data-confirm' => 'Are you sure?'%>
  </div>
</div>