<div class="qa_box">
    <table class="table">
        <tr><td><%=@school.city.name%></td></tr>
        <tr><td><%=@school.name %></td></tr>
        <tr><td><%=link_to 'edit'       ,edit_admins_school_path(@school) %></td></tr>
        <tr><td><%=link_to 'destory'    ,admins_school_path(@school),method: :delete ,'data-confirm' => 'Are you sure?' %></td></tr>
    </table>
</div>

