<!DOCTYPE html>
<html>
<head>
  <title>Recommend</title>
  <%= stylesheet_link_tag    "recommend/application", media: "all" %>
  <%= javascript_include_tag "recommend/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
