<div class="qa_box">
  <div class="qa_big_cell">
    <h3><center>辅导班使用帮助</center></h3>
  </div>

  <div class="qa_cell">
    <h4>一、辅导班功能流程图</h4>
    <center><%= image_tag "helpers_course.png", class: "img-responsive" %></center>
    <h4>二、辅导班使用流程说明</h4>
    <h5>
      第一步-选择并编辑新辅导班
    </h5>
    <p>
      1.打开辅导班选择“未开始”选项，进入未开始辅导班列表；<br/>
      2.选择想要使用的辅导班并点击“修改信息”进入编辑页，按照内容填写进行保存；<br/>
      3.使用与修改信息同样的方法对课程列表进行修改并保存；
    </p>

    <h5>
      第二步-开始招生
    </h5>
    <p>
      1.点击当前辅导班右上角或辅导班列表“开始招生”按钮，选择相关提示开始招生；<br/>
      2.开始招生后，辅导班进入招生中列表可点击查看招生情况。<br/>
    </p>

    <h5>
      第三步-开课
    </h5>
    <p>
      1.招生结束后，系统会按照开课日期对辅导班课程进行逐一开课，老师可在开课中的辅导班查看当前辅导班课程内容和状态；<br/>
      2.开课中课程状态主要有：未开始-表示当前课程还未进入开课日期，进行中-表示当前课程处于开课日期并且尚未结束，已结束-表示当前课程已被老师手动结束或被系统清理（每日晚12:00系统进行清理）。
    </p>

    <h5>
      第四步-直播上课
    </h5>
    <p>
    1.老师可在首页“下载”区下载“答疑时间直播器”最新版本，并按照使用说明进行直播；下载地址：<%= link_to "立即下载", "http://qatime-production.oss-cn-beijing.aliyuncs.com/download/software/%E7%9B%B4%E6%92%AD%E5%AE%A2%E6%88%B7%E7%AB%AF.zip"  %>，详细请查看直播器使用教程。<br/>
      2.老师只能直播处于进行中的课程，并且可在”答疑时间直播其“进行课程选择，缺省为当天第一节课；
      直播课程完全在直播器中完成，老师无需进行任何网页操作。<br/>
      3.老师可在直播器进行结束直播和结束课程等操作，在未结束课程的状态下允许老师进行多次直播。
    </p>
    <h5>
      第五步-结课和结算
    </h5>
    <p>
      1.当全部辅导班课程结束后，系统将自动对辅导班进行结课处理，老师可在辅导班-已结课列表内查看当前辅导班；<br/>
      2.结课后系统将于24小时内进行自动结算，如未结算老师可在已结课辅导班进行手动结算。<br/>
      3.结算后辅导班进入已结算列表，点击可进行信息查看操纵，不可编辑和修改。
    </p>
  </div>
</div>
