<div class="qa_objects">
  <%= render partial: 'notifications/action_notification',collection: action_notifications %>
</div>
<div class="qa_cell">
  <%= will_paginate action_notifications ,renderer: BootstrapPagination::Rails %>
</div>