<div class="qa_object_item">
  <div style="float:left">
    <%=image_tag action_notification.operator.avatar.normal.url %>
  </div>
  <div class="title">
    <%=
        link_to (I18n.t "action.#{action_notification.notificationable.model_name.singular_route_key}.#{action_notification.action_name}.desc",
                        user: action_notification.operator.view_name),
                notification_path(action_notification)
    %>
  </div>
  <div class="info">
    <%= localize(action_notification.created_at,format: :long) %>
    <%= I18n.t "action.#{action_notification.notificationable.model_name.singular_route_key}.#{action_notification.action_name}.name" %>
  </div>
</div>