<li>
  <div class="row">
    <div class="col-md-9 msg-info">
      <i class="<%= 'unread' unless notification.read %>"></i>
      <%=  %> <%= link_to notification.notice_content, notification_path(notification, rt: payment.cash_user_path(notification.receiver)) %>
    </div>

    <div class="col-md-3 msg-item">
      <span><%= localize(notification.created_at,format: :long) %></span>
    </div>
  </div>
</li>