<div class="qa_object_item" style="clear: both;">
  <div class="course_notice_title">
    <% if notification.read %>
      <span class="label label-default"><%= I18n.t "view.notification.read" %></span>
    <% else %>
      <span class="label label-danger"><%= I18n.t "view.notification.unread" %></span>
    <% end %>
    <%= link_to notification.notificationable.name, notification_path(notification) %>
  </div>
  <div class="info">
    <%= localize(notification.created_at,format: :long) %>
  </div>
</div>
