<div class="qa_objects">
  <%= render partial: 'notifications/customized_course_action_notification',collection: customized_course_action_notifications %>
</div>
<div class="qa_cell">
  <%= will_paginate customized_course_action_notifications ,renderer: BootstrapPagination::Rails %>
</div>