<% if @receiver.student? || @receiver.teacher? %>
  <div class="contains">
    <div class="contains-title">
      <h3><%= I18n.t "view.common_bars.notification", count: @receiver.notifications.unread.count %></h3>
    </div>
    <div class="contains-discipline">
      <ul class="news-list">
        <%= render partial: "notification", collection: @notifications %>
      </ul>
      <%= render 'shared/blank' if @notifications.blank? %>
      <center><div class="pagination-fix"><%= will_paginate @notifications, class: 'paging', previous_label: '←', next_label: '→' %></div></center>
    </div>
  </div>
<% end %>
