<div class="reply-box" style="display: block;">
  <div class="row">
    <div class="col-md-12 problem-title">
      <p>我的批改：</p>
    </div>
  </div>
  <div class="reply-list">
    <%= render correction.task_items %>
  </div>
</div>