<div class="edit-box">
  <div class="reply-box revert">
    <div class="row">
      <div class="col-md-12 problem-title">
        <p>我的答案：</p>
      </div>
    </div>
    <div class="reply-list">
      <%= render student_homework.task_items %>
    </div>
  </div>
</div>