<div class='col-md-2'>
  <%= render_cell :group, :nav %>
</div>
<div class='col-md-10'>
<div class="row groups">
    <%= render partial:'groups/group',collection:@groups %>
    <%= will_paginate @groups %>
</div>
</div>