<div class="item-home">
  <div class="subtitle">
    <h3><%= t('view.managers.home.sale_tasks.title') %></h3>
    <%= link_to '' do %>
      <%= t('view.managers.home.sale_tasks.more') %>
      <i class="fa fa-angle-right"></i>
    <% end %>
  </div>

  <div class="plan">
    <ul>
      <li>
        <h6>考核周期：</h6>
        <p class="cut-off">截止2017-3-12</p>
        <div class="progress progress-striped">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 48%;">
          </div>
        </div>
        <p class="time-remaining">
          <span>48%</span>
          <span class="remaining-day">剩余39天</span>
        </p>
      </li>
      <li>
        <h6>销售目标：</h6>
        <p class="cut-off">目标：￥4000.00</p>
        <div class="progress progress-striped">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
          </div>
        </div>
        <p class="time-remaining">
          <span>70%</span>
          <span class="remaining-day">还差￥4000.00</span>
        </p>
      </li>
    </ul>
  </div>
</div>