<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <%= LiveStudio::Course.model_name.human %>
  </div>
  <!--
  <div class="panel-body">
    <p>...</p>
  </div>
  -->
  <!-- Table -->
  <table class="table">
    <tr>
      <th>#</th>
      <th>辅导班名称</th>
      <th>简介</th>
      <th>状态</th>
      <th>操作</th>
    </tr>
    <%= render partial: 'course', collection: @courses %>
  </table>
</div>
