<div class="qa_box">
  <div class="qa_cell">
    <h4>支付宝付款码</h4>
  </div>
  <div class="qa_cell">
    <!--h4>收款人：马国维</h4-->
    <%= image_tag(image_url('alipay.png')) %>
  </div>
</div>
<div class="qa_sep_15"></div>
<div class="qa_sep_15"></div>

<div class="qa_box">
  <div class="qa_cell">
    <h4>微信付款码</h4>
  </div>
  <div class="qa_cell">
    <!--h4>收款人：马国维</h4-->
    <%= image_tag(image_url('wechat.jpg')) %>

  </div>
</div>