<div class="qa_box">
    <div class="box_header" style="padding: 10px;">
      <span class="label label-default">目前卡号10
        个</span>
      <div class="pull-right">
            <div>
                <%=link_to '生成充值码',new_admins_recharge_code_path,class: 'btn btn-default btn-xs' %>
            </div>
        </div>
        <div style="clear: both"></div>

    </div>
    <table class="table table-bordered">
        <tr>
           <th style="width:5%">#</th>
           <th>卡号</th>
           <th style="width:10%">金额</th>
           <th>状态</th>
            <th style="width:30%">时间</th>
        </tr>
        <%= render @recharge_codes %>
    </table>
    <div class="qa_big_cell">
    <%= will_paginate @recharge_codes ,renderer: BootstrapPagination::Rails%>
    </div>
</div>


