<%= simple_form_for video do |f| %>
    <%= f.input :name %>
    <div class="qa_sep_15"></div>
    <div id="upload_progress" class="row">
    </div>
<% end %>

<script>
    $(
            function () {
                var video_input = $("input#video_name");
                var video_form = video_input.closest('form');
                var video_show = $("div#upload_progress");
                if ($("div#video_show video").length == 0) {
                    video_show.html($("div#template-progress div.progress").clone());
                }
                video_input.on('change', function () {
                    var fileExtend = this.value.substring(this.value.lastIndexOf('.')).toLowerCase();
                    if (fileExtend != ".mp4") {
                        alert("视频文件格式只支持mp4，请重新上传！")
                        return;
                    }
                    video_form.ajaxSubmit({
                        dataType: 'script',
                        beforeSubmit: function () {
                            video_show.html($("div#template-progress div.progress").clone());
                        },
                        uploadProgress: function (event, position, total, percentComplete) {
                            var percentVal = percentComplete + '%';
                            var video_progress_bar = $("div#upload_progress div.progress-bar");
                            video_progress_bar.text(percentVal);
                            video_progress_bar.css({width: percentVal});
                            if (percentVal == '100%') {
                                video_progress_bar.text("保存中，请稍后")
                            }
                        }
                    });
                })
            }
    )
</script>
<div style="display: none">
  <div id="template-progress">
    <div class="progress">
      <div class="progress-bar" role="progressbar">
      </div>
    </div>
  </div>
</div>
