<div class="qa_cell" id="video_status_<%=video.id%>" >
  <span class="qa_f12 label label-success"><%=video.human_state_name%></span>
  <%= link_to 'sssss',convert_video_path(video),remote: true %>
</div>