<!-- Modal -->
<div class="modal fade" id="acceptModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="myModalLabel">服务协议</h4>
      </div>
      <div class="modal-body">
        <div>
          《答疑时间》学习网答疑名师服务协议
        </div>
        <div>
          一、《答疑时间》学习网由北京维幄通达网络科技有限公司（下称“维幄通达公司”）所有并负责运营，旨在提供远程答疑及学习互动交流为主要内容的网络服务平台。
        </div>
        <div>
          二、本《答疑名师服务协议》是用户与维幄通达公司之间在使用《答疑时间》学习网产品前，注册成为《答疑时间》学习网答疑名师时签署的协议。在签署本协议之前，维幄通达公司正式提醒用户：
        </div>
        <div>
          ㈠用户（未成年人应当在法定监护人的陪同下）已认真阅读本服务条款中各条款、并充分理解本《答疑名师协议》中各条款，包括《答疑时间》学习网及维幄通达公司的免责条款及用户的权利限制条款。
        </div>
        <div>
          ㈡用户已审阅并同意服务协议条款。如不同意本服务条款，用户应不使用或立即停止使用《答疑时间》学习网及维幄通达公司就本协议提供的相应服务。用户的点击接受或继续使用将被视为用户对本服务协议条款完全接受。
        </div>
        <div>
          ㈢本协议文本可能就国家政策、产品以及履行协议环境发生改变而进行修改。修改后的协议文本会及时更新并发布于本网站页面。若用户对修改后的协议有异议，请立即停止登录或使用维幄通达公司产品及相应服务。用户的登录账户及/或继续使用《答疑时间》学习网及维幄通达公司就本协议提供的相应服务视为对修改后的协议的认可。
        </div>
        <div>
          ㈣本协议一经签署，即时具有法律效力。协议内容可能含有免除《答疑时间》学习网及维幄通达公司义务及/或限制用户权利条款，请用户仔细阅读本协议条款，慎重考虑是否接受本协议。
        </div>
        <div>
          三、《答疑时间》学习网服务内容
        </div>
        <div>
          ㈠《答疑时间》学习网的服务内容是指维幄通达公司在《答疑时间》学习网网络服务平台提供的，并根据《答疑时间》学习网实际情况提供的，例如平台、上传、下载、储存、共享、论坛等服务内容。
        </div>
        <div>
          ㈡《答疑时间》学习网仅提供相关的网络服务, 除此之外与相关网络服务有关的设备( 如电脑、调制解调器、及其他与接入互联网有关的装置 )及所需的费用( 如为接入互联网而支付的电话费及上网费 )均应由用户自行负担。
        </div>
        <div>
          ㈢答疑名师及其他用户的发言仅代表个人立场，《答疑时间》学习网不对网站内的答疑名师及其他用户的言论负责。
        </div>
        <div>
          四、权利与义务
        </div>
        <div>
          ㈠答疑名师的权利义务
        </div>
        <div>
          ⒈答疑名师在注册成功后即为《答疑时间》学习网答疑名师，可以在本协议有效期内具有但不限于上传一定数量答疑学习资料或相关作品的权利。
        </div>
        <div>
          ⒉答疑名师必须保证在《答疑时间》学习网发布的答疑学习资料或相关作品的权益（包括但不限于所有权、著作权、商标权和其他合法权利）不受来自第三方的相应合法权利要求，或者答疑名师已经通过其他方式取得合法的授权，并且有转授权的权利。
        </div>
        <div>
          ⒊答疑名师因上传、公开或发布答疑学习资料或相关作品，侵犯任何第三人的知识产权及其他合法权益，因此产生的权属纠纷及赔偿责任由答疑名师自行负责。维幄通达公司对此不承担任何责任。
        </div>
        <div>
          ⒋答疑名师在不能确认将上传、公开或发布的答疑学习资料或相关作品是否侵犯他人的知识产权或其他合法权益时，请事先向相关的专业人士进行咨询，然后再选择是否上传。
        </div>
        <div>
          ⒌答疑名师在使用《答疑时间》学习网服务时，必须遵守中华人民共和国相关法律法规的规定。答疑名师同意将不会利用本服务进行任何违法、侵权或其他不正当的活动，包括但不限于下列行为∶
        </div>
        <div>
          ⑴上载、展示、张贴、传播或以其它方式传送含有下列内容之一的信息：反对宪法所确定的基本原则的；危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；损害国家荣誉和利益的；煽动民族仇恨、民族歧视、破坏民族团结的；破坏国家宗教政策，宣扬邪教和封建迷信的；散布谣言，扰乱社会秩序，破坏社会稳定的；散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；侮辱或者诽谤他人，侵害他人合法权利的；含有虚假、有害、胁迫、侵害他人隐私、骚扰、侵害、中伤、粗俗、猥亵、或其它道德上令人反感的内容；含有中国法律、法规、规章、条例以及任何具有法律效力之规范所限制或禁止的其它内容的；
        </div>
        <div>
          ⑵不得为任何非法目的而使用网络服务系统；
        </div>
        <div>
          ⑶不利用《答疑时间》学习网服务从事以下活动：未经允许，进入计算机信息网络或者使用计算机信息网络资源的；未经允许，对计算机信息网络功能进行删除、修改或者增加的；未经允许，对进入计算机信息网络中存储、处理或者传输的数据和应用程序进行删除、修改或者增加的；故意制作、传播计算机病毒等破坏性程序的；其他危害计算机信息网络安全的行为。
        </div>
        <div>
          ⒍答疑名师一旦在《答疑时间》学习网公开或发布任何答疑学习资料或相关作品，则视为答疑名师同意授予《答疑时间》学习网一项全球范围内的、非独家的、免费的、可转授权的使用此答疑学习资料或相关作品的许可，上述使用范围包括但不限于：
        </div>
        <div>
          ⑴《答疑时间》学习网对答疑名师已公开或发布的答疑学习资料或相关作品进行和《答疑时间》学习网服务用途相关的复制、修改、编辑、汇编及开发；
        </div>
        <div>
          ⑵《答疑时间》学习网市场推广；
        </div>
        <div>
          ⑶供全世界范围的学习爱好者讨论和评价。
        </div>
        <div>
          ⒎《答疑时间》学习网及维幄通达公司仅提供网络服务。答疑名师确认对上传、公开或发布的答疑学习资料或相关作品的其他著作权人或相关权利人已经支付了费用或给予补偿。《答疑时间》学习网无需再向任何著作权人或相关权利人支付费用或给予补偿。
        </div>
        <div>
          ⒏答疑名师同意使用《答疑时间》学习网服务所存在的风险将完全由答疑名师个人自己承担。答疑名师理解并接受下载或通过《答疑时间》学习网服务取得的任何信息资料取决于答疑名师自身行为，并将自行承担系统受损、资料丢失以及其它任何风险。
        </div>
        <div>
          ⒐答疑名师须对自身在使用《答疑时间》学习网服务过程中的行为承担法律责任。承担法律责任的形式包括但不限于：对受到侵害者进行赔偿，以及赔偿维幄通达公司在先承担了因答疑名师的行为导致的行政处罚或侵权损害赔偿责任造成的损失。
        </div>
        <div>
          ㈡《答疑时间》学习网的权利和义务
        </div>
        <div>
          ⒈《答疑时间》学习网尊重您和他人的知识产权和合法权益。
        </div>
        <div>
          ⒉除非本服务协议另有其它明示规定，《答疑时间》学习网所推出的新功能、新服务，均受到本服务协议之规范。
        </div>
        <div>
          ⒊《答疑时间》学习网有权于任何时间暂时或永久修改或终止本服务（或其任何部分），而无论其通知与否，《答疑时间》学习网对答疑名师和任何第三人均无需承担任何责任。
        </div>
        <div>
          ⒋在不透露用户隐私资料的前提下, 《答疑时间》学习网有权对整个用户数据库进行分析并将用户数据库用于其他用途。
        </div>
        <div>
          ⒌《答疑时间》学习网有权对《答疑时间》学习网站内所有内容进行实时监控。如果发生下列任何一种情形, 《答疑时间》学习网有权随时删除存在异议的答疑学习资料或相关作品：
        </div>
        <div>
          ⑴答疑名师或答疑名师公开或发布的答疑学习资料或相关作品违反本协议中规定的使用规则；
        </div>
        <div>
          ⑵答疑名师或答疑名师上传、公开或发布的答疑学习资料或相关作品违反法律法规及相关政策的规定、司法机关及国家行政机关的要求；
        </div>
        <div>
          ⑶答疑名师或答疑名师上传、公开或发布的答疑学习资料或相关作品违反《答疑时间》学习网发布的包括但不限于答疑名师使用协议等管理规范；
        </div>
        <div>
          ⒍除前款所述情形外, 《答疑时间》学习网保留根据实际情况，对违反协议的账户进行删除内容、注销账户、暂时或永久禁止在本网站发布信息的处理。同时保留依法追究当事人法律责任的权利。对于所有因此而造成的任何损失, 《答疑时间》学习网无需对答疑名师或任何第三方承担责任。
        </div>
        <div>
          ⒎答疑名师因上传、公开或发布答疑学习资料或相关作品，侵犯任何第三人的知识产权及其他合法权益，因此产生的权属纠纷及赔偿责任由答疑名师自行负责，维幄通达公司对此产生的对第三方的先行赔付或赔偿或者行政处罚，并不影响维幄通达公司对就损失对答疑名师的追偿。
        </div>
        <div>
          五、注册信息和隐私保护
        </div>
        <div>
          ㈠《答疑时间》学习网站普通用户账号的所有权归《答疑时间》学习网，用户完成注册手续后，将获得《答疑时间》学习网普通用户账号的使用权并成为答疑名师。《答疑时间》学习网提醒答疑名师提供详尽及准确的个人资料，并及时更新注册资料。所有原始键入的资料将被引用为答疑名师的账户注册资料。任何因答疑名师的注册信息不实而引起的问题，以及对问题发生所带来的后果，《答疑时间》学习网不负任何责任。
        </div>
        <div>
          ㈡答疑名师不能将账号、密码转让或出借予他人使用。如果答疑名师发现账号遭他人非法使用，请立即通知《答疑时间》学习网相关部门。因黑客行为或答疑名师个人的保管疏忽导致账号、密码遭他人非法使用，《答疑时间》学习网不承担任何责任。
        </div>
        <div>
          ㈢《答疑时间》学习网尊重及保护用户的隐私权。《答疑时间》学习网向用户承诺，《答疑时间》学习网不对外公开或向第三方提供用户注册资料，除非：
        </div>
        <div>
          ⒈事先获得用户的明确授权；
        </div>
        <div>
          ⒉只有透露用户个人资料，才能提供用户所要求的产品和服务；
        </div>
        <div>
          ⒊根据有关的法律法规要求；
        </div>
        <div>
          ⒋按照相关政府主管部门的要求；
        </div>
        <div>
          ⒌为维护《答疑时间》学习网及维幄通达公司的合法权益。
        </div>
        <div>
          ㈣在用户注册《答疑时间》学习网普通用户账户，使用维幄通达公司其他服务时，《答疑时间》学习网可能会收集用户的个人身份识别资料，并会将这些资料用于：改进用户体验或提供的服务及网页内容。
        </div>
        <div>
          六、教师须知
        </div>
        <div>
          ㈠注册事项
        </div>
        <div>
          1. 注册资格：答疑教师必须持有中华人民共和国教师资格证书；必须有坚定的政治立场、崇高的师德风尚、严谨的治学态度、精湛的教学技艺；能积极主动地为本网站创作优质、丰富、新颖的教育教学作品。
        </div>
        <div>
          2. 注册程序：登陆首页，点击教师注册按钮，详实填写个人信息资料，阅读注册协议，点击同意，完成注册。
        </div>
        <div>
          ㈡工作任务
        </div>
        <div>
          1. 制作课件：教师就当地教材版本，按照《&lt;答疑时间&gt;学习网课件制作要求》（附后），采用PPT、FLASH、录播等形式，针对课程疑点、难点进行解析，达到学生扎实基础，提升能力的目标。
        </div>
        <div>
          2. 上传作品：课件制作完成后，教师需一并将适量习题及答案上传至教师账号的备课中心，以便随时发送给学生。
        </div>
        <div> 
          3. 答疑服务：教师在本平台面对的是全市的学生，利用节假日等业余时间，对学生提出的疑难问题，及时在线上或线下进行解答，为中国基础教育奠基。
        </div>
        <div>
          (三)作品规范及结算
        </div>
        <div>
          1.直播课程：此课程采用一对多授课方式，老师根据自身时间决定直播课的时间，课程时长、课程内容，须提前发布上课通知，主讲人根据内容自主定价（由工作站完成价格设置），平台收取后台维护费X%，教师可以在平台讲解例题、试卷、中高考模拟题以及预习新课程等，各学校也可利用直播平台集中促优，在直播中师生可以通过文字、图片或语音互动；老师授课后24小时内按课时进行单独结算。
        </div>
        <div>
          2.一对一课程：此课程采用一对一互动授课方式，师生在自愿的基础上，进行一对一双视频直播互动，主讲人自主定价，平台收取后台维护费用X%。老师需提供视频、音频等硬件采集设备，以保证授课质量，如因未提供相关硬件造成的学生退款老师需承担全部责任，平台有权对其进行罚款；老师授课后24小时内按照课时进行单独结算。
        </div>
        <div>
          3.视频课：注册教师将常见的题型、知识点的重点、课程要点以问题的形式作为标题（如：氯化铝AlCl3“为什么”是共价化合物而不是离子化合物？）放置于视频课板块中，以供学生充分利用课后时间点播学习，视频长度一般要求在60分钟之内，教师一次上传，视频永久保存；学生用户消费后24小时内进行按课程进行结算。
        </div>
        <div>
          4.专属课程：注册老师在自愿的情况下，由平台客服人员选择有意愿与该老师学习的学生，与之绑定，所带学生人数由老师决定,教师利用节假日业余时间，在线一对一授课方式的伴随教学，对学生提出的问题要结合学生的学习特点，作出针对性的详细讲解，服务费用按一定标准收取；学生用户消费后24小时内按课时进行单独结算。
        </div>
        <div>
          七、服务变更、中断或终止
        </div>
        <div>
          ㈠《答疑时间》学习网有权自行修订和更新此协议。一旦发生相关修订或更新，《答疑时间》学习网会将修订和更新的内容及时在本页面予以发布，答疑名师应及时检查本页面是否有更新。答疑名师一旦认为变更无法接受，应该立即停止使用《答疑时间》学习网及相关服务并书面通知《答疑时间》学习网。如果答疑名师未进行上述操作或继续使用《答疑时间》学习网及其相关服务的，则视为同意接受变更条款并愿意受其约束。
        </div>
        <div>
          ㈡鉴于网络服务的特殊性，《答疑时间》学习网有权不经事先通知，随时中断或终止部分或全部的网络服务。《答疑时间》学习网不担保网络服务不会中断，对网络服务的及时性、安全性、准确性也都不作担保。
        </div>
        <div>
          ㈢《答疑时间》学习网需要定期或不定期地对提供《答疑时间》学习网站服务的平台或相关的设备进行检修或者维护，如因此类情况而造成服务（包括收费服务）在合理时间内的中断，《答疑时间》学习网无需为此承担任何责任。《答疑时间》学习网保留不经事先通知为维修保养、升级或其它目的暂停本服务任何部分的权利。
        </div>
        <div>
          ㈣对恶意注册《答疑时间》学习网普通用户账号或利用《答疑时间》学习网普通用户账号进行违法活动、捣乱、骚扰、欺骗其他用户以及存在其他违反本协议的行为，维幄通达公司有权随时回收该用户的账号，终止与用户的合作。同时，维幄通达公司会视司法部门的要求，协助调查。
        </div>
        <div>
          八、其他
        </div>
        <div>
          ㈠本协议自用户点击同意本协议起生效，用户停止使用失效。
        </div>
        <div>
          ㈡《答疑时间》学习网未行使或执行本服务协议任何权利或规定，不构成对前述权利或权利之放弃。
        </div>
        <div>
          ㈢如本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，本协议的其余条款仍应有效并且有约束力。
        </div>
        <div>
          ㈣《答疑时间》学习网及维幄通达公司保留在法律允许范围内对本协议的最终解释权。
        </div>
      </div>
  </div>
</div>