<% cookies[:payment_passd_warning] ||= 'open' %>

<% if cookies[:payment_passd_warning] == 'open' %>
  <div class="warning-notices">
    <p>
      <span>
        <i><%= t('view.shared.pay_password_warning.title') %></i>
        <%= link_to t('view.shared.pay_password_warning.link'), main_app.edit_student_path(current_user || 0, cate: 'security_setting') %>
        <%= image_tag 'delete.png', id: 'del_pay_password_warning' %>
      </span>
    </p>
  </div>
<% end %>