<div class="share-item">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <p>北京维幄通达网络科技有限公司 <span>版权所有</span></p>
        <p>BEIJING WEIWO MASTER NETWORK TECHNOLOGY COMPANY.LTD</p>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="bdsharebuttonbox">
          <span><%= t("common.share") %>：</span>
          <!-- <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a> -->
          <a href="javascript:void(0);" class="bds_weixin" title="分享到微信">
            <span class="wechat"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
