<% if action_record.is_a? Payment::RechargeActionRecord %>

<% elsif action_record.is_a? Payment::WithdrawActionRecord %>

<% else %>
  <li>
    <%= l(action_record.created_at, format: :month_start) if action_record.created_at %>
    -
    <%= link_to action_record.desc, send("#{action_record.actionable.model_name.singular_route_key}_path", action_record.actionable), target: '_blank' %>
  </li>
<% end %>