<div class="article">
  <div class="homepage">
    <div class="row">
      <div class="col-md-6">
        <%= render partial: 'managers/home/main/statistics' %>
      </div>
      <div class="col-md-6">
        <%= render partial: 'managers/home/main/teaching_lessons' %>
      </div>
      <div class="col-md-6">
        <%= render partial: 'managers/home/main/action_records' %>
      </div>
      <div class="col-md-6">
        <%= render partial: 'managers/home/main/sale_tasks' %>
      </div>
    </div>
  </div>
</div>