<div class="row qa_big_cell">
    <div class="col-md-9">
      <span class="glyphicon glyphicon-folder-close"></span>
      <%=link_to directory.title, syllabus_directory_path(directory.syllabus,directory) %>
    </div>
    <div class="col-md-1">
      <%=link_to '编辑',edit_syllabus_directory_path(directory.syllabus,directory)%>
    </div>
    <% if allow? "course_library/directories",:destroy,@directory %>
      <div class="col-md-1">
        <%=link_to '删除',syllabus_directory_path(directory.syllabus,directory),method: :delete,'data-confirm' => 'Are you sure?'%>
      </div>
    <% end %>
    <div class="col-md-1">
      <%= link_to "移动",
                  "#",
                  data: {toggle: "modal", target: "#newMoveModal"} %>
    </div>
</div>
