<div class="row qa_big_cell">
    <div class="col-md-3">
      <span class="glyphicon glyphicon-folder-close"></span>
      <%=link_to directory.title, syllabus_directory_path(directory.syllabus,directory) %>
    </div>
    <div class="col-md-6">
    </div>
    <div class="col-md-1">
      <%=link_to '编辑',edit_syllabus_directory_path(directory.syllabus,directory)%>
    </div>
    <div class="col-md-1">
      <%=link_to '删除',syllabus_directory_path(directory.syllabus,directory),method: :delete,'data-confirm' => 'Are you sure?'%>
    </div>
</div>
