<div style="padding:128px;height: 360px" class="home_head">
  <div class="container">
    <h1>答疑时间</h1>
    <p style="color: #07141e">"答疑时间"是一家网络学校教育公司，致力于把给学生提供优质教育资源，方便老师和学生的互动社区。</p>
  </div>

</div>


<div style="background-color: #ffffff !important;">
  <div class="qa_sep_15"></div>
  <div class="qa_sep_15"></div>
  <div class="qa_sep_15"></div>

  <div class="container">
  <div class="row">
    <div class="intro">
      <div class="col-md-4">
        <div>
          <div class="glyphicon glyphicon-user pull-left" style="font-size:32px;margin:0 0px 0px 0;color:#32ac4e"></div>
          <p style="color: #07141e;margin-left: 48px">
            我们的讲师都来自于网校开通地区的名师。无论学生是哪个学校哪个班级，都可以听取到本地区最优秀老师的授课。
          </p>
          <!--和'看不见摸不着的远程讲师'相比，本地名师的口碑更加真实可信-->
        </div>
      </div>
      <div class="col-md-4">
        <div class="glyphicon glyphicon glyphicon-book pull-left" style="font-size:32px;color:#32ac4e"></div>
        <p style="color: #07141e;margin-left: 48px">
          学生可以选择讲师的"一节课"进行学习。
          而不是必须选择某位讲师的全部课程。
          这样细粒度的划分,更加符合学生实际的学习情况。
        </p>
      </div>
      <div class="col-md-4">
        <div class="glyphicon glyphicon glyphicon glyphicon-comment pull-left" style="font-size:32px;color:#32ac4e"></div>

        <p style="color: #07141e;margin-left: 48px">
        学生可以就选择学习的课程和讲师进行在线提问和交流。
        学生也可在线下的直接和老师继续互动交流。
        </p>
      </div>
     </div>
  </div>
  <div class="qa_sep_15"></div>
  <div class="qa_sep_15"></div>

  <div class="row">
      <div class="col-md-4">
        <div class="glyphicon glyphicon glyphicon glyphicon-heart pull-left" style="font-size:32px;color:#32ac4e"></div>
        <p style="color: #07141e;margin-left: 48px">
          和所谓'看不见摸不着的远程讲师'相比，我们的讲师都来自于学生的身边，教学的口碑和质量都更加真实可信。
        </p>
      </div>
      <div class="col-md-4">
        <div class="glyphicon glyphicon glyphicon glyphicon-refresh pull-left" style="font-size:32px;color:#32ac4e"></div>
        <p style="color: #07141e;margin-left: 48px">
          我们的课程不是一成不变的。
          <!--我们课程注重的是解题思路和学习方法，          我们的课程紧扣学校教学进度，我们的课程注重解题思路和学习方法。定期更新课程内容-->
          讲师会根据所有学生的反馈和提问,持续的更新知识点和课程,增加新的解题思路和方法。
        </p>
      </div>
      <div class="col-md-4">
          <div class="glyphicon glyphicon glyphicon glyphicon-question-sign pull-left" style="font-size:32px;color:#32ac4e"></div>
          <p style="color: #07141e;margin-left: 48px">
            对于学生的提问，讲师会给出思路和方法，而不是单纯的给出答案。
          </p>
    </div>
    </div>
 </div>
  <div class="qa_sep_15"></div>
  <div class="qa_sep_15"></div>
  <div class="qa_sep_15"></div>
  <div class="qa_sep_15"></div>
  <div class="qa_sep_15"></div>

</div>
<div class="container">
  <div class="qa_sep_5"></div>
  <div class="qa_sep_15"></div>
  <div class="row">
    <div class="col-md-4">
      <p>联系我们</p>
    </div>
    <div class="col-md-4">
        <p>京ICP备11008151号</p>
    </div>
  </div>
</div>