<div style="padding:128px;height: 320px" class="home_head">
  <div class="container">
    <h1>答疑时间</h1>
    <p style="color: #07141e">"答疑时间"是一家网络学校教育公司，致力于把给学生提供优质教育资源，方便老师和学生的互动社区。</p>
  </div>

</div>
<div class="container">
  <div class="row">
  <div class="col-md-4">
    <p>
      讲师
      我们的讲师都来自于网校开通地区的名师。
      和“看不见摸不着的远程讲师”相比，本地名师的口碑更加真实可信。
      无论学生是哪个学校哪个班级，都可以听取到本地区最优秀的老师授课。
    </p>
  </div>
  <div class="col-md-4">
    <p>
      课程
      学生可以选择某位讲师的"一节课"进行学习。
      而不是必须选择某位讲师的全部课程。
      这样细粒度的划分，更加符合学生实际的学习情况。
    </p>
  </div>
  <div class="col-md-4">
    <p>
      互动
      我们不是单向的授课，学生可以就选择学习的课程和讲师进行在线提问和交流。
      我们的老师就在学生的“身边"，所以学生也可在线下的直接和老师继续互动交流。
    </p>
  </div>
  </div>
</div>