<div class="instroduced">
  <div class="container">
    <h3>如何学习答疑时间小班课</h3>
    <div class="instroduced-area">
      <video id="video-info" class="video-js video-player" x-webkit-airplay="allow" webkit-playsinline controls poster="//nos.netease.com/vod163/poster.png" preload="auto" width="" height="" data-setup="{}">
        <source src="//nos.netease.com/vod163/demo.mp4" type="video/mp4">
      </video>
    </div>
  </div>
</div>

<%= render "home/introduce/#{params[:type]}" %>

<div class="purchase-process">
  <div class="container">
    <h3>购买流程</h3>
    <ul>
      <li class="col-md-3 col-sm-6 col-xs-6">
        <div class="process-module">
          <p>①挑选课程</p>
        </div>
      </li>
      <li class="col-md-3 col-sm-6 col-xs-6">
        <div class="process-module">
          <p>②报名下单</p>
        </div>
      </li>
      <li class="col-md-3 col-sm-6 col-xs-6">
        <div class="process-module">
          <p>③在线支付</p>
        </div>
      </li>
      <li class="col-md-3 col-sm-6 col-xs-6">
        <div class="process-module">
          <p>④完成购买</p>
        </div>
      </li>
    </ul>
  </div>
</div>
