<div class="container container-details">
  <div class="row">
    <div class="panel panel-default panel-profile">
      <div class="city-content">
        <div class="city-title">
          <form action="" method="post" class="form-city">
            <span class="province">按省份选择：</span>
    				<span>
	         <select id="s_province" name="s_province"><option value="----省----">----省----</option><option value="北京市">北京市</option><option value="天津市">天津市</option><option value="上海市">上海市</option><option value="重庆市">重庆市</option><option value="河北省">河北省</option><option value="山西省">山西省</option><option value="内蒙古">内蒙古</option><option value="辽宁省">辽宁省</option><option value="吉林省">吉林省</option><option value="黑龙江省">黑龙江省</option><option value="江苏省">江苏省</option><option value="浙江省">浙江省</option><option value="安徽省">安徽省</option><option value="福建省">福建省</option><option value="江西省">江西省</option><option value="山东省">山东省</option><option value="河南省">河南省</option><option value="湖北省">湖北省</option><option value="湖南省">湖南省</option><option value="广东省">广东省</option><option value="广西">广西</option><option value="海南省">海南省</option><option value="四川省">四川省</option><option value="贵州省">贵州省</option><option value="云南省">云南省</option><option value="西藏">西藏</option><option value="陕西省">陕西省</option><option value="甘肃省">甘肃省</option><option value="青海省">青海省</option><option value="宁夏">宁夏</option><option value="新疆">新疆</option><option value="香港">香港</option><option value="澳门">澳门</option><option value="台湾省">台湾省</option></select>&nbsp;&nbsp;
           <select id="s_city" name="s_city"><option value="----市----">----市----</option><option value="重庆市">重庆市</option></select>&nbsp;&nbsp;
    				</span>
            <input type="submit" name="" id="" value="确定" class="btn-switch">
          </form>
          <span class="prompt-con">(城市已精确到县级单位)</span>
          <a href="" class="change-city">选择全国</a>
        </div>
        <div class="city-details">
          <div class="city-list">
            <h3>最近选择：</h3>
            <p>
              <a href="">北京</a>
              <!--<a href="">保定</a>
              <a href="">涿州</a>
              <a href="">北京</a>
              <a href="">保定</a>
              <a href="">涿州</a>
              <a href="">北京</a>
              <a href="">保定</a>
              <a href="">涿州</a>
              <a href="">北京</a>-->

            </p>
          </div>
          <div class="citieslist">
            <h2>按拼音字母：</h2>
            <ol class="hasallcity">
              <!--<li>
                <p>
                  <span class="hasallcity-num"><strong>A</strong></span>
                  <span class="hasallcity-name">
                    <a href="">安吉</a>
                    <a href="">阿克苏</a>
                    <a href="">阿坝</a>
                    <a href="">安丘</a>
                    <a href="">安阳</a>
                    <a href="">安岳</a>
                    <a href="">阿勒泰</a>
                    <a href="">澳门</a>
                    <a href="">安顺</a>
                    <a href="">阿里</a>
                    <a href="">鞍山</a>
                    <a href="">阿拉善盟</a>
                      <a href="">安吉</a>
                    <a href="">阿克苏</a>
                    <a href="">阿坝</a>
                    <a href="">安丘</a>
                    <a href="">安阳</a>
                    <a href="">安岳</a>
                    <a href="">阿勒泰</a>
                    <a href="">澳门</a>
                    <a href="">安顺</a>
                    <a href="">阿里</a>
                    <a href="">鞍山</a>
                    <a href="">阿拉善盟</a>

                  </span>
                </p>
              </li>-->
              <li style="background-color: white;">
                <p>
                  <span class="hasallcity-num" style="background: rgb(241, 241, 241); border-color: gray; color: rgb(0, 0, 0);"><strong>T</strong></span>
    							<span class="hasallcity-name">
    								<a href="" style="color: rgb(153, 153, 153);">太原</a>
                    <!--<a href="">阿克苏</a>
                    <a href="">阿坝</a>
                    <a href="">安丘</a>
                    <a href="">安阳</a>
                    <a href="">安岳</a>
                    <a href="">阿勒泰</a>
                    <a href="">澳门</a>
                    <a href="">安顺</a>
                    <a href="">阿里</a>
                    <a href="">鞍山</a>
                    <a href="">阿拉善盟</a>
                      <a href="">安吉</a>
                    <a href="">阿克苏</a>
                    <a href="">阿坝</a>
                    <a href="">安丘</a>
                    <a href="">安阳</a>
                    <a href="">安岳</a>
                    <a href="">阿勒泰</a>
                    <a href="">澳门</a>
                    <a href="">安顺</a>
                    <a href="">阿里</a>
                    <a href="">鞍山</a>
                    <a href="">阿拉善盟</a>-->
    							</span>
                </p>
              </li>
              <!--<li>
                <p>
                  <span class="hasallcity-num"><strong>C</strong></span>
                  <span class="hasallcity-name">
                    <a href="">安吉</a>
                    <a href="">阿克苏</a>
                    <a href="">阿坝</a>
                    <a href="">安丘</a>
                    <a href="">安阳</a>
                    <a href="">安岳</a>
                    <a href="">阿勒泰</a>
                    <a href="">澳门</a>
                    <a href="">安顺</a>
                    <a href="">阿里</a>
                    <a href="">鞍山</a>
                    <a href="">阿拉善盟</a>
                      <a href="">安吉</a>
                    <a href="">阿克苏</a>
                    <a href="">阿坝</a>
                    <a href="">安丘</a>
                    <a href="">安阳</a>
                    <a href="">安岳</a>
                    <a href="">阿勒泰</a>
                    <a href="">澳门</a>
                    <a href="">安顺</a>
                    <a href="">阿里</a>
                    <a href="">鞍山</a>
                    <a href="">阿拉善盟</a>
                  </span>
                </p>
              </li>-->
              <li style="background-color: white;">
                <p>
                  <span class="hasallcity-num" style="background: rgb(241, 241, 241); border-color: gray; color: rgb(0, 0, 0);"><strong>Y</strong></span>
    							<span class="hasallcity-name">
    								<a href="">阳泉</a>
                    <!--<a href="">阿克苏</a>
                    <a href="">阿坝</a>
                    <a href="">安丘</a>
                    <a href="">安阳</a>
                    <a href="">安岳</a>
                    <a href="">阿勒泰</a>
                    <a href="">澳门</a>
                    <a href="">安顺</a>
                    <a href="">阿里</a>
                    <a href="">鞍山</a>
                    <a href="">阿拉善盟</a>
                      <a href="">安吉</a>
                    <a href="">阿克苏</a>
                    <a href="">阿坝</a>
                    <a href="">安丘</a>
                    <a href="">安阳</a>
                    <a href="">安岳</a>
                    <a href="">阿勒泰</a>
                    <a href="">澳门</a>
                    <a href="">安顺</a>
                    <a href="">阿里</a>
                    <a href="">鞍山</a>
                    <a href="">阿拉善盟</a>-->
    							</span>
                </p>
              </li>
              <li style="background-color: white;">
                <p>
                  <span class="hasallcity-num" style="background: rgb(241, 241, 241); border-color: gray; color: rgb(0, 0, 0);"><strong>Z</strong></span>
    							<span class="hasallcity-name">
    								<a href="">诸暨</a>
                    <!--<a href="">阿克苏</a>
                    <a href="">阿坝</a>
                    <a href="">安丘</a>
                    <a href="">安阳</a>
                    <a href="">安岳</a>
                    <a href="">阿勒泰</a>
                    <a href="">澳门</a>
                    <a href="">安顺</a>
                    <a href="">阿里</a>
                    <a href="">鞍山</a>
                    <a href="">阿拉善盟</a>
                      <a href="">安吉</a>
                    <a href="">阿克苏</a>
                    <a href="">阿坝</a>
                    <a href="">安丘</a>
                    <a href="">安阳</a>
                    <a href="">安岳</a>
                    <a href="">阿勒泰</a>
                    <a href="">澳门</a>
                    <a href="">安顺</a>
                    <a href="">阿里</a>
                    <a href="">鞍山</a>
                    <a href="">阿拉善盟</a>-->
    							</span>
                </p>
              </li>
            </ol>
          </div>
        </div>
        <div class="city-prompt">
          如果没有您要找的城市，则该城市暂未加盟
        </div>
      </div>
    </div>
  </div>
</div>