<div class="personal">
  <%= render 'home/teachers/filter' %>

  <div class="line-item">
    <div class="container">
      <% if @teachers.present? %>
        <ul class="teacher-list">
          <%= render partial: 'home/search/teacher', collection: @teachers %>
        </ul>
      <% end %>

      <%= render 'shared/blank' if @teachers.blank? %>
      <center><div class="pagination-fix"><%= will_paginate @teachers, class: 'paging', previous_label: '←', next_label: '→' %></div></center>
    </div>
  </div>
</div>