  <%=simple_form_for @learning_plan do |f| %>
      <div id="the_teacher_of_learning_plan">

          <%= f.association :teachers ,collection: @teachers.map {|t| ["【#{t.school.name}】#{t.name}", t.id]},
                            as: :check_boxes,label:false,
                            item_wrapper_tag: :div, item_wrapper_class:"col-md-4"
          %>
      </div>
      <div style="clear: both"></div>
  <% end %>
