<div class="panel panel-default">
  <div class="admin">
    <%= render partial: 'admins/workstations/tab' %>

    <div class="admin-audit">
      <div class="admin-transfer">

        <h4 class="modal-title" id="myModalLabel">添加转款记录（提现人：XXXX）</h4>

        <form class="form-inline">
          <div class="form-group">
            <label for="exampleInputName1">转款方式</label>
            <input type="text" class="form-control" id="exampleInputName1" placeholder="人工转账">
            <span class="help-block has-error"></span>
          </div>
          <div class="form-group  form-paragraph">
            <label for="exampleInputName1">转款人</label>
            <input type="text" class="form-control" id="exampleInputName1" placeholder="填写真实信息">
            <span class="help-block has-error"></span>
          </div>
          <div class="form-group">
            <label for="exampleInputName1">转款日期</label>
            <input type="text" class="form-control je-date" id="exampleInputName1" readonly="" placeholder="选择转款日期">
            <span class="help-block has-error"></span>
          </div>
          <div class="form-group form-prove">
            <label for="exampleInputFile">转款证明</label>
            <div class="form-upload">
              <div class="form-img">
                <span>证明图片</span>
                <img src="http://192.168.1.222:8020/html/1.7.3/admin-addtrafer.html">
              </div>
              <input type="file" id="lefile" style="display: none;">
              <a class="btn" onclick="$('input[id=lefile]').click();">添加图片</a>
            </div>
            <span class="help-block has-error"></span>
          </div>
        </form>
        <div class="workstation-submit">
          <center>
            <a class="btn btn-default" href="http://192.168.1.222:8020/html/1.7.3/admin-addtrafer.html#" role="button">取消</a>
            <input class="btn btn-default" type="submit" value="提交">
          </center>
        </div>

      </div>
    </div>

  </div>
</div>
