<div class="qa_box">
  <div class="qa_cell box_header">
    <div style="text-align: center;color:gray">导航分类</div>
  </div>
  <div class="qa_section_nav">
    <% @sections.each do |section| %>
        <div class="qa_cell">
            <li>
                <label><%= section.name %></label>
                <% section.nodes.each do |node| %>
                    <%= link_to node.name,node_topics_path(node) %>
                <% end %>
            </li>
        </div>
  <% end %>
  </div>
</div>