<div class="panel panel-default">
  <div class="admin new-workstation">
    <div class="admin-title">
      <div class="admin-title-left">
        <h3><%= t('view.admins.workstations.new.link_title') %></h3>
      </div>
    </div>

    <%= render partial: 'form' %>
  </div>
</div>
