<div class="panel panel-default">
  <div class="admin new-workstation">
    <%= render 'station/workstations/tab_node' %>

    <%= link_to t('view.admins.workstations.show.edit_title'), edit_admins_workstation_path(@workstation), class: 'edit-site' %>

    <%= render partial: 'shared/workstations/info', locals: {workstation: @workstation} %>
  </div>
</div>