<%= render 'shared/teacher' %>

<div class="qa_sep_15"></div>
<span class="label label-success">我的<%= Curriculum.model_name.human%></span>
<div class="qa_sep_15"></div>

<div class="row groups">
    <%= render partial:'curriculums/curriculum',collection:@curriculums %>
</div>
