<ul id="menu" class="menu rel">
  <li>
    <%= link_to curriculums_path do %>
        <span class="glyphicon glyphicon-tasks"></span>
        <span class="qa_f18">科目</span>
        <span class="qa_f12">All</span>
    <% end %>
  </li>
  <% APP_CONSTANT["subjects"].each do |subject| %>
      <%= render partial: 'sub_menu' ,:locals => { :sub => APP_CONSTANT["english"][subject].capitalize, :sub_cn => subject} %>
  <% end %>
</ul>