<div class="live-head playback">
  <div class="container live-big">
    <%= render 'back_player' %>
  </div>
</div>

<div class="container">
  <%= render 'live_studio/courses/replay_course_info' %>
</div>

<div class="container">
  <%= render 'live_studio/courses/replay_teacher_info' %>
</div>
