<div class="admin-title-left">
  <%= link_to t("live_studio.menu.courses"),
              live_studio.user_courses_path(@current_resource),
              class: "#{'active-admin' if 'live_studio/workstation/courses' == params[:controller]}" if allow?('live_studio/workstation/courses', 'index', @current_resource) %>
  <%= link_to t("live_studio.menu.course_requests"),
              live_studio.user_course_requests_path(@current_resource),
              class: "#{'active-admin' if 'live_studio/workstation/course_requests' == params[:controller]}" if allow?('live_studio/workstation/course_requests', 'index', @current_resource) %>
  <%= link_to t("live_studio.menu.course_invitations"),
              live_studio.user_course_invitations_path(@current_resource),
              class: "#{'active-admin' if 'live_studio/workstation/course_invitations' == params[:controller]}" if allow?('live_studio/workstation/course_invitations', 'index', @current_resource) %>
</div>
