# 网易云信配置
production:
  app_key: AppKey
  app_secret: AppSecret

development:
  app_key: AppKey
  app_secret: AppSecret

testing:
  app_key: AppKey
  app_secret: AppSecret

test:
  app_key: AppKey
  app_secret: AppSecret
