<div class="row" style="padding:10px 36px 10px 36px;border-bottom: 1px solid #e2e2e2">
  <div class="col-md-1">
    <%= manager_counter + 1 %>
  </div>
  <div class="col-md-3">
    <%= link_to manager.name , admins_manager_path(manager) %>
  </div>
  <div class="col-md-4">
    <%= manager.email %>
  </div>
  <div class="col-md-4">
  </div>
</div>