<div class="row" style="padding:10px 10px 10px 10px;border-bottom: 1px solid #e2e2e2">
  <div class="col-md-1">
    <%= homework_counter + 1 %>
  </div>
  <div class="col-md-5">
    <%= link_to homework.title, homework_path(homework) %>
  </div>
</div>