// Place all the styles related to the wap/live_studio/customized_groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
