<div class="admin-title-left">
  <%= link_to t("live_studio.menu.courses"),
              live_studio.station_workstation_courses_path(@workstation),
              class: "#{'active-admin' if 'live_studio/station/courses' == params[:controller]}" if allow?('live_studio/station/courses', 'index', @workstation) %>
  <%= link_to t("live_studio.menu.my_courses"),
              live_studio.station_workstation_course_records_path(@workstation),
              class: "#{'active-admin' if 'live_studio/station/course_records' == params[:controller]}" if allow?('live_studio/station/course_records', 'index', @workstation) %>
</div>
