<div class="login-wechat">
  <div class="container">
    <div class="row">
      <div class="wechat-title">
        <p>
          <img src="../img/binding.png">
          <%= image_tag('binding.png') %>
          已成功关联微信账号<span>XXXXX</span>,请输入手机完成绑定！
        </p>
        <p><span>提示：</span><span>绑定手机后可体验更多功能。</span></p>
      </div>
      <div class="wechat-con">

        <div class="wechat-msg">
          <form novalidate="novalidate" class="simple_form new_student" id="" action="" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="v6HwT8g+KFBa8QUaZkfnD9fj81ti5/LG3dbdaX+4Q+xM2jmvkTny5wz+Nd09AU7La3jq/hV6kJR76iEPnv5k9Q==">
            <div class="form-group">
              <label class="control-label tecmsg-title" for="course_invitation_user_phone">输入手机号：</label>
              <div class="input-group">
                <input class="form-control" type="text" maxlength="11" id="course_invitation_user_phone" placeholder="必填">
              </div>
              <span class="help-block has-error"></span>
            </div>
            <div class="form-group">
              <label class="control-label tecmsg-title" for="course_invitation_user_code">输入校验码：</label>
              <div class="input-group">
                <input type="text" class="form-control auth-code" maxlength="4" id="course_invitation_user_code" placeholder="必填">
                <span class="input-group-btn">
                <input type="button" id="btn-obtain" class="btn btn-default" value="获取校验码">
                </span>
              </div>
              <span class="help-block has-error"></span>
            </div>
            <div class="form-group">
              <label class="control-label tecmsg-title" for="course_invitation_user_password">设置密码：</label>
              <div class="input-group">
                <input class="form-control" type="password" id="course_invitation_user_password" placeholder="必填">
              </div>
              <span class="help-block has-error"></span>
            </div>
            <div class="form-group">
              <div class="input-group input-button">
                <a href="">放弃</a>
                <input data-toggle="modal" data-target="#acceptModal" type="submit" name="" id="" value="确认绑定">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>