<div class="nav-item">
  <div class="aside-left tabs">
    <%= link_to t('view.live_studio/courses.show.introduce'), "#introduce", data: { toggle: 'tab' }, class: 'active' %>
    <%= link_to t('view.live_studio/courses.show.arrange'), "#arrange", data: { toggle: 'tab' } %>
    <%= link_to t('view.live_studio/courses.show.study'), "#study", data: { toggle: 'tab' } %>
  </div>
</div>
