<div class="phone-login phone-details">
  <div class="phone-login-title">
    <div class="phone-return">
      <%= link_to 'javascript:history.back(-1);' do %>
        <%= image_tag('wap/phone-return-1.png') %>
      <% end %>
    </div>
    <div class="phone-headline">
      <h3><%= t('wap.live_studio/courses.show.course_name') %></h3>
    </div>
  </div>

  <div class="phone-details-btn">
  </div>
</div>

<%= render 'layouts/alert_download' %>

<% content_for :javascript do %>
  <script type="text/javascript">
    $(".details-msg-nav a").click(function() {
      var index = $(".details-msg-nav a").index($(this));
      $(this).addClass("active").siblings().removeClass("active");
      $(".details-msg-con").eq(index).show().siblings().hide();
    })
  </script>
<% end %>
