
<%= render partial: 'live_studio/video_courses/show/course_header' %>

<div class="course-con">
  <div class="container">
    <div class="row">
      <%= render partial: 'live_studio/video_courses/show/course_info' %>

      <%= render partial: 'live_studio/courses/show/teacher_info' %>
    </div>
  </div>
</div>
