sdafsfafasdfasdfasfas
<% if customized_course_counter == 0 %>
    <div class="row qa_cell" style="font-weight: bold">

      <div class="col-md-2">
        <%= CustomizedCourse.human_attribute_name(:category) %>
      </div>
      <div class="col-md-2">
        <%= CustomizedCourse.human_attribute_name(:subject) %>
      </div>
      <div class="col-md-8">
        <%= LearningPlan.human_attribute_name(:teachers) %>
      </div>
    </div>
<% end %>