<div class="qa_box qa_big_cell">
  <p>你好:</p>
  <p><%= CustomizedCourse.model_name.human %>是一种在线一对一辅导的学习方式。
    他的特点在于学生和老师在足不出户的情况下就可以完成学习，提问，作业批改；并且对于难点、重点可以反复学习体会，同时对于不懂的问题可以随时提问，老师都会通过视频进行讲解。</p>

  <p>首先，老师会对根据学生的学习情况进行评估，根据评估的结果制定学习大纲。</p>
  <p>然后，老师会根据学习大纲，制作教学视频，以及布置相应的作业。</p>
  <p>最后，同学在家中就可以根据教学视频进行学习；学习过程中可以针对重点难点在线提问，老师会对问题做相应的视频进行讲解；
    完成老师的布置的作业后，把作业上传到网站，老师进行视频批改。
  </p>
  <p style="font-size: 24px">如果对此感兴趣，请联系当地的工作站进行开通。

  <%= render 'shared/address' %>
  </p>
</div>