<%= render layout: 'courses/course_layout',locals: {course:@course,current_lesson: @lesson} do %>
    <div id = "lesson">
      <% if current_user.student? %>
          <%=render 'lessons/student_lesson' %>
      <% else %>
          <%=render 'lessons/lesson' %>
      <% end %>
    </div>
<% end %>