<% if_show_payment_password_div = (params[:cate].to_s.to_sym == :security_setting && params[:by].to_s.to_sym == :payment_password) %>
<div class="row modifiy <%= 'active' if if_show_payment_password_div %>">
  <%= simple_form_for(@teacher, url: teacher_path(@teacher, cate: :security_setting, by: :payment_password), html: {id: "edit_payment_password_form"}) do |f| %>
    <% if @teacher.cash_account_password? %>
      <%= render 'edit_payment_password_form', f: f %>
    <% else %>
      <%= render 'new_payment_password_form', f: f %>
    <% end %>
  <% end %>
</div>
