<div class="contains-title set-title">
  <%= link_to t("students.common.personal_information"), info_teacher_path(@teacher),
              class: "#{'active' if (action_name == "info" or params[:cate].to_s.to_sym == :edit_profile)}" %>
  <%= link_to t("students.common.security_setting"),  edit_teacher_path(@teacher, cate: :security_setting),
              class: "#{'active' if params[:cate].to_s.to_sym == :security_setting}" %>
</div>