<% if learning_plan_counter == 0 %>
    <div class="row qa_cell" style="font-weight: bold">

      <div class="col-md-3">
        <%= "#{VipClass.model_name.human} #{LearningPlan.human_attribute_name(:student)}" %>
      </div>

      <div class="col-md-3">
        问题
      </div>
    </div>
<% end %>
<div class="row qa_cell">
  <div class="col-md-3">
    <%= learning_plan.student.name %>
  </div>


  <div class="col-md-3">
    <%= link_to '查看全部问题',teacher_questions_path(learning_plan_id: learning_plan.id) %>
  </div>
</div>

<div>
  <div>

  </div>
</div>