<div class="col-md-6 col-sm-6 manage-box">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6 student-info">
      <p>
        <%= image_tag learning_plan.student.try(:avatar_url, :small), class: 'handle_error_avatar' %>
        <span><%= learning_plan.student.try(:name) %></span>
      </p>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6 examine">
      <%= link_to t('teachers.students.questions_link'), teacher_questions_path(learning_plan_id: learning_plan.id, teacher_id: @teacher.id) %>
    </div>
  </div>
</div>
