<li role="presentation" class=<%= get_active_from_params("state",state) %>>
  <%=link_to "#{Lesson.human_state_name(state)}的#{Lesson.model_name.human}",
             lessons_state_teacher_path(@teacher,state: state)%>
</li>