<span>
  <% if teacher.pass %>
    <em>通过</em><i> • </i><%= link_to '不通过', unpass_teacher_path(teacher), remote: true, class: 'no-pass' %>
  <% else %>
    <em>不通过</em><i> • </i><%= link_to '通过', pass_teacher_path(teacher), remote: true, class: 'pass' %>
  <% end %>
</span>
<i>|</i>