<div class="row" style="padding:10px 36px 10px 36px;border-bottom: 1px solid #e2e2e2">
  <div class="col-md-1">
    <%= teacher_counter + 1 %>
  </div>
  <div class="col-md-3">
    <%= link_to teacher.name , teacher_path(teacher) %>
  </div>
  <div class="col-md-4">
    <%= teacher.school.name %>
  </div>
  <div class="col-md-4">
    <%= teacher.school.city.name %>
  </div>
</div>