var edit_div = "#teacher_edit_" + '<%= @teacher.id -%>';
var edit_input = edit_div + ' #teacher_' + '<%= @update_attr -%>';
var parent_div = $(edit_input).parent();

<% if @teacher.errors.present? -%>
  if(!parent_div.hasClass("has-error"))
  {
    parent_div.addClass("has-error").append('<span class="help-block has-error">' + '<%= @teacher.errors[@update_attr.to_sym][0] %>' + '</span>');
  }
<% else -%>
  if(parent_div.hasClass("has-error"))
  {
    parent_div.removeClass("has-error");
    var error_span = $(edit_input).next();
    error_span.remove()
  };

  if(!parent_div.hasClass("update-success")){
    parent_div.addClass("update-success").append('<span class="help-block has-error"><%= t("flash.notice.update_success") %></span>');
  }
<% end -%>

