<div class="contains">
  <div class="contains-title">
    <h3><%= t('teachers.curriculums.title') %></h3>
  </div>

  <div class="common">
    <div class="row">
      <%= render partial: 'teachers/curriculums/curriculum', collection: @curriculums %>
    </div>

    <%= render 'shared/blank' if @curriculums.blank? %>
  </div>
</div>