<%= content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><%= link_to t("teacher.common.personal_center"),info_teacher_path(@teacher) %></li>
  </ol>
<% end %>

<div class="qa_box row">
  <%= render "info_title" %>

  <%= render params[:cate] %>
</div>
