<div class="contains">
  <div class="contains-title">
    <h3><%= t("view.teacher_bars.teacher_students") %></h3>
  </div>
  <div class="administrate">
    <div class="row">
      <%= render partial: 'learning_plan', collection: @learning_plans %>
    </div>
    <%= render 'shared/blank' if @learning_plans.blank? %>
    <center><div class="pagination-fix"><%= will_paginate @learning_plans, class: 'paging', previous_label: '←', next_label: '→' %></div></center>
  </div>
</div>
