<div class="discipline-nav">
  <%= link_to t("live_studio.menu.teacher.course.all"),
              live_studio.teacher_interactive_courses_path(@teacher),
              class: "#{ 'active' if params[:status].blank? }" %>
  <%= link_to t("live_studio.menu.teacher.course.published"),
              live_studio.teacher_interactive_courses_path(@teacher, status: 'published'),
              class: "#{ 'active' if 'published' == params[:status] }" %>
  <%= link_to t("live_studio.menu.teacher.course.teaching"),
              live_studio.teacher_interactive_courses_path(@teacher, status: 'teaching'),
              class: "#{ 'active' if 'teaching' == params[:status] }" %>
  <%= link_to t("live_studio.menu.teacher.course.finished"),
              live_studio.teacher_interactive_courses_path(@teacher, status: 'finished'),
              class: "#{ 'active' if 'finished' == params[:status] }" %>
</div>


