<!DOCTYPE html>
<html>
<head>
  <title>Qawechat</title>
  <%= stylesheet_link_tag    "qawechat/application", media: "all" %>
  <%= javascript_include_tag "qawechat/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
