<div class="panel panel-default">
          <div class="recharge-title"><p>账户充值</p></div>
             <div class="row">
             <div class="col-md-7 col-md-row">
              <div class="col-md-title"><p>充值金额</p></div>
                <div class="col-md-apply">
                  <div class="txt-num">
                    <input type="text" placeholder="输入金额不小于100元" class="num">
                    <span>(当前余额2345.33元)</span>
                  </div>
                </div>
             </div>
             <div class="col-md-5 col-md-row">
              <div class="col-md-title"><p>支付方式</p></div>
              <div class="col-md-apply-1">
                <div class="txt-radio">
                <input type="radio" name="circle" class="check">
                <span class="iconfont"></span><em>微信支付</em><br>
                <input type="radio" name="circle" class="check">
                <span class="iconfont iconfont-1"></span><em>支付宝支付</em>
                </div>
              </div>
             </div>
             </div>
             <ul class="row-apply">
              <li>请输入并核对信息后再提交充值确认</li>
              <li><em>应付金额:</em><span><strong>￥1400.00</strong></span></li>
              <li>
                <!--<input type="button" class="btn-suc" value="立即充值" />-->
                <button type="button" class="btn btn-default btn-suc">立即充值</button>
              </li>
             </ul>  
      </div>