<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @recharge.amount %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @recharge.created_at %>
</p>

<p>
  <strong>Status:</strong>
  <%= @recharge.status %>
</p>
