<div class="features">
  <div class="container">
    <h3>课程特色</h3>
    <ul>
      <li class="col-md-4 col-sm-6 col-xs-6">
        <div class="module">
          <p>在线授课</p>
        </div>
        <div class="module-info">
          <p>在线授课</p>
          <p>随时随地观看直播即可上课</p>
        </div>
      </li>
      <li class="col-md-4 col-sm-6 col-xs-6">
        <div class="module bg-orange">
          <p>真人互动</p>
        </div>
        <div class="module-info">
          <p>老师实时沟通</p>
          <p>答疑解惑，感受真实课堂</p>
        </div>
      </li>
      <li class="col-md-4 col-sm-6 col-xs-6">
        <div class="module bg-pink">
          <p>免费回放</p>
        </div>
        <div class="module-info">
          <p>直播自动生成回放</p>
          <p>自由观看，多次学习</p>
        </div>
      </li>
      <li class="col-md-4 col-sm-6 col-xs-6">
        <div class="module bg-purple">
          <p>插班报名</p>
        </div>
        <div class="module-info">
          <p>支持插班价购买</p>
          <p>少花钱也能学</p>
        </div>
      </li>
      <li class="col-md-4 col-sm-6 col-xs-6">
        <div class="module bg-green">
          <p>随时可退</p>
        </div>
        <div class="module-info">
          <p>随时可以申请退费</p>
          <p>免除后顾之忧</p>
        </div>
      </li>
      <li class="col-md-4 col-sm-6 col-xs-6">
        <div class="module bg-blue">
          <p>跟踪服务</p>
        </div>
        <div class="module-info">
          <p>跟踪式客服 </p>
          <p>第一时间解决问题</p>
        </div>
      </li>
    </ul>
    <div class="selection-item">
      <a href="">
        <span>立即选课</span>
        <i class="fa fa-angle-right"></i>
      </a>
    </div>
  </div>
</div>