<div class="features">
  <div class="container">
    <h3>课程特色</h3>
    <ul>
      <li class="col-md-4 col-sm-6 col-xs-6">
        <div class="module">
          <p>优选教师</p>
        </div>
        <div class="module-info">
          <p>精选优秀师资</p>
          <p>稳步提升学习成绩</p>
        </div>
      </li>
      <li class="col-md-4 col-sm-6 col-xs-6">
        <div class="module bg-orange">
          <p>小班授课</p>
        </div>
        <div class="module-info">
          <p>小班授课方式</p>
          <p>学习人数最多不超10人</p>
        </div>
      </li>
      <li class="col-md-4 col-sm-6 col-xs-6">
        <div class="module bg-pink">
          <p>互动答疑</p>
        </div>
        <div class="module-info">
          <p>即时互动直播答疑</p>
          <p>深度讲解帮学生消除困惑</p>
        </div>
      </li>
      <li class="col-md-4 col-sm-6 col-xs-6">
        <div class="module bg-purple">
          <p>作业批改</p>
        </div>
        <div class="module-info">
          <p>随堂布置作业</p>
          <p>实时批改</p>
        </div>
      </li>
      <li class="col-md-4 col-sm-6 col-xs-6">
        <div class="module bg-green">
          <p>提问解答</p>
        </div>
        <div class="module-info">
          <p>即时解答课内提问</p>
          <p>全员可见</p>
        </div>
      </li>
      <li class="col-md-4 col-sm-6 col-xs-6">
        <div class="module bg-blue">
          <p>课件分享</p>
        </div>
        <div class="module-info">
          <p>课件文件下载 </p>
          <p>永久保存</p>
        </div>
      </li>
      <li class="col-md-4 col-sm-6 col-xs-6">
        <div class="module bg-darkgreen">
          <p>插班报名</p>
        </div>
        <div class="module-info">
          <p>支持插班价购买 </p>
          <p>少花钱也能学</p>
        </div>
      </li>
      <li class="col-md-4 col-sm-6 col-xs-6">
        <div class="module bg-brown">
          <p>随时可退</p>
        </div>
        <div class="module-info">
          <p>随时可以申请退费 </p>
          <p>免除后顾之忧</p>
        </div>
      </li>
      <li class="col-md-4 col-sm-6 col-xs-6">
        <div class="module bg-grassgreen">
          <p>跟踪服务</p>
        </div>
        <div class="module-info">
          <p>跟踪式客服 </p>
          <p>第一时间解决问题</p>
        </div>
      </li>
    </ul>
    <div class="selection-item">
      <a href="">
        <span>立即选课</span>
        <i class="fa fa-angle-right"></i>
      </a>
    </div>
  </div>
</div>