<div class="features">
  <div class="container">
    <h3>课程特色</h3>
    <ul>
      <li class="col-md-4 col-sm-6 col-xs-6">
        <div class="module">
          <p>优选教师</p>
        </div>
        <div class="module-info">
          <p>精选优秀师资</p>
          <p>稳步提升学习成绩</p>
        </div>
      </li>
      <li class="col-md-4 col-sm-6 col-xs-6">
        <div class="module bg-orange">
          <p>专人授课</p>
        </div>
        <div class="module-info">
          <p>一人一师的授课方式</p>
          <p>全方位服务学生</p>
        </div>
      </li>
      <li class="col-md-4 col-sm-6 col-xs-6">
        <div class="module bg-pink">
          <p>针对讲解</p>
        </div>
        <div class="module-info">
          <p>针对薄弱</p>
          <p>精细化讲解和答疑</p>
        </div>
      </li>
      <li class="col-md-4 col-sm-6 col-xs-6">
        <div class="module bg-purple">
          <p>丰富互动</p>
        </div>
        <div class="module-info">
          <p>多样式交互</p>
          <p>共享白板、实时音视频</p>
        </div>
      </li>
      <li class="col-md-4 col-sm-6 col-xs-6">
        <div class="module bg-green">
          <p>随时可退</p>
        </div>
        <div class="module-info">
          <p>随时可以申请退费</p>
          <p>免除后顾之忧</p>
        </div>
      </li>
      <li class="col-md-4 col-sm-6 col-xs-6">
        <div class="module bg-blue">
          <p>跟踪服务</p>
        </div>
        <div class="module-info">
          <p>跟踪式客服 </p>
          <p>第一时间解决问题</p>
        </div>
      </li>
    </ul>
    <div class="selection-item">
      <a href="">
        <span>立即选课</span>
        <i class="fa fa-angle-right"></i>
      </a>
    </div>
  </div>
</div>