<div class="features">
  <div class="container">
    <h3>课程特色</h3>
    <ul>
      <li class="col-md-4 col-sm-6 col-xs-6">
        <div class="module">
          <p>精选内容</p>
        </div>
        <div class="module-info">
          <p>精挑细选严格审核</p>
          <p>做最有质量的视频学习课程</p>
        </div>
      </li>
      <li class="col-md-4 col-sm-6 col-xs-6">
        <div class="module bg-orange">
          <p>自由学习</p>
        </div>
        <div class="module-info">
          <p>无需授课自主学习</p>
          <p>自由安排时间</p>
        </div>
      </li>
      <li class="col-md-4 col-sm-6 col-xs-6">
        <div class="module bg-pink">
          <p>永久观看</p>
        </div>
        <div class="module-info">
          <p>一次性购买</p>
          <p>即可永久享受不限制次数观看</p>
        </div>
      </li>
      <li class="col-md-4 col-sm-6 col-xs-6">
        <div class="module bg-purple">
          <p>即买即学</p>
        </div>
        <div class="module-info">
          <p>购买后即可开始学习</p>
          <p>零等待</p>
        </div>
      </li>
      <li class="col-md-4 col-sm-6 col-xs-6">
        <div class="module bg-green">
          <p>支持试听</p>
        </div>
        <div class="module-info">
          <p>先试听后购买</p>
          <p>不花一分冤枉钱</p>
        </div>
      </li>
      <li class="col-md-4 col-sm-6 col-xs-6">
        <div class="module bg-blue">
          <p>跟踪服务</p>
        </div>
        <div class="module-info">
          <p>跟踪式客服 </p>
          <p>第一时间解决问题</p>
        </div>
      </li>
    </ul>
    <div class="selection-item">
      <a href="">
        <span>立即选课</span>
        <i class="fa fa-angle-right"></i>
      </a>
    </div>
  </div>
</div>