<div class="qa_box">
  <div class="qa_cell box_head">
    <%= render partial: 'shared/homeworks/nav',locals: {homework: @homework} %>/
    <%=get_edit_or_create_model_string(@homework,"布置")%>
  </div>
</div>
<div class="qa_box qa_cell">
<%=simple_form_for ([@customized_course,@homework]) do |f| %>
      <%= render partial: "shared/qa_objects/form",locals: {f: f} %>
<% end %>
</div>