<div class="qa_objects">
  <%= render partial: 'shared/homeworks/homework',collection: homeworks %>
</div>
<div class="qa_cell">
  <%= will_paginate homeworks ,renderer: BootstrapPagination::Rails %>
</div>