<div class="qa_box">
  <%= render partial: 'homeworks/index_header',locals: {customized_course: customized_course} %>
  <%= render partial: 'homeworks/index_items',locals: {homeworks: @homeworks} %>
</div>