<div class="qa_box">
  <%= render partial: 'homeworks/index_header',locals: {customized_course: customized_course} %>
  <%= render partial: 'shared/qa_objects/index_items',locals: {objects: @homeworks} %>
</div>