<div class="qa_box">
  <div class="qa_cell box_head">
    <%= link_to "#{CustomizedCourse.human_attribute_name(:homeworks)} / #{@topic.topicable.title}" ,
                homework_path(@topic.topicable) %>
  </div>
</div>
<%= yield %>