<%= render layout: 'shared/qa_objects/show',locals:{qa_object: @homework } do %>
    <%= render partial: 'nav',locals: {customized_course: @homework.customized_course} %>
<% end %>
<div class="qa_sep_15"></div>
<div class="qa_sep_15"></div>

<%= render partial: 'solutions/index',locals:{solutionable: @homework} %>
