<%= render layout: 'shared/qa_objects/show',locals:{qa_object: @homework } do %>
    <%= render partial: 'shared/homeworks/nav',locals: {homework: @homework} %>
<% end %>
<div class="qa_sep_15"></div>
<div class="qa_sep_15"></div>

<%= render partial: 'solutions/index',locals:{examination: @homework} %>
