<div class="qa-picture-gallery">
  <% if pictures %>
    <%= render partial: 'pictures/picture',collection: pictures %>
  <% end %>
  <div id="qa-picture-gallery-border" style="clear: both"></div>
</div>