<div class="row">
  <div class="col-md-2 col-sm-2 playback-image">
    <a href="">
      <img src="../img/replays-img.png">
    </a>
  </div>
  <div class="col-md-8 col-sm-8 playback-info">
    <h5>
      <a href="">科学兴趣培养问答社区科学兴趣培养问答社区科学兴趣培养问答社区科学兴趣培养问答社区</a>
    </h5>
    <p>
      <span>高三语文</span>
      <i>|</i>
      <span>
        <em><%= t('common.teacher') %>：</em><em>田浩然</em>
      </span>
      <i>|</i>
      <span>
        <em><%= t('common.time') %>：</em><em>17分33秒</em>
      </span>
    </p>
  </div>
  <div class="col-md-2 col-sm-2 playback-number">
    <span>
      <%= image_tag 'view.png' %>
      <i>888</i>
    </span>
  </div>
</div>