<div class="line-item">
  <div class="container">
    <center>
      <h2><strong><%= t('view.teacher_items.title') %></strong></h2>
    </center>

    <ul class="item-recommend">
      <%= render partial: 'home/items/teachers_li' %>
    </ul>
    <!-- ajax rand-->
    <p class="iteminfo-more"><a href=""><%= t('view.teacher_items.replace') %></a></p>
  </div>
</div>