<% color = 'pink' if topic_item_counter == 0 %>
<% color = 'blue' if topic_item_counter == 1 %>
<% color = 'orange' if topic_item_counter == 2 %>
<% color = 'green' if topic_item_counter == 3 %>
<div class="col-md-3 col-sm-3">
  <%= link_to topic_item.link, class: "color-#{color}" do %>
    <p><%= topic_item.name %></p>
  <% end %>
</div>
