@charset "utf-8";
html,
body {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  background-color: #f2f2f2;
}
.phone-login {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  position: relative;
}
.phone-login-title {
  position: relative;
  height: 4rem;
  border-bottom: 0.1rem solid #dbdbdb;
}
.phone-return {
  position: absolute;
  left: 1.2rem;
  z-index: 10;
}
.phone-return img {
  margin-top: 1.125rem;
  width: 1rem;
  height: 1.75rem;
}
.phone-headline {
  height: 4rem;
  position: absolute;
  left: 0rem;
  right: 0rem;
  z-index: 1;
}
.phone-headline h3 {
  margin: 0rem 8rem;
  font-size: 1.6rem;
  line-height: 4rem;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.phone-login-con {
  margin-top: 1.3rem;
  width: 100%;
  background-color: #FFFFFF;
}
.phone-login-con .form-group {
  height: 4.2rem;
  overflow: hidden;
  margin-left: 1.2rem;
  margin-bottom: 0px;
}
.phone-login-con .form-group label {
  float: left;
  font-weight: 100;
  font-size: 1.4rem;
  line-height: 4.2rem;
  margin-right: 4.32%;
}
.login-line {
  width: 96%;
  margin-left: 1.2rem;
  border-bottom: 0.1rem solid #CCCCCC;
}
.phone-login-con .form-group .input-group {
  width: 83.3%;
  border-top: 0px;
  float: left;
  }
.phone-login-con .form-group .form-control {
  height: 4.2rem;
  width: 100%;
  padding-left: 0rem;
  border: 0rem solid #FFFFFF !important;
  box-shadow: inset 0 0px 0px rgba(0,0,0,0) !important;
  -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0) !important;
}
.phone-login-con .login-checkbox  {
  height: 5rem;
  margin-left: 0px;
  padding-left: 1.2rem;
  background-color: #F2F2F2;
}

.phone-login-con .login-checkbox .input-group {
  float: left;
  width: 5%;
  height: 5rem;
  margin-right: 2%;
  padding-top: 1.75rem;
}
.phone-login-con .login-checkbox .input-group input[type=checkbox]{
  margin-top: 0rem;
  width: 1.5rem;
  height: 1.5rem;
}
.phone-login-con .login-checkbox label {
  line-height: 5.4rem;
  font-size: 1.3rem;
  color: #666666;
}
.login-submit {
  height: 3.8rem;
  background-color: #F2F2F2;
}
.phone-login-con input[type='submit'] {
  margin-left: 1.2rem;
  font-size: 1.4rem;
  color: #FFFFFF;
  height: 100%;
  width: 93%;
  border-radius: 0.4rem;
  background-color: #ff5842;
  border: 0.1rem solid #ff5842;
}
.login-link {
  width: 100%;
  padding: 1.4rem 1.2rem 0 1.2rem;
  font-size: 1.4rem;
  overflow: hidden;
  background-color: #F2F2F2;
}
.login-link a {
  color: #666;
  text-decoration: none;
}
.login-link-left {
  float: left;
}
.login-link-right {
  float: right;
}
.phone-login-else {
  width: 100%;
  position: absolute;
  top: 80%;
}
.login-else-title {
  width: 100%;
  padding: 0px 1.2rem;
}
.login-else-title span {
  position: absolute;
  left: 50%;
  top: -0.85rem;
  margin-left: -3.6rem;
  color: #333333;
  font-size: 1.2rem;
}
.login-else-title img {
  position: absolute;
  width: 11.2rem;
  height: 0.2rem;
}
.login-else-title img:first-child {
  left: 1.2rem;
}
.login-else-title img:last-child {
  right: 1.2rem !important;
}
.login-else-con {
  clear: both;
  position: relative;
}
.login-else-con a {
  position: absolute;
  left: 50%;
  margin-left: -1.15rem;
  top: 2.4rem;
  text-decoration: none;
}
.login-else-con img {
  text-align: center;
  width: 2.3rem;
  height: 1.9rem;
}

/*注册页面*/
.phone-register .phone-login-con .form-group .input-group {
  width: 76.23%;
}
.phone-register .phone-login-con .form-group label {
  margin-right: 7%;
}
.phone-register .phone-login-con .phone-register-pwd label {
  margin-right: 3%;
}
.phone-register .phone-login-con .phone-register-code .input-group {
  width: 80.5%;
}
.phone-register-code .input-group input:first-child {
  width: 68.9%;
}
.phone-register-code .input-group .input-group-btn{
  display: inline-block;
  width: 29.6% !important;
  margin-top: 0.1rem;
  height: 4rem;
  float: right;
}
.phone-register-code .input-group .input-group-btn input {
  width: 100% !important;
  height: 100%;
  border: 0px;
  border-left: 1px solid #CCCCCC;
  background-color: #FFFFFF;
  color: #999;
}
.phone-register .phone-login-con .login-checkbox .input-group {
  margin-top: 0rem;
  width: 2% !important;
  padding-top: 1.7rem;
  height: 100%;
}
.phone-register .phone-login-con .login-checkbox .input-group input {
  margin-top: 0rem;
}
.phone-register .phone-login-con .login-checkbox label {
  margin-right: 2%;
  font-size: 1.3rem;
  color: #666666;
  line-height: 5rem;
}
.phone-register .phone-login-con .login-checkbox a {
  font-size: 1.3rem;
  color: #00a2ee;
  line-height: 5rem;
  text-decoration: none;
}
.phone-register .phone-login-con .login-checkbox {
  padding: 0rem 0rem 0rem 1.2rem;
}


/*编辑个人信息*/
.phone-editor .phone-login-con {
  background-color: #FFFFFF;
  position: relative;
}
.phone-editor .phone-login-con .phone-img {
  margin-left: 0rem;
  width: 100%;
  min-height: 19rem;
  position: relative;
}
.phone-editor .phone-login-con .phone-img label {
  line-height: 19rem;
}
.phone-editor .phone-login-con .phone-img .input-group {
  position: absolute;
  left: 50%;
  top: 2.75rem;
  margin-left: -6.75rem;
}
.phone-editor .phone-login-con .phone-img .pre-2 {
  width: 13.5rem;
  height: 13.5rem;
  border-radius: 50%;
  border: 0.1rem solid #CCCCCC;
  overflow: hidden;
}
.phone-editor-grade .input-group {
  position: relative;
}
.phone-editor-grade img {
  position: absolute;
  width: 1.1rem;
  height: 0.65rem;
  right: 0rem;
  top: 1.8rem;
  z-index: 100;
}
.phone-editor .login-submit {
  height: 5.3rem;
  padding-top: 1.5rem;
}
.phone-editor-grade .form-control[disabled], .form-control[readonly] {
  background-color: #FFFFFF;
}
.modal-editor .modal-body {
  height: 19.8rem;
  padding: 1.5rem 0rem;
}
.phone-list-geade {
  width: 100%;
    height: 100%;
    padding-left: 0rem;
    margin-bottom: 0rem;
    list-style: none;
}
.phone-list-geade li {
  float: left;
  width: 27.5%;
  height: 2.5rem;
  background-color: rgb(242,242,242);
  margin: 0 2.916% 2rem 2.916%;
  color: #333333;
  font-size: 1.3rem;
  text-align: center;
  line-height: 2.5rem;
  -webkit-border-radius: 27.5% / 2.5rem;
    -moz-border-radius: 27.5% / 2.5rem;
    border-radius: 27.5% / 2.5rem;
}
.modal-editor {
  position: absolute;
  top: 50%;
  margin-top: -9.9rem;
}

/*辅导班详情*/
.phone-details .phone-login-title {
  background-color: #ff5842;
  border-bottom: 0rem;
}
.phone-class-details img {
  width: 100%;
  vertical-align: top;
}
.phone-details .phone-headline h3 {
  color: #FFFFFF;
}
.phone-class-details {
  position: relative;
}
.phone-state {
  position: absolute;
  bottom: 0rem;
  right: 0rem;
  display: inline-block;
  padding: 0rem 0.5rem;
  background-color: rgb(0,213,100);
  color: #FFFFFF;
  text-align: center;
  line-height: 2.4rem;
  font-size: 1.2rem;
  z-index: 10;
}
.phone-course {
  background-color: rgb(0,160,233);
}
.phone-end {
  background-color: rgb(153,153,153);
}
.phone-download {
  position: absolute;
  top: 0rem;
  z-index: 10;
  display: block;
  width: 100%;
  height: 5.9rem;
  background-color: rgba(0,0,0,0.7);
  padding: 1.25rem 1.2rem;
  overflow: hidden;
}
.phone-download-left {
  display:  block;
  position: relative;
  width: 50%;
  float: left;
}
.phone-download-right {
  display:  block;
  width: 50%;
  float: left;
  position: relative;
}
.phone-download-right i {
  display: inline-block;
  width: 5.5rem;
  height: 2.3rem;
  right: 3rem;
  top: 0.5rem;
  font-style: normal;
  text-align: center;
  line-height: 2.3rem;
  font-size: 1rem;
  color: #FFFFFF;
  border: 0.1rem solid #FFFFFF;
  border-radius: 0.3rem;
}
.phone-download-right img {
  width: 1.7rem;
  height: 1.7rem;
  right: 0rem;
  top: -0.5rem;
  z-index: 11;
}
.phone-download-right img,.phone-download-right i {
  position: absolute;
}
.phone-download-left img {
  width: 3.4rem;
  height: 3.4rem;
}
.phone-download-left span {
  position: absolute;
  top: 0rem;
  left: 4.4rem;
}
.phone-download-left i{
  font-style: normal;
  color: #FFFFFF;
  font-size: 1rem;
  display: block;
}
.phone-download-left i:first-child {
  font-size: 1.5rem;
}

.phone-class-title {
  height: 5.2rem;
  border-bottom: 0.1rem solid #CCCCCC;
  padding: 1rem 1.2rem;
}
.phone-class-title h3 {
  font-size: 1.6rem;
  margin: 0rem;
}
.class-details-left {
  font-size: 1.4rem;
  color: #ff5842;
}
.class-details-right {
  font-size: 1.1rem;
  color: #999999;
  float: right;
  position: relative;
  top: 0.3rem;
}
.phone-details-msg {
  width: 100%;
  /*height: 100%;*/
  padding-bottom: 1rem;
}
.details-msg-nav {
  height: 3.3rem;
  background-color: #FFFFFF;
}
.details-msg-nav a {
  display: inline-block;
  width: 33.3%;
  float: left;
  color: #999999;
  text-decoration: none;
  font-size: 1.4rem;
  text-align: center;
  line-height: 3.3rem;
}
.details-msg-nav .active {
  color: #333333;
  border-bottom: 0.1rem solid #ff5842;
}
.details-msg-con {
  clear: both;
  padding: 1rem 1.2rem 1rem 1.2rem;
  width: 100%;
  height: 100%;
  display: none;
  margin-bottom: 5rem;
}
.details-msg-con > h4 {
  font-size: 1.4rem;
  margin-top: 0rem;
  margin-bottom: 1rem;
  color: #333333;
}
.details-msg-con:first-child {
  display: block;
}
.details-msg-con > ul {
  width: 100%;
  padding-left: 0rem;
  list-style: none;
  margin-bottom: 0rem;
  color: #666;
  font-size: 1.4rem;
  overflow: hidden;
}
.details-msg-con > ul li {
  width: 50%;
  height: 2.6rem;
  float: left;
  line-height: 2.6rem;
}
.details-msg-con > ul li img {
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 0.5rem;
}
.details-msg-con > ul li:last-child,.details-msg-con > ul li:nth-child(3) {
  width: 100%;
}
.details-msg-con > ul li:last-child .to {
  margin: 0 0.5rem;
}
.details-introduction {
  width: 100%;
}
.details-introduction h4 {
  margin: 2rem 0rem 1rem 0rem;
  font-size: 1.4rem;
  color: #333;
}
.details-introduction > .class-label span {
  font-size: 1.3rem;
  color: #999999;
  padding: 0.5rem 0.8rem;
  border: 0.1rem solid rgba(190,11,11,0.4);
  float: left;
  margin-right: 0.2rem;
  margin-top: 0.2rem;
}
.details-introduction > .class-label {
  overflow: hidden;
}
.details-introduction p {
  font-size: 1.3rem;
  color: #999999;
}
.learning-list,.learning-list > li > ul {
  padding-left: 0px;
  margin-bottom: 0px;
  list-style-type: none;
}
.learning-list > li > h5 {
  font-size: 1.3rem;
  color: #333333;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.learning-list > li > ul > li {
  font-size: 1.3rem;
  color: #999;
}
.learning-list > li > ul {
  margin-bottom: 15px;
}
.phone-details {
  position: relative;
}
.phone-details-btn {
  position: fixed;
  width: 100%;
  padding: 0.45rem 1.2rem;
  height: 4.8rem;
  z-index: 10;
  bottom: 0rem;
  left: 0rem;
  overflow: hidden;
  background-color: #FFFFFF;
}
.phone-details-btn a {
  display: inline-block;
  text-decoration: none;
  width: 48%;
  height: 3.9rem;
  float: left;
  font-size: 1.5rem;
  text-align: center;
  line-height: 3.6rem;
  color: #ff5842;
  border: 0.2rem solid #ff5842;
  border-radius: 0.4rem;
}
.phone-details-btn a:link {
  color: #ff5842;
}
a:link,a:visited,a:hover,a:active{
  text-decoration:none !important;
}
a.details-btn-end:link,a.details-btn-start:link,a.details-btn-watch:link {
  color: #FFFFFF;
} 
.phone-details-btn .details-btn-add {
  margin-right: 4%;
}
.phone-details-btn .details-btn-enter {
  background-color: #ff5842;
  color: #FFFFFF !important;
}
.phone-details-btn .details-btn-end {
  background-color: #CCCCCC;
  color: #FFFFFF;
  border:0.2rem solid #CCCCCC;
}

.phone-details-btn .details-btn-start,.phone-details-btn .details-btn-watch {
  width: 100%;
  background-color: #ff5842;
  color: #FFFFFF;
}


/*教师资料*/
.details-tec-title {
  padding-left: 2.1rem;
  color: #333333;
  font-size: 1.5rem;
}
.details-tec-title img {
  width: 1.1rem;
  height: 1.1rem;
  margin-left: 0.5rem;
}
.tec-interval {
  margin-right: 1rem;
}

.details-msg-tec > .details-introduction {
  overflow: hidden;
}
.details-msg-tec > .details-introduction > a >img {
  width: 8.25rem;
  height: 8.25rem;
  border-radius: 50%;
  float: left;
  margin-right: 1rem;
}
.details-msg-tec > .details-introduction > span {
  display: inline-block;
  color: #333;
  font-size: 1.5rem;
  float: left;
  margin-top: 3.05rem;
  margin-bottom: 0rem;
}
.details-msg-tec > .details-introduction > span >em {
  font-style: normal;
}
.details-msg-tec > .details-introduction > span > img {
  width: 1.05rem;
  position: relative;
  top: -0.15rem;
}
.details-tec-con {
  position: relative;
  height: 100%;
}
.tec-headportrait {
  position: absolute;
  width: 8.25rem;
  height: 8.25rem;
  top: 0rem;
  right: 0rem;
}


/*课程安排*/
.details-msg-arrange {
  padding-top: 0rem;
}
.details-msg-arrange ul li {
  height: 4.7rem;
  width: 100%;
  border-bottom: 0.1rem solid #CCCCCC;
  padding-top: 0.35rem;
  font-size: 1.4rem;
}
.details-msg-arrange ul li div {
  height: 2rem;
  line-height: 2rem;
}
.details-msg-arrange ul li div:nth-child(2) {
  padding-left: 2.1rem;
}
.details-msg-arrange ul li div:nth-child(2) span:first-child {
  margin-right: 0.5rem;
}
.details-msg-arrange ul li div:first-child span:last-child {
  float: right;
}
.msg-arrange-state {
  color: #999999;
}


/*支付确认*/
.phone-applay .phone-login-con .login-submit {
  height: 7.2rem;
  padding-top: 3.4rem;
}


/*订单确认*/

.phone-order-con {
  padding-bottom: 9.8rem;
}
.phone-order-con ul {
  padding: 0.5rem 1.2rem 0 1.2rem;
  margin: 0rem;
  list-style: none;
  font-size: 1.4rem;
  color: #333333;
  background-color: #FFFFFF;
}
.phone-order-con ul li {
  min-height: 2.4rem;
  line-height: 2.4rem;
}
.phone-order-con ul li:first-child {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.phone-order-con ul li span:first-child {
  display: inline-block;
  width: 7.2rem;
}
.phone-order-con ul li:last-child {
  overflow: hidden;
  /*margin-top: 0.5rem;*/
}
.phone-order-con ul li:last-child span {
  display: block;
}
.phone-order-con ul li:last-child span:first-child,.order-con-way {
  float: left;
}
.order-con-way i {
  padding-left: 0.2rem;
  font-style: normal;
  font-size: 1.3rem;
  display: block;
}
.order-con-way label {
  font-weight: 100;
}
.order-con-way i input {
  position: relative;
  top: 0.1rem;
}
.order-con-way i img {
  width: 1.35rem;
  height: 1.35rem;
  margin: 0 0.5rem;
  position: relative;
  top: -0.2rem;
}
.order-con-way i:first-child img {
  width: 1.35rem;
  height: 1.1rem;
}
.preferential {
  padding-top: 1rem;
  background-color: #F2F2F2;
  padding-bottom: 2.5rem;
}
.preferential .phone-login-con .form-group {
    overflow: inherit;
}
.preferential .phone-login-con .input-group {
  width: 80%;
}
.preferential .phone-login-con .form-group .has-error {
  clear: both;
  font-size: 1.2rem;
  color: rgb(190,11,11);
}
.preferential-title {
  height: 2.2rem;
  padding-left: 1.2rem;
  font-size: 1.2rem;
  color: #999999;
}
.preferential-title span {
  position: relative;
  top: 0.4rem;
}
.preferential-amount {
  height: 4rem;
  line-height: 4rem;
  padding: 0 1.2rem;
  font-size: 1.4rem;
  color: #333;
  background-color: #FFFFFF;
  overflow: hidden;
}
.preferential-amount span {
  display: inline-block;
}
.preferential-amount-left {
  float: left;
  height: 100%;
}
.preferential-amount-right {
  float: right;
  height: 100%;
}
.preferential-amount-right span:nth-child(2) {
  font-size: 2.7rem;
  color: #ff5842;
  margin: 0 1rem;
}
.preferential-amount-right span:first-child,.preferential-amount-right span:last-child {
  position: relative;
  top: -0.4rem;
}
.phone-order {
  position: relative;
}

.preferential-order {
  width: 100%;
  position: fixed;
  height: 8.8rem;
  background-color: #FFFFFF;
  bottom: 0rem;
  left: 0rem;
  z-index: 10;
}
.preferential-order .login-submit {
  padding: 0 1.2rem;
  width: 100%;
  height: 3.8rem;
  background-color: #FFFFFF;
}
.preferential-order .login-submit input,.phone-deal .login-submit a {
  width: 100%;
  height: 100%;
  background-color: #ff5842;
  font-size: 1.4rem;
    color: #FFFFFF;
    border-radius: 0.4rem;
    border: 0.1rem solid #ff5842;
}



/*交易完成*/
.phone-deal-con {
  background-color: #FFFFFF;
}
.phone-deal-state {
  height: 14.5rem;
  text-align: center;
  font-size: 1.8rem;
  color: #000;
  border-bottom: 0.1rem solid #CCCCCC;
}
.phone-deal-state p {
  margin-bottom: 0rem;
  line-height: 14.5rem;
}
.phone-deal-state p img{
  width: 3rem;
  height: 3rem;
  vertical-align: middle;
}
.phone-deal-state p span {
  display: inline-block;
  position: relative;
  top: 0.2rem;
}
.phone-deal-msg {
  padding: 0.5rem 1.2rem;
  height: 6rem;
  font-size: 1.4rem;
  color: #666666;
  list-style: none;
  margin-bottom: 0rem;
}
.phone-deal-msg li {
  height: 2.5rem;
  line-height: 2.5rem;
}
.phone-deal-msg li span:first-child {
  display: inline-block;
  width: 8rem;
  color: #333333;
}
.phone-deal .login-submit {
  width: 100%;
  padding: 0 1.2rem;
  height: 3.8rem;
  margin-top: 3.5rem;
}
.phone-deal .login-submit a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  line-height: 3.6rem;
}
.modal-download  {
  width: 28.5rem !important;
  position: absolute !important;
  top: 50% !important;
  margin-top: -7.25rem !important;
  left: 50% !important;
  margin-left: -14.25rem !important;
}
.modal-download .modal-content {
  height: 14.5rem;
}
.modal-download .modal-header {
  height: 2.4rem;
  font-size: 1.5rem;
  padding: 0rem 1.2rem;
  line-height: 2.4rem;
  background-color: #F2F2F2;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
}
.modal-download .modal-header button {
  height: 2rem;
  margin-top: 0.2rem;
}
.modal-download .modal-body p {
  text-align: center;
  font-size: 1.6rem;
  color: #666666;
  margin-top: 0.5rem;
  margin: 1.5rem 0rem 3rem 0rem;
}
.modal-download .modal-body a {
  display: inline-block;
  width: 10rem;
  text-align: center;
  line-height: 3rem;
  height: 3rem;
  border: 0.1rem solid #ff5842;
  font-size: 1.4rem;
  color: #ff5842;
  border-radius: 0.4rem;
}


/*下载*/
.down-content {
    position: relative;
  width: 100%;
  overflow: hidden;
}
.down-app {
  display: inline-block;
  width: 100%;
  height: 3rem;
  background-color: rgb(255,255,255);
  border-radius: 2rem;
  font-size: 1.4rem;
  color: #be0b0b;
  text-align: center;
  line-height: 3.2rem;
}
a.down-app:link {
  color: #be0b0b;
}
.down-msg p {
  text-align: center;
  font-size: 1rem;
  color: #FFFFFF;
  margin-top: 0.5rem;
}
.down-msg {
  width: 50%;
  position: absolute;
  left: 25%;
  bottom: 17%;
}
.down-content img {
  width: 100%;
}
.download-prompt {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.8);
  z-index: 100;
}
.download-prompt img {
  position: absolute;
  right: 5%;
  top: 0rem;
  width: 90%;
  height: 11.65rem;
  z-index: 101;
  vertical-align: middle;
}



/*视频课详情页*/
.phone-curriculum {
  padding: 1.5rem 1.2rem;
  border-bottom: 0.1rem solid #ddd;
}
.phone-curriculum > .curriculum-title {
  margin-bottom: 1rem;
}
.phone-curriculum > .curriculum-title > h3 {
  font-size: 1.6rem;
  color: #333;
  margin: 0rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.phone-curriculum > .curriculum-status {
  font-size: 1.4rem;
  color: #ccc;
  margin-bottom: 1.5rem;
}
.phone-curriculum > .curriculum-status > span {
  margin-right: 2.5rem;
}
.phone-curriculum > .curriculum-status > span.active {
  color: #1fac64;
}
.phone-curriculum > .curriculum-status > span:last-child {
  margin-right: 0rem;
}
.phone-curriculum > .curriculum-status i {
  font-style: normal;
}
.phone-curriculum > .curriculum-status img {
  width: 1.05rem;
  margin-right: 0.8rem;
  margin-top: -0.2rem;
}
.phone-curriculum > .curriculum-info {
  font-size: 1.4rem;
  color: #999;
  overflow: hidden;
} 
.phone-curriculum > .curriculum-info > .course-price {
  color: #ff5842;
  float: left;
}
.phone-curriculum > .curriculum-info > .course-num {
  float: right;
  line-height: 20px;
  font-size: 1.1rem;
}
.phone-curriculum > .curriculum-info > .course-num i,.details-msg-con > ul li i{
  font-style: normal;
}
.details-msg-arrange ul li .arrange-title span {
  float: none !important;
}
.details-msg-arrange ul li .arrange-time span {
  color: #999;
}
.details-msg-arrange ul li .arrange-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.phone-order-con > .pay-list {
  margin-top: 1rem;
  background-color: #FFFFFF;
  padding: 0rem 1.2rem;
}
.phone-order-con > .pay-list > .line-method {
  height: 5rem;
  padding: 0.5rem 0;
  border-bottom: 0.1rem solid #CCCCCC;
}
.phone-order-con > .pay-list > .line-method:last-child {
  border-bottom: 0rem;
}
.pay-list > .line-method > label {
  display: block;
  font-weight: 400;
  overflow: hidden;
}
.pay-list > .line-method > label i {
  font-style: normal;
}
.pay-list > .line-method > label > img {
  width: 2.9rem;
  float: left;
  margin-top: 0.5rem;
  margin-right: 1rem;
}
.pay-list > .line-method > label > .method-info {
  float: left;
  font-size: 1.4rem;
}
.pay-list > .line-method > label > .method-info  span {
  display: block;
  color: #333;
}
.pay-list > .line-method > label >.method-info  span:last-child {
  font-size: 1.3rem;
  color: #666;
}
.pay-list > .line-method > label > input[type="radio"] {
  float: right;
  width: 1.3rem;
  height: 1.3rem;
  margin-top: 1.3rem;
}
.phone-order-con > h3 {
  padding: 0rem 1.2rem;
  height: 3.4rem;
  line-height: 3.4rem;
  font-size: 1.5rem;
  margin: 0px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #ccc;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.prompt {
  text-align: center;
  line-height: 2.2rem;
  height: 2.2rem;
  font-size: 1.2rem;
  background-color: #ffffe4;
  color: #ff0000;
}
.prompt > img {
  width: 1.25rem;
  margin-bottom: 0.3rem;
}
.phone-order-con > ul > li span:nth-child(2){
  color: #666;
}
.prompt-error {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -6rem;
  margin-left: -4rem;
  width: 12rem;
  height: 8rem;
  background-color: rgba(0,0,0,0.7);
  font-size: 1.4rem;
  color: #FFFFFF;
  text-align: center;
  line-height: 8rem;
    border-radius: 5px;
}
