<li class="active">
  <div class="row">
    <div class="col-md-3 col-sm-3">
      <span><%= l(announcement.created_at) if announcement.created_at %></span>
    </div>
    <div class="col-md-9 col-sm-9 announcement">
      <%= image_tag "affiche#{'-news' if announcement.lastest}.png" %>
      <span><%= announcement.content %></span>
    </div>
  </div>
</li>