<tr>
  <td><%= number_to_currency(consumption_record.amount, locale: :cn) %></td>
  <td><%= consumption_record.target.class.model_name.human %></td>
  <td><%= localize(consumption_record.created_at,:format => :long) %></td>
  <td><%= link_to "查看", "" %></td>
</tr>
