<div class="qa_object_item">
  <div style="float:left">
    <%=image_tag action_record.operator.avatar.normal.url %>
  </div>
  <div class="title">
    <%= render partial: "action_records/#{action_record.model_name.singular_route_key}/title",locals: {action_record: action_record} %>
  </div>
  <div class="info">
    <%= render partial: "action_records/#{action_record.model_name.singular_route_key}/info",locals: {action_record: action_record} %>
  </div>
</div>