<ol class="breadcrumb" style="margin-bottom: 0px;">
  <li><%= link_to "备课中心", teacher_syllabuses_path(@syllabus.author) %></li>
  <% @directory.get_full_path.each do |f| %>
      <li><%= link_to f.title, syllabus_directory_path(f.syllabus,f) %></li>
  <% end %>
</ol>