<div class="row qa_big_cell">
  <div class="col-md-1">
    <%= school_counter + 1 %>
  </div>
  <div class="col-md-2">
    <%=school.name%>
  </div>
  <div class="col-md-2">
    <%=school.city.name %>
  </div>
  <div class="col-md-2">
    <%=link_to '编辑',edit_school_path(school)%>
  </div>
</div>