<div class="course_card">
  <div class="rel">
    <%=link_to course_path(course) do %>
        <%=image_tag course.cover.name.normal.url,class: "img-responsive"%>
        <div class="lesson_num">共<%= course.lessons_count%>课</div>
    <% end %>
  </div>
  <div class="qa_box">
    <div class="qa_cell">
        <div class="course_name">
          <%=course.name%>
        </div>
    </div>
  </div>
</div>