<div class="qa_box qa_topics">
  <div class="qa_cell box_header">
    <div class="pull-right">
      <%=link_to new_lesson_topics_path(@lesson) do%>
          <span class="label label-success">我要提问</span>
      <% end %>
    </div>
    <div class="pull-left">
      <span class="label label-primary">共有10个讨论</span>
    </div>

    <div style="clear: both"></div>
  </div>
  <%= render @topics %>
</div>