<% if @lesson %>
    <div class="qa_box">
      <div class="qa_cell" style="height: 400px">
	<%= video_player width: 640,
                         height:360,
                         src:{ mp4: @lesson.video.name.url + ".m3u8_video?token=" + @download_token},
                         controls: true,
                         'data-setup'=> {} %>
      </div>
      <div class="qa_cell qa_f12 rel" >
        <div>
          <%= @lesson.desc if @lesson %>
        </div>
        <div style="clear: both"></div>
      </div>
    </div>
<% else %>
    <div style="text-align: center;padding: 10px">
      没有任何内容!
    </div>
<% end %>
