<div class="course_card green_background">
  <div class="rel">
    <%= image_tag '/assets/background.png',class: "img-responsive" %>
    <div class="card_title abs">
      <%=link_to subject_url ,style:"color:white;  text-decoration:none" do %>
          <div>
            <div><%= subject_name%></div>
            <div><%= subject_en_name%></div>
          </div>
      <% end %>
    </div>
  </div>
  <div class="green_background">
    <div class="qa_cell">
      <div class="course_name">
      </div>
    </div>
  </div>
</div>