<div class="discipline-nav">
  <%= link_to t("live_studio.menu.student.course.waiting"),
              live_studio.student_courses_path(@student),
              class: "#{ 'active' if params[:status].blank? }" %>
  <%= link_to t("live_studio.menu.student.course.teaching"),
              live_studio.student_courses_path(@student, status: 'teaching'),
              class: "#{ 'active' if 'teaching' == params[:status] }" %>
  <%= link_to t("live_studio.menu.student.course.completed"),
              live_studio.student_courses_path(@student, status: 'completed'),
              class: "#{ 'active' if 'completed' == params[:status] }" %>
</div>
