<div class="review-link">
  <% if allow? 'recommend/station/banner_items', :index, @workstation %>
    <%= link_to 'Banner', recommend.station_workstation_banner_items_path(@workstation, position_id: Recommend::BannerItem.default.presence || 0), class: "#{'active' if 'recommend/station/banner_items' == params[:controller]}"  %>
  <% end %>
  <% if allow? 'recommend/station/topic_items', :index, @workstation %>
    <%= link_to t('view.recommend/station.banner_items.tab_items.topic_item'), recommend.station_workstation_topic_items_path(@workstation, position_id: Recommend::TopicItem.default.presence || 0), class: "#{'active' if 'recommend/station/topic_items' == params[:controller]}"  %>
  <% end %>
  <% if allow? 'recommend/station/choiceness_items', :index, @workstation %>
    <%= link_to t('view.recommend/station.banner_items.tab_items.choiceness_item'), recommend.station_workstation_choiceness_items_path(@workstation, position_id: Recommend::ChoicenessItem.default.presence || 0), class: "#{'active' if 'recommend/station/choiceness_items' == params[:controller]}"  %>
  <% end %>
  <% if allow? 'recommend/station/teacher_items', :index, @workstation %>
    <%= link_to t('view.recommend/station.banner_items.tab_items.teacher_item'), recommend.station_workstation_teacher_items_path(@workstation, position_id: Recommend::TeacherItem.default.presence || 0), class: "#{'active' if 'recommend/station/teacher_items' == params[:controller]}"  %>
  <% end %>
</div>