<div class="panel panel-default">
  <div class="addinvite">
    <div class="create-title">
      <div class="addinvite-title-left">
        <%= link_to '互动直播', live_studio.station_workstation_interactive_courses_path(@workstation) %>
        <span>&gt;</span>
        <span>创建新直播</span>
      </div>
    </div>

    <div class="editor-con">
      <%= render 'form' %>
    </div>
  </div>
</div>