
<%= render partial: 'live_studio/courses/show/course_header' %>

<div class="course-con">
  <div class="container">
    <div class="row">
      <%= render partial: 'live_studio/courses/show/course_info' %>

      <%= render partial: 'live_studio/courses/show/teacher_info' %>
    </div>
  </div>
</div>

<% content_for :javascript do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $("#taste-course-<%= @course.id %>").bind('ajax:success', function() {
        <% if current_user.present?%>
          window.location.reload();
        <% else %>
          window.location.href = "/signin";
        <% end %>
      });
    })
  </script>
<% end %>