<div class="qa_box">
  <div class="qa_cell box_head">
    <%= link_to "#{customized_course_full_name(@topic.topicable)}
                -#{CustomizedCourse.human_attribute_name(:topics)}" ,
                topics_customized_course_path(@topic.topicable) %>
  </div>
</div>
<%= yield %>