<div class="customized_course">
  <%= render 'header' %>
  <div class="qa_sep_15"></div>
  <div class="qa_sep_15"></div>
  <div class="qa_sep_15"></div>

  <div class="qa_box customized_tutorials">
    <%= render @customized_course.customized_tutorials %>
  </div>
</div>