<%= render layout: 'main' do %>
      <% content_for :brief_header do %>
          <div class="pull-left">
          <span class="label label-primary">
            包括<%= Homework.model_name.human%>和<%= Exercise.model_name.human%></span>
          </div>

          <div style="clear: both"></div>
      <% end %>
      <%= render partial: "solutions/index",locals: {solutions: @solutions} %>
<% end %>