<%= render layout: 'main' do %>
    <div class="qa_box">
      <div class="qa_cell box_header">
        <div class="pull-left">
          <span class="label label-primary">
            包括<%= Homework.model_name.human%>和<%= Exercise.model_name.human%></span>
        </div>

        <div style="clear: both"></div>
      </div>

      <%= render partial: "shared/qa_objects/index_items",locals: {objects: @solutions} %>

    </div>
<% end %>