<% if action_record.is_a? Payment::RechargeActionRecord %>

<% elsif action_record.is_a? Payment::WithdrawActionRecord %>

<% else %>
  <li>
    <%= link_to send("#{action_record.actionable.model_name.singular_route_key}_path", action_record.actionable), target: '_blank', title: action_record.desc do %>
      <span><%= l(action_record.created_at, format: :month_start) if action_record.created_at %></span>
      <i>-<%= action_record.desc %></i>
    <% end %>
  </li>
<% end %>