<div class="admin-title">
  <div class="admin-title-left">
    <%= link_to t('view.station.workstations.tab_node.show_title'), station_workstation_path(@workstation), class: "#{'active-admin' if 'station/workstations' == params[:controller]}"  %>
    <a href="">资金信息</a>
    <a href="">出入账记录</a>
    <a href="">销售统计</a>
    <a href="">考核</a>
  </div>
</div>