<div class="panel panel-default">
  <div class="admin">
    <%= render partial: 'tab_node' %>

    <%= render partial: 'shared/workstations/change_records', locals: {workstation: @workstation} %>
  </div>
</div>