<div class="article">
  <div class="work-station">
    <%= render partial: 'tab_node' %>
    <%= render partial: 'tab_node_fund' %>

    <%= render partial: 'shared/workstations/fund', locals: {workstation: @workstation, fund_node: true} %>
  </div>
</div>