<div class="panel panel-default">
  <div class="admin new-workstation">
    <%= render 'station/workstations/tab_node' %>

    <%= render partial: 'shared/workstations/info', locals: {workstation: @workstation} %>
  </div>
</div>