<div class="panel panel-default">
  <div class="admin new-workstation">
    <%= render partial: 'tab_node' %>

    <%= render partial: 'shared/workstations/statistics', locals: {workstation: @workstation} %>
  </div>
</div>