<div class="qa_object_item">
  <div style="float:left">
    <%= render_qa_object_avatar brief_info %>
  </div>
  <div class="title">
    <!-- Single button -->
    <div class="btn-group">
      <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Action <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Something else here</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>
    <%= render_qa_object_title brief_info %>
  </div>
  <div class="info">
    <%= render_qa_object_info brief_info %>
  </div>
</div>