<div class="qa_object_item">
  <div style="float:left">
    <%= render_qa_object_avatar brief_info %>
  </div>
  <div class="title">
    <%= render_qa_object_title brief_info %>
  </div>
  <div class="info">
    <%= render_qa_object_info brief_info %>
  </div>
</div>