<div class="qa_box">
  <div class="box_header qa_cell">
    <%= yield :detail_header %>
  </div>
  <div class="qa_objects">
    <%= render partial: "shared/qa_objects/detail_info",
               collection: objects, locals: {use_super_controller: use_super_controller}%>
  </div>
  <div class="qa_cell">
    <% if defined?(objects.total_pages) %>
        <%= will_paginate objects ,renderer: BootstrapPagination::Rails %>
    <% end %>
  </div>
</div>