<div class="qa_objects">
  <%= render partial: "#{model_name.route_key}/#{model_name.singular_route_key}",
             collection: objects %>
</div>
<%= will_paginate objects ,renderer: BootstrapPagination::Rails %>
