




<div class="qa_box">
  <div class="box_header qa_cell">
  </div>
  <div class="qa_objects">
    <%= render partial: "shared/qa_objects/index_object_items",
               locals: {objects: objects, use_super_controller: use_super_controller}
    %>
  </div>

</div>