<div class="qa_object_item">
  <div style="float:left">
    <%= render_qa_object_avatar object %>
  </div>
  <div class="title">
    <%= render_qa_object_title object %>
  </div>
  <div class="info">
    <%= render_qa_object_info object %>
  </div>
</div>