/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require font-awesome
 *= require summernote
 */

body{
  background-image:asset-url("sys-bg-main.png",image)
}

.qa_box{
  //padding-left、padding-right添加的目的是为了覆盖bootstrap的默认值。
//  padding-left:0px !important;
//  padding-right:0px !important;
  background: #f5f5f5;
  border:1px solid #ccc;
}
.qa_tutorial_item
{
  width:31%;
  margin-right:2%;
  margin-bottom: 20px;
  float:left;
}
.qa_tutorial .video_thumbnail {
  margin:10px;
}




.qa_tutorial .tutorial_status {
  margin-right:10px;
}
.tutorial_status {
  margin-left:10px;
  font-size: 11px;
  color: #aaa;

}
.tutorial_status  li {
  list-style: none;
  float:right;
  text-align: left;
  line-height:1;
  margin-bottom:  4px;
  margin-left:10px;

}