/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require common
 *= require font-awesome
 *= require jquery.Jcrop
 *= require summernote
 *= require bootstrap-chosen-variables
 *= require bootstrap-chosen
 *= require animate
 *= require fancybox
 *= require course_library/application
 *= require editable/bootstrap-editable
 *= require live_studio/application
 *= require bootstrap-select.min
 *= require jquery-calendar
 *= require calendar
 *= require jedate
 *= require base
 *= require background
 *= require select2
 *= require select2-bootstrap
 *= require_self
 */

@import 'bootstrap';

@import 'bootstrap-chosen-variables';

body{
  padding-top: 71px;
  #background-color: #e2e2e2 !important;
  background-image: image-url("home-head-bg.png");
  background-repeat: repeat;

}

.qa_box{
//  background: #f5f5f5;
  background: #fff;
//  border-bottom:1px solid #ccc;
}
.qa_cell{
  padding: 10px;
  border-bottom: 1px solid #e2e2e2;
}
.qa_big_cell {
//  padding: 36px;
  padding: 10px 36px 10px 36px;
  border-bottom: 1px solid #e2e2e2;

}
.qa_big_cell_without_border {
  //  padding: 36px;
  padding: 10px 36px 10px 36px;

}
.qa_bottom_border
{
  border-bottom: 1px solid #e2e2e2;
}



.qa_tutorial_item
{
  width:30%;
  margin-right:3.3%;
  margin-bottom: 20px;
  float:left;
}
.qa_tutorial .video_thumbnail {
  margin-bottom:10px;
}



.qa_tutorial .tutorial_info{
  margin-left: 10px;
  margin-right:10px;
}

.qa_tutorial .tutorial_status {
  margin-right:10px;
}
.tutorial_status {
  margin-left:10px;
  margin-bottom: 10px;
  font-size: 11px;
  color: #aaa;

}
.tutorial_status  li {
  list-style: none;
  float:right;
  text-align: left;
  line-height:1;
  margin-bottom:  4px;
  margin-left:10px;
}

.box_header
{
  background-color: ghostwhite;
}

.rel{
  position: relative;
}
.abs {
  position: absolute;
}
.qa_cell.selected {
  background-color: #eeeeee;
}


.qa_text_wrap
{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.qa_f18
{
  font-size: 18px;
}

.qa_f16
{
  font-size:16px;
}
.qa_f10
{
  font-size: 10px;

}
.qa_f12
{
  font-size: 12px;
}
.qa_f14
{
  font-size: 14px;
}

.qa_f30
{
  font-size: 30px;
}

.qa_cell .right_bottom
{
  right: 20px;
  bottom: 20px;
}

.qa_sep_5
{
  height: 5px;
}
.qa_sep_15
{
  height: 15px;
}
.qa_margin_top_15
{
  margin-top: 15px;
}

.card
{
  width:100%;
  float: left;
  background-color: #f6f6f6;
  color:#3b4249;
  height: 84px;
  padding: 10px;
}
.card-big
{
  height: 96px;
}

.card-ex-big
{
  height: 128px;
}
.card-blue
{
  background-color: #2b5797;
}
.card-light-blue
{
  background-color: #66a8cc;
}
.card-gray
{
  background-color: #eeeeee;
}
.card-white
{
  background-color: #ffffff;
}
.card-big .right-top
{
  right:20px;
  top:20px;
}

.card-big .right-bottom
{
  right: 20px;
  bottom:20px;
  z-index: 1000;
}

.card .right-top
{
  right:12px;
  top:10px;
}
.card .right-bottom
{
  right: 12px;
  bottom: 10px;
  z-index: 1000;
}

.card .left-bottom
{
  left:12px;
  bottom:10px;
}

footer .copyright
{
  text-align: center;
  font-size: 13px;
}
#qa-img-preview {
  transform-origin: top left; /* IE 10+, Firefox, etc. */
  -webkit-transform-origin: top left; /* Chrome */
  -ms-transform-origin: top left; /* IE 9 */
}
#qa-img-preview.rotate90 {
  transform: rotate(90deg) translateY(-100%);
  -webkit-transform: rotate(90deg) translateY(-100%);
  -ms-transform: rotate(90deg) translateY(-100%);
}
#qa-img-preview.rotate180 {
  transform: rotate(180deg) translate(-100%,-100%);
  -webkit-transform: rotate(180deg) translate(-100%,-100%);
  -ms-transform: rotate(180deg) translateX(-100%,-100%);
}
#qa-img-preview.rotate270 {
  transform: rotate(270deg) translateX(-100%);
  -webkit-transform: rotate(270deg) translateX(-100%);
  -ms-transform: rotate(270deg) translateX(-100%);
}


//-----begine
.qa_object .header
{
  padding: 10px;
  border-bottom: 1px solid #e2e2e2;
  background-color: #f5f5f5
}
.qa_object .header .title
{
  margin-right: 60px;
}

.qa_object .header .info
{
  color:gray;
  font-size: 10px;
}

.qa_object .content .body
{
  padding: 10px;
//  border-bottom: 1px solid #e2e2e2;
}

.qa_object .operator
{
  border-top: 1px solid #e2e2e2;
  margin-top: 2px;
  padding:5px;
}

.qa_object .footer
{
  font-size:12px;
  padding:10px 10px 0px 10px;
}
.qa_objects .qa_object_item
{
  padding: 10px;
  border-bottom: 1px solid #e2e2e2;
  position: relative;
}

.qa_objects .qa_object_item .title
{
  margin-right: 58px;
  margin-bottom: 10px;
  margin-left: 58px;
}

.qa_objects .qa_object_item .reply_count
{

  position: absolute;
  top:40%;
  right: 10px;
  width:50px
}

.qa_objects .qa_object_item .info
{
  font-size: 12px;
  color: gray;
  margin-left: 58px;
}

.qa_objects .qa_object_item .info a
{
  padding: 1px 5px;
  color: #778087;
  text-decoration: none;
  background-color: #f5f5f5;
}

.qa_objects .qa_object_item .content
{
  margin-left: 58px;
}

.qa_objects .qa_object_item .operator
{
  padding:5px;
//  float: right;
}

.qa_objects .qa_object_item .footer
{
  font-size:12px;
  margin:10px 10px 0px 58px;
  padding-bottom: 10px;
}

.order_info {
  margin-left: 30px;
}

.order_info div {
  height: 40px;
}

.order_info div label {
  width: 120px;
}

.order_info div span.radio {
  display: inline-block;
  margin-top: 5px;
  margin-right: 20px;
}

.alert-notice {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-alert {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

#chat-panels {
  border: 1px solid #dddddd;
  border-top: none;
}

#tool-bar {
  margin: 0 -15px;
  height: 40px;
  border: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  padding: 4px;
}

#tool-bar button {
  margin-left: 5px;
}

#message-input {
  margin: 0 -15px;
}

#message-input textarea {
  resize: none;
  border: none;
}

#message-input div {
  padding: 0;
  height: 84px;
}

#message-input #send-btn {
  width: 100%;
  height: 100%;
}

#message-panel {
  padding-bottom: 0;
}

#members-panel .media {
  margin-top: 5px;
}

#members-panel .media:first-child {
  margin-top: 0px;
}

#messages .notice-div {
  text-align: center;
  color: grey;
}
//-----end

// layout sidebar begin
span.arraw-span{
  float: right;
  margin-right: 8px;
  margin-top: 4px;
}
span.fa{
  width: 20px;
  text-align: center;
}
// layout sidebar begin

#edit_email_area .row {
  min-height: 30px;
}

#edit_login_mobile_area .row {
  min-height: 30px;
}

#edit_parent_phone_area .row {
  min-height: 30px;
}

div.form_lable{
  margin-top: 5px;
}
form div.verify-code{
  width: 100px;float:left;padding-right: 5px;
}

span.alert_red_span{
  color: red;
}

span.current_lesson_paused{
  color: red;
}

// 通知样式start
#notifications-list .logo {
  height: 50px;
  width: 50px;
  color: #fff;
  margin: 0px;
  padding: 2px;
  font-size: 16px;
  text-align: center;
}
#notifications-list .live_studio_lesson_start_for_student {
  background-color: #66CCCC;
}
#notifications-list .live_studio_lesson_start_for_teacher {
  background-color: #66CCCC;
}

#notifications-list .live_studio_course_assign {
  background-color: #FFCCCC;
}

#notifications-list .live_studio_course_start {
  background-color: #669966;
}

// 公告提醒样式
#notifications-list .live_studio_course_notice {
  background-color: #FFCCCC;
}

// 系统消息样式
#notifications-list .system {
  background-color: #FFFFFF;
  color: red;
}

// 有课未上
#notifications-list .live_studio_lesson_miss_for_teacher {
  background-color: #FF9900;
}

// 调课提醒
#notifications-list .live_studio_lesson_change_time {
  background-color: #FF9900;
}

// 公告提醒
#notifications-list .live_studio_course_notice_create {
  background-color: #FFCCCC;
}

// 公告提醒
#notifications-list .live_studio_course_notice_update {
  background-color: #FFCCCC;
}

.message-nav {
  margin-top: 15px;
}

.message-nav .alert-alert {
  margin-bottom: 0px;
}


// 通知样式end

// download
.relative{
  position: relative;
}
.download-desc-div{
  height: 120px;
  color: #CCCCCC;
  float: right;
  width: 10%;
  button{
    width: 100%;
    margin-top: 15px;
  }
}
.download-qrcode{
  position: absolute;
  right: 0;
  top: 0;
  button{
    margin-top: 5px;
  }
}
.download-img{
  margin-left: 3%;
}
.margin-top-ten{
  margin-top: 10px;
}