.fancybox-margin{margin-right:17px;}
.video-js {
  width: 300px;
  height: 150px;
}

.vjs-fluid {
  padding-top: 56.25%
}
.navbar {
  position: fixed;
  top: 36px !important;
  background-color: rgb(190,11,11);
}

.nav li a {
  color: white !important;
  font-size: 20px;
}
.container {
  padding: 0 15px;
}
body {
  padding-top: 86px;
}
.navbar-inverse {
  border-color: rgb(190,11,11) !important;
}
.container-footer {
  position: relative;
  top: -20px;
}
.panel-profile {
  border-radius: 0px !important;
}