.navbar {
    	position: fixed;
    	top: 36px !important;
    	background-color: rgb(190,11,11) !important;
    }

    .nav li a {
    	color: white !important;
    	font-size: 20px;
    }
  .navbar-inverse{
  border-color: rgb(190,11,11) !important;
}

    .container {
  	padding: 0 15px;
    }
    body {
    	padding-top: 86px !important;
    	font-family: "微软雅黑"!important;
    }

  header {
  	width: 100%;
  	background-color: #d8d8d8;
  	position: fixed;
  	top: 0;
  	z-index: 100;
  }
  .header-content {
  	height: 36px;
  	max-width: 1190px;
  	margin: 0 auto;
  }
  .header-logo {
  	float: left;
  	/*margin-left: -10px !important;*/
  }
  .header-nav {
  	line-height: 36px;
  	float: right;
  }
  .header-nav span {
  	margin-left: 30px;
  	color: #000000;
  }
  .header-nav span a {
  	color: #000000;
  }
  .nav-city {
  	font-size: 20px;
  	color: white;
  	line-height: 50px;
  }
  .home-recom-left {
  	width: 75.8%;
  	height: 40px;
  	float: left;
  }
  .home-recom-right {
  	width: 22.6%;
  	float: right;
  }
