.comments{
  padding: 10px;
  background-color: #F6F6F6;
  border-radius: 2px;
  font-size:13px;
}
.comments .item
{
  padding:5px;
  border-bottom: 1px gainsboro dashed;
}

.comments .item .comment-content
{
  padding-left: 40px;
}

.comments .item .comment-info
{
  padding-top:10px;
  padding-left:40px;
}