/*字体*/
.font12 { font-size: 12px; }
.font13 { font-size: 13px; }
.font14 { font-size: 14px; }
.font16 { font-size: 16px; }
.font18 { font-size: 18px; }
.bold { font-weight:bold; }

/*宽度*/
.w20{ width: 20px; }
.w30 { width: 30px; }
.w50{ width: 50px; }
.w60{ width: 60px; }
.w80{ width: 80px; }
.w100{ width: 100px; }
.w120{ width: 120px; }
.w140{ width: 140px; }
.w158{ width: 158px; }
.w160{ width: 160px; }
.w200{ width: 200px; }
.w230 { width: 230px; }
.w258 { width: 258px; }
.w280 { width: 280px; }
.w300{ width: 300px; }
.w320{ width: 320px; }
.w400{ width: 400px; }
.w450 { width: 450px; }
.w500 { width: 500px; }
.w508{ width: 508px; }
.w600 { width: 600px; }
.w700 { width: 700px; }
.w750 { width: 750px; }
.w800{ width: 800px; }
.w960 { width: 960px; }
.w100p { width: 100%; }
.w1400 { width: 1400px; }
.w5p { width: 5%; }
.w7p { width: 7%; }
.w10p { width: 10%; }
.w18p { width: 18%; }
.w20p { width: 20%; }
.w25p { width: 25%; }
.w40p { width: 40%; }
.w92p { width: 92%; }
.w89p { width: 89%; }
.w100p{ width:100%; }

/*高度*/
.h15{ height: 15px; }
.h20{ height: 20px; }
.h22{ height: 22px; }
.h25{ height: 25px; }
.h24{ height: 24px; }
.h30{ height: 30px }
.h40{ height: 40px }
.h50{ height: 50px }
.h80{ height: 80px }
.h100 { height: 100px; }
.h125 { height: 125px; }
.h150 { height: 150px; }
.h160{ height: 160px }
.h270 { height: 270px; }
.h307 { height: 307px; }
.h365 { height: 365px; }

.mt3 { margin-top:3px; }
.mt5 { margin-top:5px; }
.mt6 { margin-top:6px; }
.mt8 { margin-top:8px; }
.mt10 { margin-top:10px; }
.mt12 { margin-top:12px; }
.mt15 { margin-top:15px; }
.mt20 { margin-top:20px; }
.mt25 { margin-top: 25px; }
.mt50 { margin-top: 50px; }

.mb3 { margin-bottom: 3px; }
.mb10 { margin-bottom: 10px; }
.mb12 { margin-bottom: 12px; }
.mb15 { margin-bottom: 15px; }
.ml3 { margin-left: 3px;}
.ml5 { margin-left: 5px;}
.ml8 {margin-left:8px;}
.ml10 { margin-left: 10px; }
.ml12 { margin-left: 12px; }
.ml15 { margin-left: 15px; }
.ml20 { margin-left: 20px; }
.ml30 { margin-left: 30px; }
.ml50 { margin-left: 50px; }
.ml60 { margin-left: 60px; }
.ml100 { margin-left: 100px; }
.ml180 { margin-left: 180px; }
.ml185 { margin-left: 185px; }

.mr8 {margin-left:8px;}
.mr10 { margin-right: 10px; }
.mr15 { margin-right: 15px; }
.mr16 { margin-right: 16px; }
.mr13 { margin-right: 13px; }
.mr18 { margin-right: 18px; }
.mr25 { margin-right: 25px; }
.mr30 { margin-right: 30px; }

.p12 { padding: 12px;}

.pt7 { padding-top: 7px; }
.pt10 { padding-top:10px;}
.pt15 { padding-top: 15px; }
.pt25 { padding-top: 25px; }
.pt40 { padding-top: 40px; }

.pl0 { padding-left: 0px; }
.pl10 { padding-left: 10px; }
.pl15 { padding-left: 15px; }
.pl20 { padding-left: 20px; }
.pl50 { padding-left: 50px; }
.pl130 { padding-left: 130px; }
.pl150 { padding-left: 150px; }

/*内容位置*/
.tc { text-align: center; }
.tl { text-align: left; }
.tr { text-align: right; }
.vat { vertical-align: top;}
.vam { vertical-align: middle; }

/*颜色*/
.orange{color:orange;}
.red {color: red;}
.green { color: green; }
.blue { color: #0000FF; }
.black { color: #000000; }
.white { color: #FFFFFF; }
.grey { color: grey;}

/*其他*/
.clear{clear: both;}
.hide { display: none; }
.block {display: block;}
.inline_block {display: inline-block;zoom: 1;*display: inline;vertical-align: middle;}
.pointer{ cursor: pointer }
.lh60{ line-height: 60px; }
.lh23{ line-height: 23px; }
.lh32{ line-height: 32px; }
.lh16{ line-height: 16px; }
