// Place all the styles related to the customized_tutorials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.customized_tutorials .customized_tutorial .no
{
  font-size : 16px;
  color: #2b5797;
}
.customized_tutorials .customized_tutorial .title
{
  margin-left:80px;
  margin-right:40px;
}
.keep_account {
  margin-right: 10px;
}