// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.menu
{
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}
ul.menu li
{
  padding: 10px;
  background-color: #66A8CC;
  border-bottom: 1px solid #ffffff;
}
ul.menu  li:last-child
{
  border: 0;
}
ul.menu li a
{
  display: block;
  color: #ffffff;
}
ul.menu li.maintainHover
{
  background-color: #55a2c6;
}
.submenu_popover{
  width: 450px;
  position: absolute;
  background-color: #f5f5f5;

  display: none;
  z-index: 10000;

}
.menu .school .item
{
  padding-top: 2px;
}
.menu .school  ol{
  list-style: none;
  margin: 4px 0 0 0;
  padding: 2px 10px 0 0;
  float: left;
}

.card
{
  width:100%;
  float: left;
  background-color: #f6f6f6;
  color:#3b4249;
  height: 84px;
  padding: 10px;
//  margin-right:1.33%;
}
.card-big
{
  height: 96px;
}
.card-blue
{
  background-color: #2b5797;
}
.card-gray
{
  background-color: #eeeeee;
}
.card-big .right-top
{
  right:20px;
  top:20px;
}

.card-big .right-bottom
{
  right: 20px;
  bottom:20px;
}

.lessons  .middle
{
  #margin-left: 2%;
  #margin-right: 2%;
}
.card .right_top
{
  right:12px;
  top:10px;
}

.card .left-bottom
{
  right: 12px;
  bottom:10px;
}
.lessons .lesson .title
{
  margin-right: 50px;
}
.lessons .lesson .price
{
  color: rgba(182, 191, 191, 0.84);
  line-height: 22px
}


