// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.menu
{
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}
ul.menu li
{
  padding: 10px;
  background-color: #66A8CC;
  border-bottom: 1px solid #ffffff;
}
ul.menu  li:last-child
{
  border: 0;
}
ul.menu li a
{
  display: block;
  color: #ffffff;
}
ul.menu li.maintainHover
{
  background-color: #55a2c6;
}
.submenu_popover{
  width: 450px;
  position: absolute;
  background-color: #f5f5f5;

  display: none;
  z-index: 10000;

}
.menu .school .item
{
  padding-top: 2px;
}
.menu .school  ol{
  list-style: none;
  margin: 4px 0 0 0;
  padding: 2px 10px 0 0;
  float: left;
}

.course .lessons .card
{
  width: 32%;
  float: left;
  background-color: #15767b;
  margin-top:20px;
  height: 84px;
  padding: 10px;
}
.course .lessons .middle
{
  margin-left: 2%;
  margin-right: 2%;
}


