// Place all the styles related to the Home controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home_head
{
  background-image: image-path("home-head-bg.png");
  background-repeat: repeat-x, repeat;
}
.home_head h1 {
  font-size: 48px;
  color: #3b4249;
}
