/*学生界面*/
 em {
  font-style: normal;
 }
.btn-add,.btn-suc,.btn-withdrawal,.btn-sure {
  display: inline-block;
  width: 120px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  border: 1px solid gray;
  border-radius: 5px;
  color: #333333;
}

.row-th, .table{
  width: 98%;
  margin-left: 1%;
}

.row-th {
 padding-top: 10px;
  line-height: 3rem;
  border-bottom: 0.1rem solid gray;
}
.table {
  font-size: 1.4rem;
}
.table td{
  text-align: center;
  border-top: none !important;
  color: #666666;
}

.table-fix {
  width: 98%!important;
}
#tr-row1 {
  background-color: #F2F2F2;
}
#tr-row1 td {
  color: #999999;
}
.panel-row {
  height: 5rem;
}

.panel-row p,.std-row-1,.std-row-2,.std-row-3 {
  float: left;
  font-size: 1.4rem;
  line-height: 5rem;
  margin-left: 2rem;
  color: #666666;
}

.std-row-3 {
  margin-left: 20%;
  color: red;
  display: none;
}
.std-row-1 span {
  font-size: 2.8rem;
  padding: 1rem 0.9rem;
  color: #000000;
}
.std-row-2 {
  float: right;
  margin-right: 1.4rem;
}
.std-row-2 em {
  line-height: 6rem;
}
.std-row-2 span {
  margin-left: 1rem;
}
.std-row-2 button {
  width: 12rem;
  height: 3.4rem;
  margin-left: 1rem;
}
.std-row {
  width: 100%;
  height: 6rem;
  border-top: 0.1rem solid gainsboro;
  border-bottom: 0.1rem solid gainsboro;
  background-color: #E4E4E4;
}
.record,.line {
  float: left;
  font-size: 1.2rem;
}
.record {
  color: #0099CC;
}
a {
  text-decoration: none !important;
}
.line {
  padding-left: 1rem;
  padding-right: 1rem;
}
.active-1 {
  font-size: 1.4rem;
  font-weight: 400;
  color: #333333;
}
.con {
  display: none;
}
.show {
  display: block;
}
.search {
  float: right;
  margin-right: -0.8rem;
  font-size: 1.4rem;
  overflow: hidden;
}

#singleDateRange,#singleDateRange-1 {
      height: 2rem;
      width: 8rem;
      text-align: center;
      font-size: 1.4rem;
      color: #666666;
      outline: none;
      border: none;
    }
   .btn-search,.date {
    float: left;
   }
.date span {
  padding-left: 1rem;
}
.btn-search {
  width: 44px !important;
  height: 20px !important;
  border: 1px solid groove;
  font-size: 1.2rem;
  line-height: 15px;
  margin-top: 5px;
    display:block
}
.glyphicon {
  position: relative;
  right: 0.5rem;
}

.pagination-fix {
  margin-left: 1%;
}



/*充值页面*/



/*.navbar,.tec-apply {
  font-size: 14px;
}*/

.recharge-title p {
  font-size: 1.4rem;
  color: #333333;
}
.row {
  margin: 0 auto;
  font-size: 1.4rem;
}
.recharge-title {
  text-align: center;
  height: 5rem;
  line-height: 5rem;
  border-bottom: 0.1rem solid gainsboro;
}
#col-md-nav-1 {
  padding-left: 15px !important;
}
#col-md-nav-2 {
  padding-right: 15px !important;
}

@media only screen  and (max-width: 990px) {
  #col-md-nav-1 {
  padding-right: 15px !important;
}
#col-md-nav-2 {
  padding-left: 15px !important;
}
}
.col-md-row {
  padding: 0px !important;
  border-bottom: 0.1rem solid gainsboro;
  }
  .col-md-title {
    background-color: #F2F2F2;
    height: 36px ;
  }
  .col-md-title p {
    line-height: 3.6rem;
    text-align: center;
  }
.col-md-apply,.col-md-apply-1 {
  position: relative;
  height: 100px;
  background-color: white;
}
.txt-num,.txt-radio {
  position: absolute;
  left: 50%;
  top: 50%;
}
.txt-radio input {
  margin-right: 1rem;
}
.txt-radio {
  font-size: 1.4rem;
  margin-left: -6.4rem;
  margin-top: -4.1rem;
}
.txt-radio em,.row-apply em {
  color: #666666;
}
.txt-num  {
  margin-top: -1.3rem;
  margin-left: -13.3rem;
}
.txt-num input,.txt-num span {
  font-size: 1.4rem;
  color: #999999;
}
 
.col-md-apply-1 {
  border-left: 0.1rem solid gainsboro;
}
.row-apply {
  width: 100%;
  height: 100px;
  list-style-type: none;
  font-size: 1.4rem;
}
.row-apply li {
  padding-top: 0.5rem;
}
.row-apply li:first-child {
  text-align: center;
  color: #999999;
}
.row-apply li:nth-child(2),.row-apply li:last-child {
  text-align: right;
  padding-right: 1rem;
}
.row-apply li:nth-child(2) span {
  width: 140px;
  height: 30px;
  display: inline-block;
  text-align: center;
  font-size: 2.4rem;
  color: red;
}

@font-face {font-family: 'iconfont';
    src: url('../fonts/iconfont.eot'); 
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/iconfont.woff') format('woff'), 
    url('../fonts/iconfont.ttf') format('truetype'), 
    url('../fonts/iconfont.svg#iconfont') format('svg'); 
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:3rem;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    }

.iconfont-1 {
  color: dodgerblue;
}


/*充值支付*/

/*.stu-apply {
  display: none;
}*/
.col-md-apply-2 {
  height: 150px;
}
.col-md-apply-2 p {
  line-height: 15rem;
  font-size: 1.4rem;
  color: #666666;
}
.col-md-apply-2 table {
  position: relative;
  top: 1.5rem;
  height: 120px;
  margin-left: 4rem;
  font-size: 1.4rem;
  color: #666666;
}
.col-md-apply-td {
  padding-left: 3rem;
}
.col-md-apply-left span {
  float: right;
}
.col-md-money {
  text-align: center;
}
.td {
  padding-left: 15rem;
  color: #999999;
}
.row-apply-1 {
  text-align: center;
}
.row-list {
  list-style-type: none;
  position: relative;
}
.row-list li:first-child {
  height: 300px;
}
.row-list li:first-child a {
  line-height: 300px;
  font-size: 1.4rem;
  float: left;
}

.row-list-img {
  position: absolute;
  width: 420px;
  height: 240px;
  left: 50%;
  top: 30px;
  margin-left: -210px;
}
figure {
  float: left;
}
figcaption {
  width: 180px;
}
figcaption p {
  text-align: center;
  font-size: 1.4rem;
  color: #666666;
}
.img-1 {
  width: 180px;
  height: 180px;
}
.img-2 {
  width: 240px;
}
/*.row-list-img img {
width: 240px;
}*/




.row-list li:last-child p{
  text-align: center;
  /*margin-top: 1rem;*/
  font-size: 1.4rem;
  color: #666666;
}




/*老師提現申請*/

input[type=text],input[type=button] {
  margin: 0;
  padding: 0;
  height: 26px;
}
.recharge-title p {
  font-size: 1.4rem;
}

.wraning {
  height: 5rem;
  line-height: 5rem;
  text-align: center;
  color: red;
  font-size: 1.4rem;
}

  .col-md-title {
    height: 36px ;
    margin: 0 auto;
    padding: 0;
  }
  .col-md-title p {
    line-height: 3.6rem;
    text-align: center;
  }
  
  
.col-md-apply-2,.col-md-apply-3 {
  position: relative;
  height: 150px;
  background-color: white;
}
.col-md-apply-3 table {
  position: absolute;
  left: 50%;
  top: 15px;
  height: 120px;
  font-size: 1.4rem;
  margin-left: -14rem;
  color: #666666;
}
.td-msg,.td-msg-1,.td-msg-2,.td-msg-3 {
  display: none;
}
.td-msg span {
  float: left;
  font-size: 1rem;
  color: #999999;
  padding-left: 0.8rem;
}
.td-card {
  font-size: 1.4rem;
  color: #999999;
}
.col-md-apply-3 table tr td {
  padding-left: 1rem;
}
.col-md-apply-3 {
  border-left: 0.1rem solid gainsboro;
}
.tech-phone {
  height: 10rem;
  position: relative;
  font-size: 1.4rem;
}
.tech-phone-num {
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -25rem;
  font-size: 1.4rem;
  top: 3.7rem;
}
.tech-phone-num span,.tech-phone-num input {
  float: left;
  color: #999999;
}
.tech-phone-num span {
  color: #666666;
}
.tech-phone-num span:first-child {
  margin-right: 1rem;
}
.tech-phone-num span:last-child {
  margin-left: 1rem;
}
.btn-code {
  background-color: white;
  font-size: 1.4rem;
  color: #333333 !important;
  border: 0.1px solid darkgray;
}
.btn-withdrawal {
  position: absolute;
  top: 3.1rem;
  right: 1rem;
  width: 12rem;
  height: 3.4rem !important;
  line-height: 3.4rem;
  border-radius: 0.8rem;
  background-color: white;
  outline: none;
  color: #333333;
}
.text-2 {
  width: 100%;
}
#text {
  width: 10rem;
  float: left;
}


/*提现确认*/
.col-md-apply-3 {
  position: relative;
}
#tab-apply {
  font-size: 1.4rem;
  color: #666666;
  position: absolute;
  left: 18rem;
}
.tech-phone p {
  text-align: center;
  padding-top: 1.5rem;
  font-size: 1.4rem;
  color: #666666;
}
.btn-sure {
  position: absolute;
  left: 50%;
  top: 5rem;
  width: 12rem;
  height: 3.4rem !important;
  margin-left: -6rem !important;
  border-radius: 0.8rem;
  outline: none;
  background-color: white;
  color: #333333;
}



/*审核页面*/

/*未审核*/
.panel-title1 {
  border-bottom: 1px solid gainsboro;
  height: 5rem;
  color: #666666;
}
.panel-title1 p {
  margin-top: -15px;
  line-height: 5rem;
    font-size: 1.4rem;
}
.panel-title-2 {
  height: 60px;
  border: 1px solid red;
}
.panel-title-2 a {
  color: #333333;
}
.btn-active {
     width: 6rem;
     height: 2rem;
     background-color: chartreuse;
     color: white;
     text-align: center;
     line-height: 2rem;
  display: inline-block;
  margin-right: 2rem;
}
/*.input {
  position: relative;
  left: 50%;
  bottom: 10px;
  margin-left: -100px;
}
.input input{
  float: left;
}*/
