.qa_faq .title
{
  padding: 20px;
  font-size: 16px;
  border-bottom: 1px gainsboro solid;
}
.qa_faq .content
{
  padding: 20px;
  border-bottom: 1px gainsboro solid;
}
.qa_faq .op
{
  padding:20px;
}

.qa_faqs .item
{
  padding: 10px;
  border-bottom: 1px gainsboro solid;
}