// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.qa_question .qa_header
{
  background: #f5f5f5;
  padding:10px;
}
.qa_question .qa_header .qa_title
{
  margin-bottom: 8px;
}
.qa_question .qa_header .qa_title h1
{
  margin-top: 0px;
  font-size:22px;
}
.qa_question .qa_header .qa_info
{
  font-size: 12px;
  color: #d0d0d0;
}
.qa_question .qa_content
{
  padding:10px;
}
.qa_question .qa_footer
{
  font-size:12px;
  margin:10px 10px 0px 10px;
  padding-bottom: 10px;
}

.qa_answer .qa_input
{
  padding:10px;
}
.qa_answer .qa_widget .qa_header
{
  padding-left: 10px;
  border-bottom: 2px solid #ccc;
}

.qa_answer .qa_item .author_avatar
{
  float:left;
  padding:10px;
}
.qa_answer .qa_item
{
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}
.qa_answer .qa_item .qa_info
{
  padding-left: 60px;
  padding-top:10px;
  padding-bottom: 10px;
  color: #777;
  font-size: 12px;
}
.qa_answer .qa_item .qa_content
{
  padding-left: 60px;
}
.qa_answer .qa_item .qa_footer
{
  font-size:12px;
  margin:10px 10px 0px 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}