table td.filled {
  background-color: #fafafa;
}
.qa_pannel {
  margin: 15px;
  padding: 15px 15px 0;
  background-color: #ffffff;
  text-align: left;
}

.qa_pannel_body {
  min-height: 50px;
}

.qa_pannel h1, h2, h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size:  16px;
  color: #666666;
  display: inline-block;
}
.qa_detail {
  line-height: 30px;
  padding-bottom: 20px;
}

.qa_pannel_item {
  margin-bottom: 30px;
}

.qa_pannel_item .qa_pannel_head {
  margin-top: 5px;
  margin-bottom: 5px;
}
.qa_pannel_item .qa_pannel_head .title_link {
  display: inline-block;
  font-size:  14px;
  color: #000000;
  float: right;
}

.qa_item {
  margin: 1px 0px;
  background-color: #fafafa;
  padding: 5px;
  font-size: 12px;
}

.qa_item .right {
  text-align: right;
}
.qa_item span {
  min-width: 200px;
}

.paper-list li {
  padding: 15px 5px;
}

.paper-list li .item {
  border-radius: 7.75px;
  border: 1px solid rgb(242, 242, 242);
  padding: 10px;
  height:  135px;
}

.paper-list h3 a strong {
  color: #34495e;
  font-size: 16px;
  font-weight: normal;
}

.paper-list li .item div {
  margin-top: 10px;
  font-size: 12px;
}

.paper-list li .item div span {
  border-left: 1px solid #34495e;
  padding-left: 5px;
}
.paper-list li .item div span.first {
  border-left: 0;
  padding-left: 0;
}

.paper-list {
  margin-bottom: 0px;
  min-height: 600px;
  padding-left: 10px;
  padding-right: 10px;
  zoom: 1;
}

.paper-list li .item div.buttom {
  margin-top: 40px;
}

.paper-list li .item div span.price {
  border-left: 0;
  color: #FF6600;
  font-size: 18px;
  font-weight: 400;
  padding-left: 0;
}

.paper-list li .item div span.users_count {
  border-left: 0;
  display: inline-block;
  float: right;
  padding-left: 0;
}

.paper-header .container {
  margin-top: 20px;
  padding: 20px;
}

.paper-header .container .paper-class {
  margin: 0;
  position: relative;
  height: 140px;
}

.paper-header h3 span {
  font-size: 12px;
  border-left: 1px solid #999999;
  color: #999999;
  margin-left: 10px;
  padding-left: 5px;
}

.paper-header h3 {
  display: inline-block;
}

.paper-header span.share-box {
  display: inline-block;
  float: right;
  margin-top: 0;
}

.paper-header .share-item .share-box a.bds_weixin .wechat {
  top: 30px;
}

.paper-class .course-join .price {
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  color: #FF6600;
  position: relative;
}


.paper-class .course-join .price-right {
  display: inline-block;
  float: right;
}

.paper-body {
  border: 1px solid #F2F2F2;
}

.paper-body .qa_detail {
  padding: 0;
}

.col-xs-1-5, .col-sm-1-5, .col-md-1-5, .col-lg-1-5 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.exam-flow .num {
  border-radius: 50%;
  background-color: #00CCFF;
  width: 48px;
  height: 48px;
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  position: relative;
  text-align: center;
  line-height: 48px;
  display: inline-block;
  float: left;
}

.exam-flow span {
  border: 1px solid #00CCFF;
  border-left: none;
  padding: 5px 10px;
  margin-left: -5px;
  font-size: 14px;
  color: #00CCFF;
  font-weight: 400;
  float: left;
  line-height: 26px;
  margin-top: 5px;
}

.paper-body .sold-tab > table tr th:first-child, .paper-body .sold-tab > table tr td:first-child {
  border-left: 1px solid #ccc;
}
.paper-body .sold-tab > table tr th:last-child, .paper-body .sold-tab > table tr td:last-child {
  border-right: 1px solid #ccc;
}
