// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.qa_topics
{
  line-height: 140%;
  margin-bottom: 30px;
}
.qa_topics .topic
{
  margin-left: 58px;
  margin-right: 58px;
}
.qa_topics .topic .title
{
  margin-right:58px;
  margin-bottom: 10px
}
.topics_item
{
  position: relative;
}
.topic .info
{
  font-size: 12px;
  color:gray;
}
.topics_item  .reply_count
{
  position: absolute;
  top:40%;
  right: 10px;
  width:50px
}
.qa_topics .main .info .node
{
  background-color:#e7e7e7;
  padding: 2px 5px;
  font-size: 10px;
  margin-right:2px
}

.topic .header .title
{
  margin-right: 60px;
}

.qa_topics_header_nav ol
{
  list-style: none;
  margin: 0;
  padding: 0;
}
.qa_topics_header_nav ol li
{
  float: left;
  margin-right:1em
}

.qa_topics_header_nav a
{
  color:gray;
  border:1px solid transparent;
  padding: 2px 8px 2px 8px;
  text-decoration: none;
}
.qa_topics_header_nav .selected a
{
  color:#f5f5f5;
  background-color: #393939;
  border-radius:4px;

}
.qa_topics_header_nav a:hover,
.qa_topics_header_nav a:focus
{
  color:#f5f5f5;
  background-color: #393939;
  border: 1px solid transparent;
  border-radius:4px;
}

.qa_section_nav li
{
  list-style: none;
  margin: 0 0 0 2em;
  padding: 0;
}
.qa_section_nav li label
{
  width: 88px;
  text-align: right;
  font-size: 10px;
  color: #a9a9a9;
}
.qa_section_nav a
{
  padding: 0em 0.6em 0 0.6em;
}