// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.qa_topics
{
  line-height: 140%;
}
.qa_topics .topic
{
  margin-left: 58px;
  margin-right: 58px;
}
.qa_topics .topic .title
{
  margin-right:58px;
  margin-bottom: 10px
}
.topics_item
{
  position: relative;
}
.topic .info
{
  font-size: 12px;
  color:gray;
}
.topics_item  .reply_count
{
  position: absolute;
  top:40%;
  right: 10px;
  width:50px
}
.qa_topics .main .info .node
{
  background-color:#e7e7e7;
  padding: 2px 5px;
  font-size: 10px;
  margin-right:2px
}

.topic .header .title
{
  margin-right: 60px;
}