<div class="row" style="padding:10px 36px 10px 36px;border-bottom: 1px solid #e2e2e2">
  <div class="col-md-1">
    #
  </div>
  <div class="col-md-2">
    <strong><%= RegisterCode.model_name.human %></strong>
  </div>
  <div class="col-md-1">
    <strong>状态</strong>
  </div>
  <div class="col-md-1">
    <strong>使用者</strong>
  </div>
  <div class="col-md-2">
    <strong>使用者类型</strong>
  </div>
  <div class="col-md-2">
    <strong>学校</strong>
  </div>
  <div class="col-md-2">
    <strong>下载</strong>
  </div>

</div>