<div class="qa_box">
  <div class="qa_big_cell">
    <%= form_tag(school_register_codes_path, method: "post") do %>
        <div class="form-inputs">
          <%= f.association :school, :include_blank => false,:required => true ,:collection => School.all.collect { |s| ["#{s.city.name}-#{s.name}",s.id]} %>
        </div>

        <div class="form-actions">
          <%= f.button :submit,class: "btn btn-default" %>
        </div>
    <% end %>
  </div>
</div>