<div class="qrcode-div">
  <div>
    <%= image_tag(@order.remote_order.payment_url, size: '260x260', id: 'wechat_qrcode') %>
  </div>
  <div>
    <%= t('view.payment_show.weixin_tips_text1') %>
  </div>
  <div>
    <%= t('view.payment_show.weixin_tips_text2') %>
  </div>
</div>
<div class="tips-div">
  <div>
    <%= image_tag('/imgs/pay_tips.png', id: 'pay_tips_img') %>
  </div>
</div>
