<div class="qa_box">
  <div class="qa_big_cell">
    <div class="row">
      <div class="col-md-4">
        <h2>
          支付
        </h2>

      </div>

    </div>
  </div>
  <div class="qa_box">
    <%= image_tag(@qrcode_url) %>
  </div>
</div>