<div class="panel panel-default">
  <div class="admin new-workstation">
    <%= render 'station/workstations/tab_node' %>
    <h4><%= t('view.payment/sale_task.edit') %><%= Payment::SaleTask.model_name.human %></h4>
    <%= render 'form' %>
  </div>
</div>
