<% @course.order_lessons.each_with_index do |lesson, i| %>
  <div class="row playlist">
    <div class="col-md-1">
      <span><%= beautify_index(i) %></span>
    </div>
    <div class="col-md-7 coursehead">
      <span><%= truncate_u lesson.name, length: 30 %></span>
    </div>
    <div class="col-md-2 arrange-length">
      <span><%= t('view.live_studio/courses.show.duration_text') %><em>01:03:42</em></span>
    </div>
    <div class="col-md-2 arrange-view">
      <%= link_to t('view.live_studio/courses.show.play_vodeo'), 'javascript: void(0);' %>
    </div>
  </div>
<% end %>