<div class="contains">
  <div class="contains-title">
    <h3><%= t('view.qa_bars.courses') %></h3>
  </div>
  <div class="contains-discipline">
    <div class="process-con">
      <div class="process-left">
        <center>
          <div class="process-student">
            <%= image_tag 'student-1.png' %>
            <span>学生</span>
          </div>
        </center>
        <div class="process-left-con">
          <div class="process-left-msg">
            <div class="left-msg-title">
              <span>查找辅导</span>
              <span class="left-msg-num">01</span>
            </div>
            <div class="left-msg-con">
              <span>通过查看辅导列表进行筛选辅导。</span>
            </div>
          </div>
          <div class="process-left-msg">
            <div class="left-msg-title">
              <span>购买辅导</span>
              <span class="left-msg-num">02</span>
            </div>
            <div class="left-msg-con">
              <span>通过查看辅导列表进行筛选辅导。</span>
            </div>
          </div>
          <div class="process-left-msg">
            <div class="left-msg-title">
              <span>辅导开课</span>
              <span class="left-msg-num">03</span>
            </div>
            <div class="left-msg-con">
              <span>辅导开课后学生会接收到开课短信和系统通知，可在个人中心-我的辅导了解辅导班状态；同时也可以在课程表查看所有辅导班的上课信息和安排。</span>
            </div>
          </div>
          <div class="process-left-msg">
            <div class="left-msg-title">
              <span>观看直播</span>
              <span class="left-msg-num">04</span>
            </div>
            <div class="left-msg-con">
              <span>查看"个人中心-我的辅导班"可以选择辅导班快速进入直播间，与直播间内的老师、同学进行互动和交流。</span>
            </div>
          </div>
          <div class="process-left-msg">
            <div class="left-msg-title">
              <span>辅导结束</span>
              <span class="left-msg-num">05</span>
            </div>
            <div class="left-msg-con">
              <span>辅导班直播间官博，系统自动对辅导班进行结算。</span>
            </div>
          </div>
        </div>
      </div>
      <div class="process-right">
        <center>
          <div class="process-teacher">
            <%= image_tag 'teacher-1.png' %>
            <span>老师</span>
          </div>
        </center>
        <div class="process-start">Start</div>
        <div class="process-right-con">
          <div class="process-right-msg">
            <div class="right-msg-title">
              <span class="right-msg-num">01</span>
              <span>查找辅导</span>
            </div>
            <div class="right-msg-con">
              <span>首先创建（或接受邀请）辅导班并设置内容，按照课时数合理规划并填充课程列表后发布招生，等待审核。</span>
            </div>
          </div>
          <div class="process-right-msg">
            <div class="right-msg-title">
              <span class="right-msg-num">02</span>
              <span>辅导班招生</span>
            </div>
            <div class="right-msg-con">
              <span>审核通过后自动发布招生，学生即可查看和购买；审核未通过可编辑后重新提交审核。</span>
            </div>
          </div>
          <div class="process-right-msg">
            <div class="right-msg-title">
              <span class="right-msg-num">03</span>
              <span>辅导班开课</span>
            </div>
            <div class="right-msg-con">
              <span>辅导开课后老师会接收到开课短信和系统通知，可在个人中心-我的辅导了解辅导班状态；同时也可以在课程表查看所有辅导班上课信息和安排。</span>
            </div>
          </div>
          <div class="process-right-msg">
            <div class="right-msg-title">
              <span class="right-msg-num">04</span>
              <span>进行直播</span>
            </div>
            <div class="right-msg-con">
              <span>首先下载"答疑时间直播助手"，登录后方可进行辅导班直播；可以再直播前、直播中、直播后与学生进行互动；同时可以在不同的辅导班中进行课程切换。</span>
            </div>
          </div>
          <div class="process-right-msg">
            <div class="right-msg-title">
              <span class="right-msg-num">05</span>
              <span>辅导结束</span>
            </div>
            <div class="right-msg-con">
              <span>辅导班直播间官博，系统自动对辅导班进行结算。</span>
            </div>
          </div>
        </div>
        <div class="process-end">End</div>
      </div>
    </div>
  </div>
</div>