<div class='col-md-8'>
    <div class="qa_box qa_topics">
        <% if @faqs.any? %>
            <div id="homepage_faq" >
                <h2>常见问题</h2>
                <ul class="clearfix">
                    <%= render partial: 'faq', collection: @faqs %>
                </ul>
            </div>
        <% end %>

        <div id="homepage_topics">
            <ul class="clearfix">
                <%= render partial: 'faq_topic', collection: @faq_topics %>
            </ul>
        </div>
    </div>
 </div>