<div class="panel panel-default">
  <%= render "student_cash" if @current_resource.student? -%>
  <%= render "teacher_cash" if @current_resource.teacher? -%>
</div>

<%= content_for :javascript do %>
<script type="text/javascript">
$(function() {
  $("#start_date").DatePicker({
    modalMode: false
  });
  $("#end_date").DatePicker({
    modalMode: false
  });
});
</script>
<% end %>
