<div class="panel panel-default">
  <div class="admin">
    <div class="admin-title">
      <div class="admin-title-left admin-title-msg">
        <%= link_to '', admins_course_intros_path, class: 'fa fa-mail-reply' %>
        <span><%= t('view.admins/course_intros.index.edit_title') %></span>
      </div>
    </div>

    <div class="new-common">
      <div class="editor-msg">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>