<!DOCTYPE html>
<html>
<head>
  <title>TeachingProgram</title>
  <%= stylesheet_link_tag    "teaching_program/application", media: "all" %>
  <%= javascript_include_tag "teaching_program/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
