<div class="box_header qa_cell">
  <div class="pull-left">
    <span class="label label-primary">共有2个<%= Exercise.model_name.human%></span>
  </div>
  <div class="pull-right">
    <% if allow? :exercises , :new, customized_tutorial %>
        <%=link_to new_customized_tutorial_exercise_path(customized_tutorial) do%>
            <span class="label label-success">布置<%= Exercise.model_name.human%></span>
        <% end %>
    <% end %>
  </div>
  <div style="clear:both"></div>
</div>