<div class="qa_box">
  <%= render partial:'exercises/index_header',locals:{customized_tutorial: customized_tutorial} %>
  <%= render partial:'exercises/index_items', locals:{exercises: exercises} %>

</div>