<div class="qa_box">
  <%= render partial:'exercises/index_header',locals:{customized_tutorial: customized_tutorial} %>
  <%= render partial: "shared/qa_objects/index_items",locals: {objects: exercises} %>

</div>