<div class="qa_objects">
  <%= render partial: 'shared/homeworks/homework',collection: exercises %>

</div>
<% if defined?(exercises.total_pages) %>
    <%= will_paginate exercises ,renderer: BootstrapPagination::Rails %>
<% end %>