<%= render layout: 'shared/qa_objects/show',locals:{qa_object: @exercise} do %>
    <%= link_to @exercise.customized_tutorial.title,customized_tutorial_path(@exercise.customized_tutorial) %> /
    <%= @exercise.model_name.human %>
<% end %>

<div class="qa_sep_15"></div>
<div class="qa_sep_15"></div>

<%= render partial: 'solutions/index',locals:{solutionable: @exercise} %>
