<%= video_submit_form @correction,true %>

<div class="qa_cell">
  <%= simple_form_for(@correction,url: object_form_url(@solution,@correction)) do |f| %>
      <%= render partial: 'shared/qa_objects/form',locals: {f: f} %>
  <% end %>
</div>
