<div class="qa_box">
  <div class="box_header qa_cell">
    <strong>批改作业<%=solution.corrections_count%>次</strong>
  </div>
  <div class="qa_objects">
    <%= render @corrections %>
  </div>
  <div class="qa_cell">
    <%= will_paginate @corrections ,renderer: BootstrapPagination::Rails %>
  </div>
</div>