<%= content_for :detail_header do %>
    <div class="pull-left">
        <span class="label label-primary">
               批改作业<%=solution.corrections_count%>次
        </span>
    </div>
    <div style="clear: both"></div>
<% end %>

<%= render partial: 'shared/qa_objects/index_detail_info',
           locals:{objects: @corrections,use_super_controller: true} %>