<div class="qa_box">
  <%= render partial:'customized_tutorials/index_header',locals:{customized_course: customized_course} %>
  <%= render partial:'customized_tutorials/index_items', locals:{customized_tutorials: customized_tutorials} %>
</div>