<div class="qa_box">
  <div class="qa_cell box_head">
    <%= link_to customized_course_full_name(@topic.topicable.customized_course) ,customized_course_path(@topic.topicable.customized_course) %> /
    <%= link_to @topic.topicable.name,customized_tutorial_path(@topic.topicable) %>
  </div>
</div>
<%= yield %>
