<div class="row qa_item">
  <div class="col-md-6">
    <span><%= listen_answer_topic.name %></span>
    <span>（已编辑 <%= listen_answer_topic.finished_topics_count %>/<%= listen_answer_topic.total_topics_count %>）</span>
  </div>
  <div class="col-md-6 right">
    <span><%= link_to "编辑试题", exam.edit_station_workstation_listen_answer_topic_path(@workstation, listen_answer_topic) %></span>
  </div>
</div>
