<li role="presentation" class=<%= get_active_from_params("state",state) %>>
  <%=link_to "#{Lesson.human_state_name(state)}的#{Lesson.model_name.human}",
             state_station_workstation_lessons_path(@workstation, state: state)%>
</li>