<div class="qa_box">
  <div class="qa_cell box_head">
    <%= render partial: "shared/#{@examination.model_name.route_key}/nav",
               locals: {@examination.model_name.singular_route_key.to_sym => @examination} %>/
    <%= get_edit_or_create_model_string(@solution,"提交")%>
  </div>
</div>

<div class="qa_box">
  <div class="qa_cell">
    <%=simple_form_for([@examination,@solution]) do |f| %>
        <%= render partial: "shared/qa_objects/form",locals: {f: f} %>
    <% end %>
  </div>

</div>