<div class="qa_box">
  <%= render  partial: "solutions/index_header",locals: {solutioncontainer: solutioncontainer} %>

  <%= render  partial: "solutions/index_items",locals:{solutions: @solutions} %>

</div>