<div class="qa_objects">
  <%= render partial: 'solutions/solution',collection: solutions ,as: :solution%>
</div>

<div class="qa_cell">
  <%= will_paginate solutions ,renderer: BootstrapPagination::Rails %>
</div>