<div class="qa_box">
  <%= render  partial: "solutions/index_header",locals: {examination: examination} %>
  <%= render partial: "shared/qa_objects/index_brief_info",locals: {objects: @solutions} %>
</div>