<div class="qa_cell box_header">
  <div class="pull-left">
    <span class="label label-primary">交了<%=solutionable.solutions_count%>次<%=Solution.model_name.human%></span>
  </div>
  <div class="pull-right">
    <% if allow? :solutions,:new,solutionable %>
        <%=link_to  send("new_#{solutionable.model_name.singular_route_key.downcase}_solution_path",solutionable) do%>
            <span class="label label-success">提交<%=Solution.model_name.human%></span>
        <% end %>
    <% end %>
  </div>
  <div style="clear: both"></div>
</div>