<div class="qa_object_item">
  <div class="pull-left">
    <%=image_tag solution.student.avatar.normal.url %>
  </div>
  <div class="title">
    <%= link_to solution.title , solution_path(solution) %>
  </div>
  <div class="reply_count">
    <span class="badge"><%= solution.corrections_count %></span>
  </div>
  <div class="info">
    <%= [solution.student.name,"#{solution.created_at.to_formatted_s(:db)}提交","#{solution.corrections_count}次批改"].join(" • ") %>
  </div>

  <div style="clear:both"></div>

</div>