<div class="qa_box">
  <%= render partial:'course_issues/index_header',locals:{customized_course: customized_course} %>

  <%= render partial:'course_issues/index_items', locals:{course_issues: course_issues} %>

</div>