<div class="qa_box">
  <%= render partial:'tutorial_issues/index_header',locals:{customized_tutorial: customized_tutorial} %>
  <%= render partial:'tutorial_issues/index_items', locals:{tutorial_issues: tutorial_issues} %>

</div>