<div class="tab-pane fade" id="courseware">
  <div class="courseware-box">
    <ul class="courseware-list">
      <% @recourse_files.each do |file| %>
        <li>
          <div class="row">
            <div class="col-md-12 file-name">
              <p><%= file.name %></p>
            </div>
            <div class="col-md-6 .col-sm-6 file-size">
              <span><%= l(file.created_at) if file.created_at %></span>
            </div>
            <div class="col-md-6 .col-sm-6 file-handle">
              <span><%= number_to_human_size(file.file_size.to_i, precision: 2) %></span>
              <%= link_to t('view.live_studio/customized_groups.show.courseware.download'), file.file_url %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
