<div class="contains">
  <div class="contains-title">
    <%= link_to t('view.qa_faqs/user_agreements.title'), user_agreements_qa_faqs_path, class: 'agreement-link' %>
    <i class="fa fa-angle-right"></i>
    <h3><%= t('view.qa_faqs/user_agreements.cate.student.title') %></h3>
  </div>
  <div class="protocol-box">
    <h3>《答疑时间》学习网学生使用协议和隐私条款</h3>
    <p>[公司名称]北京维幄通达网络科技有限公司</p>
    <p>[网站名称]《答疑时间》学习网</p>
    <p>[登录网址]http://www.qatime.cn</p>
    <p>[服务理念]汇集区域优质教育资源，提供科学完整学习课程，构建人性化的对话平台，实现学习问题解决目标。</p>
    <p>[服务内容]《答疑时间》学习网，致力于将当地的优质教育资源提供给学生，学生可以足不出户享受本地名师一对一教学，本网以答疑解惑、解决问题为主要宗旨。《答疑时间》学习网大力推广平台直播课功能，为各年级、各学科做预科学习。</p>
    <p>[网站特色]学生根据自己的学习水平，可以自主选择疑难内容进行学习，也可以与名师在线上或线下互动交流，不受时间、空间和自然因素的影响，随时随地答疑解惑，真正解决学生在课堂中的遗留问题。这些名师大都是学生熟知的，或许他就是你身边喜欢的老师。本网站学习消费较低，支付便捷，无时间、内容、金额等限定。</p>
    <p>[特别提示]《答疑时间》学习网在此特别提醒用户：必须认真阅读（未成年人应当在监护人陪同下阅读）、充分理解并完全接受本服务协议的全部条款，才能完成注册过程，享受《答疑时间》学习网提供的服务。用户点击接受并继续使用《答疑时间》学习网的服务，视为用户已完全的接受本协议。</p>
    <p>[使用须知]《答疑时间》学习网在此提醒用户阅读下列内容：</p>
    <p>一、用户使用规则</p>
    <p>㈠《答疑时间》学习网仅提供相关的网络学习服务，除此之外与相关网络服务有关的设备（如个人电脑、手机、及其它与接入互联网或移动网有关的装置）及所需的费用（如为接入互联网而支付的电话费及上网费、为使用移动网而支付的手机费）均应由用户自行负担。</p>
    <p>㈡用户在注册《答疑时间》学习网账号时，应提供准确的个人信息资料，如个人资料有任何变动，必须及时更新。</p>
    <p>㈢用户不应将其帐号、密码转让或出借予他人使用。如用户发现其账号遭他人非法使用，应立即通知《答疑时间》学习网。因黑客行为或用户的保管疏忽导致账号、密码遭他人非法使用，《答疑时间》学习网不承担任何责任。</p>
    <p>㈣对于用户上传到《答疑时间》学习网互动平台（包括但不限于答疑与论坛）上可公开的任何有价值内容，用户同意《答疑时间》学习网具有免费的、永久性的、不可撤销的、非独家的和完全再许可的权利和许可，以使用、复制、修改、改编、出版、翻译、据以创作衍生作品、传播、表演和展示此等内容（整体或部分），和/或将此等内容编入当前已知的或以后开发的其它任何形式的作品、媒体或技术中。</p>
    <p>㈤用户在使用《答疑时间》学习网服务过程中，必须遵循以下原则：</p>
    <p>⒈遵守中国有关的法律和法规；遵守所有与网络服务有关的网络协议、规定和程序；</p>
    <p>⒉不得为任何非法目的而使用、破坏网络服务系统；</p>
    <p>⒊不得利用《答疑时间》学习网互动平台上传、展示或传播任何虚假的、骚扰性的、中伤他人的、辱骂性的、恐吓性的、庸俗淫秽的任何非法信息资料；不得私自上传广告、促销信息等；用户对其发布的内容单独承担法律责任。</p>
    <p>二、知识产权</p>
    <p>㈠《答疑时间》学习网提供的网络学习服务中包含的任何文本、图片、图形、音频和/或视频资料均受版权、商标和/或其它财产所有权法律的保护，未经相关权利人同意，上述资料均不得在任何媒体直接或间接发布、播放、出于播放或发布目的而改写或再发行，或者被用于其它任何商业目的。</p>
    <p>㈡《答疑时间》学习网授课平台已获批国家专利，涉及该软件（包括但不限于软件中所含的任何图象、照片、动画、录像、录音、音乐、文字和附加程序、随附的帮助材料）的一切权利属于《答疑时间》学习网，未经本公司许可，用户不得对该软件进行反向工程、反向编译或反汇编。</p>
    <p>三、隐私条款</p>
    <p>《答疑时间》学习网注重对用户个人隐私的保护。只是，有时我们需要某些信息才能为您提供您请求的服务，本隐私声明解释了这些情况下的数据收集和使用情况。</p>
    <p>㈠个人信息的搜集</p>
    <p>在您希望购买课程或申请免费试听去注册时，我们可能会收集您的一些信息：如您的姓名、学校、年级、身份、电话号码等，是为了以后能不定期通过网页、电子邮件、短信、电话等渠道关注您的学习情况，以便更好地为您提供服务。</p>
    <p>㈡个人信息的保护</p>
    <p>我们会使用各种安全技术和程序来保护您的个人信息不被未经授权的访问、使用或泄漏。《答疑时间》学习网未经用户同意不会向除合作单位以外的第三方公开、透露用户个人隐私信息。</p>
    <p>㈢对于COOKIES的使用</p>
    <p>使用Cookie能帮助您实现您的联机体验的个性化，您可以接受或拒绝Cookie ，大多数 Web浏览器会自动接受Cookie，但您通常可根据自己的需要来修改浏览器的设置以拒绝Cookie。《答疑时间》学习网有时会使用Cookie 以便知道哪些网站受欢迎，使您在访问《答疑时间》学习网时能得到更好的服务。Cookie不会跟踪个人信息。当您注册时，《答疑时间》学习网亦会使用Cookie。在这种情况下，《答疑时间》学习网会收集并存储有用信息，当您再次访问《答疑时间》学习网时，我们可辨认您的身份。来自《答疑时间》学习网的Cookie只能被《答疑时间》学习网读取。如果您的浏览器被设置为拒绝 Cookie，您仍然能够访问《答疑时间》学习网的大多数网页。</p>
    <p>㈣正确性</p>
    <p>《答疑时间》学习网将会，但非义务根据您的请求或满足自身原因，改变或删除任何不完整、不正确或过时的个人信息数据。</p>
    <p>四、学生须知</p>
    <p>㈠登陆首页：了解网站相关内容，可观看免费作品。</p>
    <p>㈡注册：点击学生注册按钮，如实填写个人信息资料，阅读注册协议，点击同意，注册成功。</p>
    <p>㈢储值和提现： 在学生账户---“我的钱包”中，通过支付宝、微信自行支付完成账储值。金额不限，余额可通过提现进行返还（已消费的金额不属于余额范畴）。</p>
    <p>㈣学习内容及消费事项：</p>
    <p>1.直播课程：此板块属于一对多授课方式，学生可以选择自己喜欢的老师进行购买并参加网络直播学习，学习过程中可以通过多种方式（文字、语音、图片等）进行互动交流；一对多授课内容一经授课不再补上，学生需按时参与。</p>
    <p>2.一对一课程：此板块根据学生的意愿和教师进行一对一互动课程，师生之间能进行更直接的互动交流，最大程度上为学生的学习带来更有效的帮助；互动课程上课时需要开启（注意：默认开启）视频、音频等硬件设备，如因未配备相关硬件造成学习质量责任由学生本人承担。</p>
    <p>3.视频课程：此板块涵盖了全市一线在职优秀教师的课件作品，代表着每一位教师的授课习惯和特色，更大程度上让学生了解每一位教师，学生自主选择适合自己学习进度的视频，一次购买，永久观看。</p>
    <p>4.专属课程：此板块针对学生在学习上的弱项，针对性地为每一位学生绑定一个服务团队，学生可以随时随地请教学习中遇到的问题，团队中的每一位教师专门针对该生的特点作出具体的学习计划，并且随时跟踪该生的学习过程因地制宜的进行计划调整。</p>
    <p>五、免责声明</p>
    <p>就下列相关事宜的发生，《答疑时间》学习网不承担任何法律责任：</p>
    <p>㈠用户从本网站取得的任何作品、服务或其它材料不完全符合用户的期望；</p>
    <p>㈡用户从本网站获取服务中，因用户自身原因，未能及时得到完整的服务；</p>
    <p>㈢用户从本网站下载的资料，在使用上受限及其它问题；</p>
    <p>㈣由于用户将密码告知他人或与他人共享注册账号，由此导致的任何个人信息的泄漏；</p>
    <p>㈤对于因不可抗力（地震、台风、洪水、火灾、战争）或政府禁令或互联网上的黑客攻击事件造成的网络服务中断或其它缺陷；</p>
    <p>㈥对于本网站向用户免费赠送、附赠的任何作品和服务，由于作品或者服务的质量缺陷及其引发的任何损失。</p>
    <p>六、协议修改</p>
    <p>《答疑时间》学习网有权随时修改本协议的任何条款，一旦本协议的内容发生变动，《答疑时间》学习网将会直接在网站上公布修改之后的协议内容，该公布行为视为《答疑时间》学习网已经通知用户修改内容。《答疑时间》学习网也可通过其它适当方式向用户提示修改内容。</p>
  </div>
</div>