<tr>
  <td class="col-md-1">1</td>
  <td class="col-md-6">
    <%
       start_arr = (0..23).to_a.map{|r| ["%02d:00" % r,"%02d:30" % r]}.flatten
       end_arr = start_arr.clone
       end_arr.shift
       end_arr.push('00:00')
    %>

    <%= f.input :class_date, label:false, as: :date, html5: true, input_html: {class: 'form-control lesson-class-date', min: Date.today, max: '2055-01-01'}%>
    <%=f.input :start_time, label: false, collection: start_arr, input_html: {class: 'form-control', min: Date.today, max: '2055-01-01'}%>
    <%=f.input :end_time, label: false, collection: end_arr, input_html: {class: 'form-control', min: Date.today, max: '2055-01-01'}%>
  </td>
  <td class="col-md-4">
    <%= f.input :name, label: false, placeholder: '请输入课程名称, 格式: 第X课+空格+课程标题'%>
  </td>
  <td class="col-md-1">
    <a class="remove_lesson">删除</a>
  </td>
</tr>
