<div class="live-message">
  <div class="message-title">
    <a href="javascript:void(0);" class="active">讨论</a>
    <a href="javascript:void(0);">公告</a>
    <a href="javascript:void(0);">成员</a>
  </div>
  <div class="message-content">
    <div class="message-con active">
      <div class="message-new">
        <div class="new-information">
          <div class="information-title">
            <img src="../img/person-center.png" class="information-title-img">
            <span class="information-name">狐狸精(老师)</span>
            <span class="information-time">09-12 17:32:21</span>
          </div>
          <div class="information-con">
            今天星期几？算阿斯顿阿斯顿按时阿斯顿算阿斯顿阿斯顿按时阿斯顿算阿斯顿阿斯顿按时阿斯顿算阿斯顿阿斯顿按时阿斯顿
          </div>
        </div>
        <div class="new-information">
          <div class="information-title">
            <img src="../img/person-center.png" class="information-title-img">
            <span class="information-name">狐狸精(老师)</span>
            <span class="information-time">09-12 17:32:21</span>
          </div>
          <div class="information-con">
            今天星期几？算阿斯顿阿斯顿按时阿斯顿算阿斯顿阿斯顿按时阿斯顿算阿斯顿阿斯顿按时阿斯顿算阿斯顿阿斯顿按时阿斯顿
          </div>
        </div>
      </div>

      <div class="information-face">
        <%= image_tag 'face-2.png' %>
        <%= image_tag 'face-1.png' %>
      </div>

      <div class="information-send">
        <div class="send-msg">
          <input type="text" name="" id="" value="">
          <input type="button" name="" id="" value="发送">
        </div>
      </div>
    </div>
  </div>
</div>