<% @lessons = @course.lessons %>
<div class="course-item">
  <div class="nav-item">
    <span><%= t('view.live_studio/courses.show.arrange') %></span>
  </div>

  <%= render partial: 'live_studio/courses/lesson_plan' %>
</div>