<div class="modal fade" id="publish_tips" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <%= t('view.teacher_course.tips') %>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body text-center">
        恭喜辅导班招生已开始！<br/>
        开课时间<br/>
        <div id="tips_live_start_at"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('view.course_search_show.submit_value') %></button>
      </div>
    </div>
  </div>
</div>