<div class="col-md-3 classify-left">
  <div class="aside-list">
    <div class="aside-list-head">
      <h1>全部</h1>
    </div>

    <div class="aside-list-nav">
      <%= link_to '不限', live_studio.courses_path(@search_params.merge(tags: nil)), class: "#{@search_params[:tags].present? ? '' : 'active'}" %>
      <% LiveStudio::Course.tag_counts.each do |tag| -%>
        <%= link_to tag.name, live_studio.courses_path(@search_params.merge(tags: tag.name)), class: "#{@search_params[:tags] == tag.name ? 'active' : ''}" %>
      <% end -%>
    </div>
  </div>

</div>