<div class="container container-details">
  <div class="row">
    <div class="panel panel-default panel-profile">
      <%= render partial: 'filter' %>
      <%= render partial: 'list' %>
    </div>
  </div>
</div>
