<div class="panel panel-default">
  <div class="addinvite">
    <div class="create-title">
      <div class="addinvite-title-left">
        <%= link_to '我的辅导', live_studio.teacher_courses_path(@teacher) %>
        <span>&gt;</span>
        <%= link_to '邀请和创建', live_studio.teacher_course_invitations_path(@teacher) %>
        <span>&gt;</span>
        <span>创建新辅导</span>
      </div>
    </div>

    <div class="editor-con">
      <%= render 'form' %>
    </div>
  </div>
</div>