<div class="live-head container-details">
  <div class="container">
    <%= render 'player' %>
  </div>
</div>

<div class="container">
  <%= render 'play_course_info' %>
</div>

<div class="container">
  <%= render 'play_teacher_info' %>
</div>

<div class="container">
  <%= render 'play_lessons_info' %>
</div>
