<div class="container container-details">
  <div class="row">
    <%= render partial: 'teacher_info' %>
    <%= render partial: 'course_info' %>
  </div>
</div>

<div class="container">
  <div class="row">
    <%= render partial: 'lesson_plan' %>
  </div>
</div>
