<div class="container">
  <div class="qa_sep_5"></div>
  <div class="qa_sep_15"></div>
  <div class="row">
    <div class="col-md-4">
      <p>联系我们: 15910676326 </p>
    </div>
    <div class="col-md-4">
      <p>京ICP备11008151号</p>
    </div>
  </div>
</div>