<footer>
  <div class="qa_sep_15"></div>
  <div class="qa_sep_15"></div>

  <div class="container">
    <%= link_to '常见问题' , qa_faqs_path %>
  </div>
  <div class="copyright">
    <div>Copyright © 2013-2015 QaTime.</div>
    <div>京ICP备11008151号</div>
  </div>
</footer>