<div class="qa_box">
  <div class="qa_cell">
    <div  class="pull-left">
      <%= image_tag current_user.avatar.normal %>
      <strong style="margin-left: 20px ">chuangjiabao1981</strong>
    </div>
    <div style="clear: both"></div>
    <div style="margin-top:10px">
      <div style="width:50%;border-right: 1px solid #e2e2e2;float:left;text-align: center">
        122<br/>ssss
      </div>
      <div style="width: 50%;float: left;text-align: center" >
        2222<br/>kkkkk
      </div>
    </div>
    <div style="clear: both"></div>

  </div>
  <div class="qa_cell">
    5条通知
  </div>
</div>