<!DOCTYPE html>
<html lang="cn">
<head>
  <title>Qatime</title>
  <meta name="renderer" content="webkit">

  <%= stylesheet_link_tag    "web_home", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>

  <!--script src="http://www.qatime.cn/jwplayer/jwplayer.js"></script-->
  <!--script src="http://www.qatime.cn/jwplayer/jwpsrv_frq.js"></script>
  <script src="http://www.qatime.cn/jwplayer/jwpsrv.js"></script-->



  <%= csrf_meta_tags %>
</head>
<body>


    <%= yield %>
  </div>
</body>
</html>
