<div class="box_header qa_cell">
  <div class="pull-left">
    <span class="label label-primary">
      <%= yield :_issue_count %>
    </span>
  </div>
  <div class="pull-right">
      <%= yield :_issue_new %>
  </div>
  <div style="clear:both"></div>
</div>