<div class="box_header qa_cell">
  <div class="pull-left">
      <%= yield :_issue_count %>
  </div>
  <div class="pull-right">
      <%= yield :_issue_new %>
  </div>
  <div style="clear:both"></div>
</div>